{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><span>Careers</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Careers</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><span>Careers</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:c6984db9-29a8-4e66-90e6-b9578a4298b9/Careers_HEADER_GettyImages-1131724309_Mobile@2X_828x1106px_144dpi.jpg/lang:en/Careers_HEADER_GettyImages-1131724309_Mobile@2X_828x1106px_144dpi.jpg [(max-width: 991px)] | /doc/jcr:77d3ff0c-7a3f-411b-a3c1-6357e155a693/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/lang:en/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg [(max-width: 1599px)] | /doc/jcr:77d3ff0c-7a3f-411b-a3c1-6357e155a693/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/lang:en/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg"
>
<div>
<h1>Careers</h1>
<p>A stimulating working environment for strong entrepreneurial spirits</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<h2>Empowering our private bankers to serve our clients</h2>
<p class="indent">At EFG we empower our teams to think entrepreneurially and put our clients&#039; needs first.<br/><br/>If you’re a talented professional who prefers to focus on creating the best outcomes for clients, we can offer you the role you deserve.</p>
</div>
</div>
</div>
</section><section>
<div class="container">
<div class="row section-headline mb-med">
<div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
<h2>Careers at EFG</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<div class="teaser-wrapper-block teaser1">
<article class="teaser above">
<a href="/about/careers/client-relationships.html" title="Client relationship roles">
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 768px)">
<source data-srcset="" media="(max-width: 1439px)">
<source data-srcset="/.imaging/mte/efg-revamp/1396x400/dam/efg/private-banking/Client_Relationships_Bar_Image_1680x541_72dpi.png/jcr:content/Client_Relationships_Bar_Image_1680x541_72dpi.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/1396x400/dam/efg/private-banking/Client_Relationships_Bar_Image_1680x541_72dpi.png/jcr:content/Client_Relationships_Bar_Image_1680x541_72dpi.png" width="1396" height="400" class="lazyload" alt="Client relationship roles" />
</picture>
<div class="content">
<h3>Client relationship roles</h3>
<p>A unique business model and strategy that supports you in building long-term relationships with your clients.</p>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content order-lg-2">
<h3>Join our team</h3>
<div class="text-article mt-base"><p>An environment where talent and entrepreneurial instinct yields dividends. A commitment to excellence, team-work and innovation whatever the role.</p>
</div>
<a target="_blank" href="https://fa-eqai-saasfaprod1.fa.ocs.oraclecloud.com/hcmUI/CandidateExperience/en/sites/CX_1" class="btn mt-20">Explore opportunities</a>
</div>
<div class="side-image order-lg-1">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/About_Pages/Careers/Careers_Nurturing_950x464_72dpi.png/jcr:content/Careers_Nurturing_950x464_72dpi.png"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>It all starts with a conversation</h3>
<p>Let&#039;s start ours and build something valuable today.</p>
<a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
<ul>
<li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
<li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/About_Pages/Careers/Careers_A_Career_Worth_More_688x515_72dpi.png/jcr:content/Careers_A_Career_Worth_More_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/About_Pages/Careers/Careers_A_Career_Worth_More_688x515_72dpi.png/jcr:content/Careers_A_Career_Worth_More_688x515_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>From our unique approach to our global reach, find out how we do business</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-philosophy.html" title="Bringing entrepreneurial thinking to Swiss private banking">
<span class="label">Our Philosophy</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/1920x680-efg-signs.jpg/jcr:content/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/1920x680-efg-signs.jpg/jcr:content/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg" width="548" height="280" class="lazyload" alt="Bringing entrepreneurial thinking to Swiss private banking" />
</picture>
<div class="content">
<h4>Bringing entrepreneurial thinking to Swiss private banking</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-locations.html" title="Private banking, right on your doorstep. Discover EFG in your location">
<span class="label">Our Locations</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Locations/Location_HEADER_GettyImages-1215119911_Desktop_1920x680px_72dpi.jpg/jcr:content/Location_HEADER_GettyImages-1215119911_Desktop_1920x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Locations/Location_HEADER_GettyImages-1215119911_Desktop_1920x680px_72dpi.jpg/jcr:content/Location_HEADER_GettyImages-1215119911_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Private banking, right on your doorstep. Discover EFG in your location" />
</picture>
<div class="content">
<h4>Private banking, right on your doorstep. Discover EFG in your location</h4>
<span class="link-btn">Find out more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/insights.html" title="Trends, analysis and insights from around the world, brought to you by our expert team">
<span class="label">Expert Market Insights</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Trends, analysis and insights from around the world, brought to you by our expert team" />
</picture>
<div class="content">
<h4>Trends, analysis and insights from around the world, brought to you by our expert team</h4>
<span class="link-btn">Sign up today</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
