{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|Sponsorship
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/about.html">About</a></li>
              <li><span>Our sponsorships</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Our sponsorships</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/about.html">About</a></li>
                <li><span>Our sponsorships</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/sponsor.jpg' %}"
          >
          <div>
            <h1>Our sponsorships</h1>
            <p>Supporting success beyond banking</p>
          </div>
          <div class="image-copyright">© Matteo de Fina</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Shared interests, shared values</h2>
        <p class="indent">A wide perspective is a wise perspective. That is why we support a variety of partners from music and art to sport.<br/><br/>Meet the partners who inspire us and share our values and our commitment. They are constantly creating new and innovative ways to bring their art to life, impress us with their sporting achievements, and inspire us with their ambitions. Their entrepreneurial thinking enables them to stay connected to their audiences around the world. We support them and recognise the important role that the arts, culture and sport play in all our lives.</p>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Setting a course for success</h3>
            <div class="text-article mt-base"><p>From our partnership with Team Malizia and Boris Herrmann, to our work developing the next generation of sailing talent, our association with sailing runs deep.</p>
            </div>
            <a href="/about/our-sponsorships/sailing.html" class="btn mt-20">Explore sailing</a>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/sailing.jpg' %}"></div>
            <div class="image-copyright" style="height:auto!important;">© Yvan Zedda/Alea</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="teaser-wrapper-block teaser2">
          <article class="teaser above">
            <a href="/about/our-sponsorships/jazz.html" title="Jazz">
              <picture class="image">
                <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/about/Sponsorships/828x1106jaz.jpg/jcr:content/828x1106jaz.jpg" media="(max-width: 575px)">
                  <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/about/Sponsorships/828x1106jaz.jpg/jcr:content/828x1106jaz.jpg" media="(max-width: 768px)">
                    <source data-srcset="/.imaging/mte/efg-revamp/538x400/dam/efg/about/Sponsorships/828x1106jaz.jpg/jcr:content/828x1106jaz.jpg" media="(max-width: 1439px)">
                      <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/about/Sponsorships/828x1106jaz.jpg/jcr:content/828x1106jaz.jpg">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/about/Sponsorships/828x1106jaz.jpg/jcr:content/828x1106jaz.jpg" width="688" height="400" class="lazyload" alt="Jazz" />
                      </picture>
                      <div class="content">
                        <h3>Jazz</h3>
                        <p>From EFG London Jazz Festival to Jazz Roots, Miami, we celebrate the distinctive qualities and unique talents that make Jazz exceptional.</p>
                        <span class="link-btn">Explore more </span>
                      </div>
                    </a>
                  </article>
                  <article class="teaser above">
                    <a href="/about/our-sponsorships/arts-and-lifestyle.html" title="Arts and lifestyle">
                      <picture class="image">
                        <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg" media="(max-width: 575px)">
                          <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg" media="(max-width: 768px)">
                            <source data-srcset="/.imaging/mte/efg-revamp/538x400/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg" media="(max-width: 1439px)">
                              <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg" width="688" height="400" class="lazyload" alt="Arts and lifestyle" />
                              </picture>
                              <div class="content">
                                <h3>Arts and lifestyle</h3>
                                <p>Our visual and performing art partnerships allow us to invest in, and help conserve, the future of the arts. </p>
                                <span class="link-btn">Explore more</span>
                              </div>
                            </a>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="bkg-light-grey overflow-hidden">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="side-component full align-top">
                          <div class="bkg-light-grey side-content">
                            <h3>Empowering youth and talent</h3>
                            <div class="text-article mt-base"><p>All our long-term partnerships are founded on a strong belief in the importance of investing in the entrepreneurial thinkers of the future. From sailing to simphonia we champion the future generation of these arts so that they can shape tomorrows world.</p>
                            </div>
                            <a href="/about/our-sponsorships/talent-development.html" class="btn mt-20">Explore talent development</a>
                          </div>
                          <div class="side-image">
                            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/golf.jpg' %}"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="bkg-light-grey overflow-hidden m-0">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="side-component full align-top">
                          <div class="bkg-light-grey side-content order-lg-2">
                            <h3>Committed to causes with a positive social impact</h3>
                            <div class="text-article mt-base"><p>We are proud to support Right To Play, an international humanitarian and development organisation that improves the lives of children in some of the world&rsquo;s poorest countries.</p>
                            </div>
                            <a href="/about/our-sponsorships/social-commitment.html" class="btn mt-20">Discover more</a>
                          </div>
                          <div class="side-image order-lg-1">
                            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/kidsplaying.jpg' %}"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                {% include 'itstart.html' %}{% endblock %}
