{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/about.html">About</a></li>
              <li><span>Our organisation</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Our organisation</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/about.html">About</a></li>
                <li><span>Our organisation</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:de8e1dcc-2c7f-43bf-a862-a50adfaec949/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg/lang:en/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg [(max-width: 991px)] | /doc/jcr:de8e1dcc-2c7f-43bf-a862-a50adfaec949/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg/lang:en/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg [(max-width: 1599px)] | /doc/jcr:de8e1dcc-2c7f-43bf-a862-a50adfaec949/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg/lang:en/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg"
          >
          <div>
            <h1>Our organisation</h1>
            <p>A trusted financial partner with an agile and entrepreneurial approach</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-headline mb-med">
      <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
        <h2>Our governance</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="teaser-wrapper-block teaser3">
          <article class="teaser above">
            <a href="/about/our-organization/board-of-directors.html" title="Board of Directors">
              <picture class="image">
                <source data-srcset="" media="(max-width: 575px)">
                  <source data-srcset="" media="(max-width: 768px)">
                    <source data-srcset="" media="(max-width: 1439px)">
                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/about/1920x680-efg-signs.jpg/jcr:content/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/about/1920x680-efg-signs.jpg/jcr:content/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg" width="452" height="335" class="lazyload" alt="Board of Directors" />
                      </picture>
                      <div class="content">
                        <h3>Board of Directors</h3>
                        <p>The Board of Directors has responsibility for overall direction, supervision and monitoring of business. The day-to-day management operations are delegated by the Board of Directors to the Executive Committee. The Board of Directors currently comprises 11 members, all of whom are non-executive directors.</p>
                        <span class="link-btn">Learn more</span>
                      </div>
                    </a>
                  </article>
                  <article class="teaser above">
                    <a href="/about/our-organization/executive-committee.html" title="Executive Committee">
                      <picture class="image">
                        <source data-srcset="" media="(max-width: 575px)">
                          <source data-srcset="" media="(max-width: 768px)">
                            <source data-srcset="" media="(max-width: 1439px)">
                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/about/efg-logo-4-11920x680.jpg/jcr:content/efg-logo-4-11920x680.jpg">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/about/efg-logo-4-11920x680.jpg/jcr:content/efg-logo-4-11920x680.jpg" width="452" height="335" class="lazyload" alt="Executive Committee" />
                              </picture>
                              <div class="content">
                                <h3>Executive Committee</h3>
                                <p>Consistent with strategy approved by the Board of Directors, the Executive Committee is responsible for implementing business strategies, risk management systems, risk culture, processes and controls for managing the risks – both financial and non-financial – to which EFG International is exposed and concerning which it is responsible for complying with laws, regulations and internal policies. </p>
                                <span class="link-btn">Learn more</span>
                              </div>
                            </a>
                          </article>
                          <article class="teaser above">
                            <a href="/about/our-organization/global-business-committee.html" title="Global Business Committee">
                              <picture class="image">
                                <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/About_Pages/Organisation/EFG_Logo__GKR3111.jpg/jcr:content/EFG_Logo__GKR3111.jpg" media="(max-width: 575px)">
                                  <source data-srcset="/.imaging/mte/efg-revamp/1376x800/dam/efg/EFG_2021/About_Pages/Organisation/EFG_Logo__GKR3111.jpg/jcr:content/EFG_Logo__GKR3111.jpg" media="(max-width: 768px)">
                                    <source data-srcset="/.imaging/mte/efg-revamp/352x355/dam/efg/EFG_2021/About_Pages/Organisation/EFG_Logo__GKR3111.jpg/jcr:content/EFG_Logo__GKR3111.jpg" media="(max-width: 1439px)">
                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/About_Pages/Organisation/EFG_Logo__GKR3111.jpg/jcr:content/EFG_Logo__GKR3111.jpg">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/About_Pages/Organisation/EFG_Logo__GKR3111.jpg/jcr:content/EFG_Logo__GKR3111.jpg" width="452" height="335" class="lazyload" alt="Global Business Committee" />
                                      </picture>
                                      <div class="content">
                                        <h3>Global Business Committee</h3>
                                        <p>The Global Business Committee (GBC) has an advisory role to the Executive Committee in assessing and validating business strategies, key business aspects and priorities as well as in debating industry trends and issues. The GBC consists of the members of EFG International’s Executive Committee, the regional Heads and selected senior managers.</p>
                                        <span class="link-btn">Learn more</span>
                                      </div>
                                    </a>
                                  </article>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section><section>
                          <div class="container">
                            <div class="row">
                              <div class="col-12 col-xl-10 mx-auto">
                                <div class="teaser-wrapper-block teaser3">
                                  <article class="teaser above">
                                    <a href="/about/our-organization/auditor.html" title="Auditor">
                                      <picture class="image">
                                        <source data-srcset="" media="(max-width: 575px)">
                                          <source data-srcset="" media="(max-width: 768px)">
                                            <source data-srcset="" media="(max-width: 1439px)">
                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/Organisation/Our_Auditors_And_Regulations/Our_Auditors_And_regulations_Bar_Image_1680x541_72dpi.png/jcr:content/Our_Auditors_And_regulations_Bar_Image_1680x541_72dpi.png">
                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/Organisation/Our_Auditors_And_Regulations/Our_Auditors_And_regulations_Bar_Image_1680x541_72dpi.png/jcr:content/Our_Auditors_And_regulations_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Auditor" />
                                              </picture>
                                              <div class="content">
                                                <h3>Auditor</h3>
                                                <p>EFG appointed PricewaterhouseCoopers SA (PwC), Geneva as statutory and group auditor.</p>
                                                <span class="link-btn">Learn more</span>
                                              </div>
                                            </a>
                                          </article>
                                          <article class="teaser above">
                                            <a href="/about/our-organization/regulations.html" title="Management and organisation regulations">
                                              <picture class="image">
                                                <source data-srcset="" media="(max-width: 575px)">
                                                  <source data-srcset="" media="(max-width: 768px)">
                                                    <source data-srcset="" media="(max-width: 1439px)">
                                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/About_Pages/Organisation/WEB_Conference_Room_1680x540px.jpg/jcr:content/WEB_Conference_Room_1680x540px.jpg">
                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/About_Pages/Organisation/WEB_Conference_Room_1680x540px.jpg/jcr:content/WEB_Conference_Room_1680x540px.jpg" width="452" height="335" class="lazyload" alt="Management and organisation regulations" />
                                                      </picture>
                                                      <div class="content">
                                                        <h3>Management and organisation regulations</h3>
                                                        <p>The regulations define the organization and responsibilities of the board of directors, the Executive Committee and of the internal control functions.</p>
                                                        <span class="link-btn">Read regulations</span>
                                                      </div>
                                                    </a>
                                                  </article>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                        
                                        {% include 'itstart.html' %}{% endblock %}
