{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/about.html">About</a></li>
              <li><span>Sustainability</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Sustainability</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/about.html">About</a></li>
                <li><span>Sustainability</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/value.jpg' %}"
          >
          <div>
            <h1>Sustainability</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Our Approach to Sustainability</h2>
        <p class="indent">Our primary goal at EFG is to create profitable and sustainable growth for the benefit of our clients, shareholders, employees and society as a whole. We strive to be a reliable and professional financial partner and an attractive employer. We also take account of social and environmental aspects when conducting our business to ensure the prosperity of future generations.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>Our Sustainability Strategy</h3>
          <p>At EFG, we believe that sustainability is all about choosing the right path to balance economic, environmental and social interests. We are also convinced that a responsible approach to business that includes robust governance is a prerequisite to achieve long-term success. We strive to apply the highest standards of business and ethical conduct in all aspects of our work in order to build relationships of trust and create sustained value for all our stakeholders.</p>
          <p>EFG&rsquo;s sustainability strategy is designed to help us better integrate sustainability aspects into our business model and meet the growing demand for sustainable finance. It is based on two main pillars: Our responsibility as an asset allocator on behalf of our clients and our responsibility as a firm.</p>
          <p>Our first priority as a private bank is to deliver superior service and advice as well as high-quality investment, wealth and credit solutions to our clients around the globe. We aim to meet the current and future needs and expectations of our clients &ndash; including the Next Generation. At the same time, as an asset allocator, we are driving change by directing assets on behalf of our clients toward transformative technologies and companies that support sustainable development and innovation. We do so by providing greater transparency regarding investment opportunities as well as by integrating ESG criteria and ESG-related risk considerations into our investment process and continuously expanding our responsible investment offering. In this way, we are supporting efforts to realise the UN Sustainable Development Goals (SDGs).</p>
          <p>As a firm, we aim to be an employer of choice that can attract and retain talented people. We are committed to providing an inclusive working environment in which all our employees are valued equally and can achieve their full potential. As an integral part of society, we are committed to serving the interests of the communities in which we live and work and to helping protect the environment.<br />
            &nbsp;</p>
            <picture class="image position-relative">
              <source data-srcset="/doc/jcr:b1bbf27b-091e-4516-af26-a29be9cda03d/Strategy_Framework.jpg/lang:en/Strategy_Framework.jpg" media="(max-width: 575px)">
                <source data-srcset="/doc/jcr:b1bbf27b-091e-4516-af26-a29be9cda03d/Strategy_Framework.jpg/lang:en/Strategy_Framework.jpg" media="(max-width: 991px)">
                  <source data-srcset="/doc/jcr:b1bbf27b-091e-4516-af26-a29be9cda03d/Strategy_Framework.jpg/lang:en/Strategy_Framework.jpg" media="(max-width: 1599px)">
                    <source data-srcset="{% static 'images/about/sustainability.jpg' %}">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static 'images/about/sustainability.jpg' %}" width="1392" height="617" class="lazyload" alt="Our Sustainability Strategy" />
                    </picture>
                  </article>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="container">
              <div class="row download-component">
                <div class="col-12 col-lg-7 col-xl-6 offset-xl-1">
                  <div class="download-component-content">
                    <span class="label">DOWNLOAD PDF</span>
                    <h3>Get the full EFG Sustainability Report 2022</h3>
                    <p>EFG’s Sustainability Report 2022 summarises our approach to the topic as well as main activities in 2022. Download the full version of our report today.</p>
                  </div>
                </div>
                <div class="col-12 col-lg-5 col-xl-4">
                  <div class="download-component-form">
                    <div class="d-inline-block w-100">
                      <h4 class="txt-white mb-2">PDF Download</h4>
                      <p class="txt-text-4 mb-2">To download your full copy of the report, click here.</p>
                    </div>
                    <div>
                      <a target="_blank" href="/doc/jcr:ca3e4062-b40e-4d42-bba8-b0eed188abbb/sustainability%20report%202022.pdf/lang:en/sustainability report 2022.pdf" class="btn btn-square w-100">Download</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><section>
            <div class="container">
              <div class="row teaser-wrapper">
                <div class="col-12 col-lg-4">
                  <article class="teaser">
                    <a href="/insights/2022/i_am_passionate_about_conserving_the_ocean.html" title="Boris Herrmann: “I am passionate about conserving the Ocean”">
                      <span class="label">Insight</span>
                      <div class="content">
                        <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Boris Herrmann: “I am passionate about conserving the Ocean”</h4>
                        <span class="link-btn">Learn more</span>
                      </div>
                      <picture class="image">
                        <source data-srcset="/doc/jcr:c37336b4-de0d-461f-a5a2-cb0c3601a8ba/Insight_Malizia_Boris_Herrmann_Interview_548x280px.jpg/lang:en/Insight_Malizia_Boris_Herrmann_Interview_548x280px.jpg">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:c37336b4-de0d-461f-a5a2-cb0c3601a8ba/Insight_Malizia_Boris_Herrmann_Interview_548x280px.jpg/lang:en/Insight_Malizia_Boris_Herrmann_Interview_548x280px.jpg" width="548" height="280" class="lazyload" alt="Boris Herrmann: “I am passionate about conserving the Ocean”" />
                        </picture>
                      </a>
                    </article>
                  </div>
                  <div class="col-12 col-lg-4">
                    <article class="teaser">
                      <a href="/insights/2022/it_is_amazing_to_see_that_children-want_to_take_action.html" title=" “It is amazing to see that children want to take action”">
                        <span class="label">Insight</span>
                        <div class="content">
                          <h4 class="truncate" data-line="2" data-min-width="1200" data-title=""> “It is amazing to see that children want to take action”</h4>
                          <span class="link-btn">Learn more</span>
                        </div>
                        <picture class="image">
                          <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2022/September/efg_interview_with_birte_lorenzen-herrmann/Insight_Malizia_Birte_Lorenzen-Herrmann_530x395px.jpg/jcr:content/Insight_Malizia_Birte_Lorenzen-Herrmann_530x395px.jpg">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2022/September/efg_interview_with_birte_lorenzen-herrmann/Insight_Malizia_Birte_Lorenzen-Herrmann_530x395px.jpg/jcr:content/Insight_Malizia_Birte_Lorenzen-Herrmann_530x395px.jpg" width="548" height="280" class="lazyload" alt=" “It is amazing to see that children want to take action”" />
                          </picture>
                        </a>
                      </article>
                    </div>
                    <div class="col-12 col-lg-4">
                      <article class="teaser">
                        <a href="/insights/2022/climate_change_pandemics_and_conflicts_are_rolling_back_decades_of_progress_for_girls.html" title="“Climate change, pandemics, and conflicts are rolling back decades of progress for girls”">
                          <span class="label">Insight</span>
                          <div class="content">
                            <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">“Climate change, pandemics, and conflicts are rolling back decades of progress for girls”</h4>
                            <span class="link-btn">Learn more</span>
                          </div>
                          <picture class="image">
                            <source data-srcset="/doc/jcr:0f27bd14-6570-46e5-93cf-228094a069e2/Insight_RightToPlay_InterviewSusanMcIsaac_548x280px.jpg/lang:en/Insight_RightToPlay_InterviewSusanMcIsaac_548x280px.jpg">
                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:0f27bd14-6570-46e5-93cf-228094a069e2/Insight_RightToPlay_InterviewSusanMcIsaac_548x280px.jpg/lang:en/Insight_RightToPlay_InterviewSusanMcIsaac_548x280px.jpg" width="548" height="280" class="lazyload" alt="“Climate change, pandemics, and conflicts are rolling back decades of progress for girls”" />
                            </picture>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                </section><section>
                  <div class="container">
                    <div class="row section-headline mb-med">
                      <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
                        <h2>Responsible investing</h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-xl-10 mx-auto">
                        <div class="teaser-wrapper-block teaser1">
                          <article class="teaser above">
                            <a href="/asset-management/responsible-investing.html" title="An integrated approach for responsible investing">
                              <picture class="image">
                                <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/About_Pages/Sustainability/Responsible_Investing_Teaser_1396x400px_2.jpg/jcr:content/Responsible_Investing_Teaser_1396x400px_2.jpg" media="(max-width: 575px)">
                                  <source data-srcset="/.imaging/mte/efg-revamp/670x800/dam/efg/EFG_2021/About_Pages/Sustainability/Responsible_Investing_Teaser_1396x400px_2.jpg/jcr:content/Responsible_Investing_Teaser_1396x400px_2.jpg" media="(max-width: 768px)">
                                    <source data-srcset="/.imaging/mte/efg-revamp/1096x400/dam/efg/EFG_2021/About_Pages/Sustainability/Responsible_Investing_Teaser_1396x400px_2.jpg/jcr:content/Responsible_Investing_Teaser_1396x400px_2.jpg" media="(max-width: 1439px)">
                                      <source data-srcset="/doc/jcr:d97906c9-1825-47af-8e1d-f226270b3c34/Responsible_Investing_Teaser_1396x400px_2.jpg/lang:en/Responsible_Investing_Teaser_1396x400px_2.jpg">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:d97906c9-1825-47af-8e1d-f226270b3c34/Responsible_Investing_Teaser_1396x400px_2.jpg/lang:en/Responsible_Investing_Teaser_1396x400px_2.jpg" width="1396" height="400" class="lazyload" alt="An integrated approach for responsible investing" />
                                      </picture>
                                      <div class="content">
                                        <h3>An integrated approach for responsible investing</h3>
                                        <p>Investing in a sustainable and responsible manner has rapidly become a much more important consideration for banks, asset managers, their clients, shareholders and society at large. At EFG we believe when selecting and managing investments we must take ESG criteria into account. Despite its many challenges we see integration as the most sensible approach to meet the requirements of our investors and the broader aims of the economy, the environment and society. Although this will be an evolving journey, it is our intention to clarify our approach to this significant topic through the selection of the below explanatory pieces.</p>
                                        <span class="link-btn">Find out more</span>
                                      </div>
                                    </a>
                                  </article>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        {% include 'itstart.html' %}{% endblock %}
