{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/investors.html">Investors</a></li>
              <li><span>Analyst coverage</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Analyst coverage</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/investors.html">Investors</a></li>
                <li><span>Analyst coverage</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/analyst.jpg' %}"
          >
          <div>
            <h1>Analyst coverage</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <article class="table-download-wrapper">
          <table class="table-download-desktop">
            <tbody>
              <tr>
                <th>Firm name</th>
                <th>Analyst&#039;s name</th>
                <th>Phone</th>
              </tr>
              <tr>
                <td>
                  <p>AlphaValue</p>
                </td>
                <td>
                  <p>Dieter Hein</p>
                </td>
                <td>
                  <p>+33 1 70 61 10 50</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Citi</p>
                </td>
                <td>
                  <p>Nicholas Herman</p>
                </td>
                <td>
                  <p>+44 20 7986 4203</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Mediobanca</p>
                </td>
                <td>
                  <p>Adam Terelak</p>
                </td>
                <td>
                  <p>+44 20 3036 9574</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Octavian&nbsp;</p>
                </td>
                <td>
                  <p>Anne-Chantal Risold</p>
                </td>
                <td>
                  <p>+41 44 520 57 86</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Research Partners AG</p>
                </td>
                <td>
                  <p>Rainer Skierka</p>
                </td>
                <td>
                  <p>+41 44 533 40 30</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>UBS</p>
                </td>
                <td>
                  <p>Daniele Brupbacher</p>
                </td>
                <td>
                  <p>+41 44 239 14 93</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Vontobel</p>
                </td>
                <td>
                  <p>Andreas Venditti</p>
                </td>
                <td>
                  <p>+41 58 283 58 49</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>ZKB</p>
                </td>
                <td>
                  <p>Michael Klien</p>
                </td>
                <td>
                  <p>+41 44 292 35 87</p>
                </td>
              </tr> </tbody>
            </table>
            <div class="table-download-mobile">
              <div></div>
              <div class="table-download-component">
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>AlphaValue
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Dieter Hein</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+33 1 70 61 10 50</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>Citi
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Nicholas Herman</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+44 20 7986 4203</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>Mediobanca
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Adam Terelak</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+44 20 3036 9574</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>Octavian&nbsp;
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Anne-Chantal Risold</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+41 44 520 57 86</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>Research Partners AG
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Rainer Skierka</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+41 44 533 40 30</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>UBS
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Daniele Brupbacher</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+41 44 239 14 93</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>Vontobel
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Andreas Venditti</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+41 58 283 58 49</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Firm name</span>ZKB
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Analyst&#039;s name</span></p>
                        <p>Michael Klien</p>
                      </li>
                      <li>
                        <p><span>Phone</span></p>
                        <p>+41 44 292 35 87</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  {% include 'itstart.html' %}{% endblock %}
