{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Analyst coverage</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Analyst coverage</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Analyst coverage</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:9978bbe6-8761-4dc9-944d-27b675770fa8/1920x680-analystcoverage-4.jpg/lang:en/1920x680-analystcoverage-4.jpg [(max-width: 991px)] | /doc/jcr:9978bbe6-8761-4dc9-944d-27b675770fa8/1920x680-analystcoverage-4.jpg/lang:en/1920x680-analystcoverage-4.jpg [(max-width: 1599px)] | /doc/jcr:9978bbe6-8761-4dc9-944d-27b675770fa8/1920x680-analystcoverage-4.jpg/lang:en/1920x680-analystcoverage-4.jpg"
>
<div>
<h1>Analyst coverage</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tbody>
<tr>
<th>Firm name</th>
<th>Analyst&#039;s name</th>
<th>Phone</th>
</tr>
<tr>
<td>
<p>AlphaValue</p>
</td>
<td>
<p>Dieter Hein</p>
</td>
<td>
<p>+33 1 70 61 10 50</p>
</td>
</tr>
<tr>
<td>
<p>Citi</p>
</td>
<td>
<p>Nicholas Herman</p>
</td>
<td>
<p>+44 20 7986 4203</p>
</td>
</tr>
<tr>
<td>
<p>Mediobanca</p>
</td>
<td>
<p>Adam Terelak</p>
</td>
<td>
<p>+44 20 3036 9574</p>
</td>
</tr>
<tr>
<td>
<p>Octavian&nbsp;</p>
</td>
<td>
<p>Anne-Chantal Risold</p>
</td>
<td>
<p>+41 44 520 57 86</p>
</td>
</tr>
<tr>
<td>
<p>Research Partners AG</p>
</td>
<td>
<p>Rainer Skierka</p>
</td>
<td>
<p>+41 44 533 40 30</p>
</td>
</tr>
<tr>
<td>
<p>UBS</p>
</td>
<td>
<p>Daniele Brupbacher</p>
</td>
<td>
<p>+41 44 239 14 93</p>
</td>
</tr>
<tr>
<td>
<p>Vontobel</p>
</td>
<td>
<p>Andreas Venditti</p>
</td>
<td>
<p>+41 58 283 58 49</p>
</td>
</tr>
<tr>
<td>
<p>ZKB</p>
</td>
<td>
<p>Michael Klien</p>
</td>
<td>
<p>+41 44 292 35 87</p>
</td>
</tr> </tbody>
</table>
<div class="table-download-mobile">
<div></div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"><span>Firm name</span>AlphaValue
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Dieter Hein</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+33 1 70 61 10 50</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>Citi
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Nicholas Herman</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+44 20 7986 4203</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>Mediobanca
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Adam Terelak</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+44 20 3036 9574</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>Octavian&nbsp;
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Anne-Chantal Risold</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+41 44 520 57 86</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>Research Partners AG
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Rainer Skierka</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+41 44 533 40 30</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>UBS
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Daniele Brupbacher</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+41 44 239 14 93</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>Vontobel
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Andreas Venditti</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+41 58 283 58 49</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Firm name</span>ZKB
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Analyst&#039;s name</span></p>
<p>Michael Klien</p>
</li>
<li>
<p><span>Phone</span></p>
<p>+41 44 292 35 87</p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>Get in touch with Investor Relations</h3>
<p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
<div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
Jens Brueckner<br />
Phone: +41 44 226 17 99</p>
<p><strong>Investor Relations</strong></p>
</div>
<ul class="mt-0">
<li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
<li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#496920273f2c3a3d263b3b2c25283d2026273a092c2f2e20273d2c3b27283d2026272825672a2624"><strong> <span class="__cf_email__" data-cfemail="f29b9c849781869d8080979e93869b9d9c81b29794959b9c8697809c93869b9d9c939edc919d9f">[email&#160;protected]</span></strong></a></li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>From our unique point of view to our performance, find out more about EFG</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/media.html" title="Read our latest news and releases">
<span class="label">Media</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png" width="548" height="280" class="lazyload" alt="Read our latest news and releases" />
</picture>
<div class="content">
<h4>Read our latest news and releases</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors.html" title="Financial reports, presentations and more">
<span class="label">Investors</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg" width="548" height="280" class="lazyload" alt="Financial reports, presentations and more" />
</picture>
<div class="content">
<h4>Financial reports, presentations and more</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/insights.html" title="Expert insight that cuts through the noise">
<span class="label">Insights</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Expert insight that cuts through the noise" />
</picture>
<div class="content">
<h4>Expert insight that cuts through the noise</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
