{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Annual General Meeting</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Annual General Meeting</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Annual General Meeting</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:6030bf76-093a-4dc5-89a3-261e3706ec8d/agm-2-1920x680.jpg/lang:en/agm-2-1920x680.jpg [(max-width: 991px)] | /doc/jcr:6030bf76-093a-4dc5-89a3-261e3706ec8d/agm-2-1920x680.jpg/lang:en/agm-2-1920x680.jpg [(max-width: 1599px)] | /doc/jcr:6030bf76-093a-4dc5-89a3-261e3706ec8d/agm-2-1920x680.jpg/lang:en/agm-2-1920x680.jpg"
>
<div>
<h1>Annual General Meeting</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<article class="text-article">
<h3>AGM: requests and rights </h3>
<p>The General Meeting of Shareholders is the supreme corporate body.</p>
<p>The General Meeting is convened by the Board of Directors, if necessary by the auditor.</p>
<p>One or more shareholders who together represent at least ten percent of the share capital may request in writing that a General Meeting be held, stating the item of business for discussion and the motions. The request shall be directed to the Board of Directors.</p>
<p>Shareholders representing shares with a nominal value of at least 1 million Swiss francs may request in writing that an item of business be placed on the agenda until 40 days at the latest before the date of the meeting, provided that they state the relevant motions.</p>
<p>The General Meeting has the following inalienable powers:</p>
<ol>
<li>Drawing up and amending the articles of association.</li>
<li>Electing and dismissing the members of the Board of Directors and the auditors and the group&#39;s auditors.</li>
<li>Approving the annual report.</li>
<li>Approving the annual accounts and deciding on the appropriation of net income, particularly fixing the dividend and directors&#39; fees (directors&#39; royalties).</li>
<li>Granting discharge to the members of the Board of Directors.</li>
<li>Taking decisions on all other matters that come within the remit of the General Meeting by law or under the articles of association or which are referred to it by the Board of Directors for a decision.</li>
</ol>
</article>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<article class="text-article">
<h3>Recent AGM information </h3>
</article>
</div>
</div>
</div>
</section>
<div class="tab-item" id="tab_1">
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container1 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container1">
<tr>
<th>Extraordinary General Meeting 2022</th>
<th></th>
</tr>
<tr>
<td>
Invitation &amp; Agenda
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:en/2022_10_06 Invitation ENG.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:de/2022_10_06 Invitation DE.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
</ul>
</td>
</tr>
<tr>
<td>
Media Release
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:9d5ce657-6689-452f-acc3-79f6faf7f225/EFG%20International%20Media%20Release_061022_EN.pdf/lang:en/EFG International Media Release_061022_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
</ul>
</td>
</tr>
<tr>
<td>
Minutes
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Minutes ', 'download', this.href);" href="/doc/jcr:9ef15268-16ad-4a23-8c38-a0cba15c732d/2022_10_06%20Minutes%20signed.pdf/lang:en/2022_10_06 Minutes signed.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Invitation &amp; Agenda<span>2 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:en/2022_10_06 Invitation ENG.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:de/2022_10_06 Invitation DE.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Media Release<span>1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:9d5ce657-6689-452f-acc3-79f6faf7f225/EFG%20International%20Media%20Release_061022_EN.pdf/lang:en/EFG International Media Release_061022_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Minutes <span>1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Minutes ', 'download', this.href);" href="/doc/jcr:9ef15268-16ad-4a23-8c38-a0cba15c732d/2022_10_06%20Minutes%20signed.pdf/lang:en/2022_10_06 Minutes signed.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container2 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container2">
<tr>
<th>Annual General Meeting 2022</th>
<th></th>
</tr>
<tr>
<td>
Invitation &amp; Agenda
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:en/2022.04.29 AGM EFGI 2022_Invitation_ENG.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:de/2022.04.29_AGM EFGI 2022_Invitation DE.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
</ul>
</td>
</tr>
<tr>
<td>
Articles of Association: proposed amendments
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:en/Annex - Revised Articles of Association_ ENG.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:de/Annex - Revised Articles of Association_ German.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
</ul>
</td>
</tr>
<tr>
<td>
Media Release
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:28c9f5f5-e7db-4025-a757-0222ff008474/EFG%20International%20Media%20Release_290422_AGM_EN.pdf/lang:en/EFG International Media Release_290422_AGM_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
</ul>
</td>
</tr>
<tr>
<td>
Minutes
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Minutes', 'download', this.href);" href="/doc/jcr:f444c992-27a3-42e8-9904-cd3cf0a841ce/Minutes%20signed%20off.pdf/lang:en/Minutes signed off.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Invitation &amp; Agenda<span>2 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:en/2022.04.29 AGM EFGI 2022_Invitation_ENG.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:de/2022.04.29_AGM EFGI 2022_Invitation DE.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Articles of Association: proposed amendments<span>2 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:en/Annex - Revised Articles of Association_ ENG.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:de/Annex - Revised Articles of Association_ German.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Media Release<span>1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:28c9f5f5-e7db-4025-a757-0222ff008474/EFG%20International%20Media%20Release_290422_AGM_EN.pdf/lang:en/EFG International Media Release_290422_AGM_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Minutes<span>1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Minutes', 'download', this.href);" href="/doc/jcr:f444c992-27a3-42e8-9904-cd3cf0a841ce/Minutes%20signed%20off.pdf/lang:en/Minutes signed off.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
</div>
<section class="bkg-light-grey overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content">
<h3>Looking for details on a previous AGM?</h3>
<div class="text-article mt-base"><p>All previous meeting details are at your disposal and organised yearly for you to easily locate.</p>
</div>
<a href="/investors/annual-general-meeting/agm-archive.html" class="btn mt-20">Access archive</a>
</div>
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/investors/investors/WEB_AccessArchive_EFG_Genf_GKR0293_730x487px.jpg/jcr:content/WEB_AccessArchive_EFG_Genf_GKR0293_730x487px.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>Get in touch with Investor Relations</h3>
<p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
<div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
Jens Brueckner<br />
Phone: +41 44 226 17 99</p>
<p><strong>Investor Relations</strong></p>
</div>
<ul class="mt-0">
<li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
<li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#fcdc95928a998f88938e8e99909d889593928fbc999a9b959288998e929d889593929d90d29f9391"><strong> <span class="__cf_email__" data-cfemail="8ae3e4fceff9fee5f8f8efe6ebfee3e5e4f9caefecede3e4feeff8e4ebfee3e5e4ebe6a4e9e5e7">[email&#160;protected]</span></strong></a></li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>Services and updates for investors, shareholders and analysts.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/financial-results.html" title="Get full access to our regular financial reports">
<span class="label">Financial reports</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg" width="548" height="280" class="lazyload" alt="Get full access to our regular financial reports" />
</picture>
<div class="content">
<h4>Get full access to our regular financial reports</h4>
<span class="link-btn">Learn more </span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/presentations.html" title="Delivering you key investor presentations">
<span class="label">Presentations</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/WEB_Investors_Presentations_1680x540px.jpg/jcr:content/WEB_Investors_Presentations_1680x540px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/WEB_Investors_Presentations_1680x540px.jpg/jcr:content/WEB_Investors_Presentations_1680x540px.jpg" width="548" height="280" class="lazyload" alt="Delivering you key investor presentations" />
</picture>
<div class="content">
<h4>Delivering you key investor presentations</h4>
<span class="link-btn">Learn more </span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/financial-calendar-and-events.html" title="Experience our latest events">
<span class="label">Events</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/Events/1920x680-events-warmer.jpg/jcr:content/events-warm.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/Events/1920x680-events-warmer.jpg/jcr:content/events-warm.png" width="548" height="280" class="lazyload" alt="Experience our latest events" />
</picture>
<div class="content">
<h4>Experience our latest events</h4>
<span class="link-btn">Learn more </span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
