{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/investors.html">Investors</a></li>
              <li><span>Annual General Meeting</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Annual General Meeting</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/investors.html">Investors</a></li>
                <li><span>Annual General Meeting</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/solution.jpg' %}"
          >
          <div>
            <h1>Annual General Meeting</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>AGM: requests and rights </h3>
          <p>The General Meeting of Shareholders is the supreme corporate body.</p>
          <p>The General Meeting is convened by the Board of Directors, if necessary by the auditor.</p>
          <p>One or more shareholders who together represent at least ten percent of the share capital may request in writing that a General Meeting be held, stating the item of business for discussion and the motions. The request shall be directed to the Board of Directors.</p>
          <p>Shareholders representing shares with a nominal value of at least 1 million Swiss francs may request in writing that an item of business be placed on the agenda until 40 days at the latest before the date of the meeting, provided that they state the relevant motions.</p>
          <p>The General Meeting has the following inalienable powers:</p>
          <ol>
            <li>Drawing up and amending the articles of association.</li>
            <li>Electing and dismissing the members of the Board of Directors and the auditors and the group&#39;s auditors.</li>
            <li>Approving the annual report.</li>
            <li>Approving the annual accounts and deciding on the appropriation of net income, particularly fixing the dividend and directors&#39; fees (directors&#39; royalties).</li>
            <li>Granting discharge to the members of the Board of Directors.</li>
            <li>Taking decisions on all other matters that come within the remit of the General Meeting by law or under the articles of association or which are referred to it by the Board of Directors for a decision.</li>
          </ol>
        </article>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>Recent AGM information </h3>
        </article>
      </div>
    </div>
  </div>
</section>
<div class="tab-item" id="tab_1">
  <section class="mt-small">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-10 mx-auto">
          <style>
            .table-download-wrapper .table-download-desktop.language-document-container1 tbody tr th:last-child {
              width: 50%;
            }
          </style>
          <article class="table-download-wrapper">
            <table class="table-download-desktop language-document-container1">
              <tr>
                <th>Extraordinary General Meeting 2022</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  Invitation &amp; Agenda
                </td>
                <td>
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:en/2022_10_06 Invitation ENG.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:de/2022_10_06 Invitation DE.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Media Release
                </td>
                <td>
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:9d5ce657-6689-452f-acc3-79f6faf7f225/EFG%20International%20Media%20Release_061022_EN.pdf/lang:en/EFG International Media Release_061022_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  Minutes
                </td>
                <td>
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Minutes ', 'download', this.href);" href="/doc/jcr:9ef15268-16ad-4a23-8c38-a0cba15c732d/2022_10_06%20Minutes%20signed.pdf/lang:en/2022_10_06 Minutes signed.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                  </ul>
                </td>
              </tr> </table>
              <div class="table-download-mobile">
                <div>Documents</div>
                <div class="table-download-component">
                  <div>
                    <a href="#" class="table-download-head">Invitation &amp; Agenda<span>2 available downloads</span></a>
                    <div class="table-download-content">
                      <ul>
                        <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:en/2022_10_06 Invitation ENG.pdf" target="_blank">
                          <span>
                            <i class="icon-efg-pdf"></i>
                          </span>
                          <p>Download</p>
                          <p class="note">PDF - English</p>
                        </a></li>
                        <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:f1cd5ef6-3bcb-46a5-b742-8462a079b2b9/2022_10_06%20Invitation%20ENG.pdf/lang:de/2022_10_06 Invitation DE.pdf" target="_blank">
                          <span>
                            <i class="icon-efg-pdf"></i>
                          </span>
                          <p>Download</p>
                          <p class="note">PDF - Deutsch</p>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <a href="#" class="table-download-head">Media Release<span>1 available download</span></a>
                    <div class="table-download-content">
                      <ul>
                        <li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:9d5ce657-6689-452f-acc3-79f6faf7f225/EFG%20International%20Media%20Release_061022_EN.pdf/lang:en/EFG International Media Release_061022_EN.pdf" target="_blank">
                          <span>
                            <i class="icon-efg-pdf"></i>
                          </span>
                          <p>Download</p>
                          <p class="note">PDF - English</p>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <a href="#" class="table-download-head">Minutes <span>1 available download</span></a>
                    <div class="table-download-content">
                      <ul>
                        <li><a onclick="ga('send', 'event', 'Minutes ', 'download', this.href);" href="/doc/jcr:9ef15268-16ad-4a23-8c38-a0cba15c732d/2022_10_06%20Minutes%20signed.pdf/lang:en/2022_10_06 Minutes signed.pdf" target="_blank">
                          <span>
                            <i class="icon-efg-pdf"></i>
                          </span>
                          <p>Download</p>
                          <p class="note">PDF - English</p>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-small">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-10 mx-auto">
            <style>
              .table-download-wrapper .table-download-desktop.language-document-container2 tbody tr th:last-child {
                width: 50%;
              }
            </style>
            <article class="table-download-wrapper">
              <table class="table-download-desktop language-document-container2">
                <tr>
                  <th>Annual General Meeting 2022</th>
                  <th></th>
                </tr>
                <tr>
                  <td>
                    Invitation &amp; Agenda
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:en/2022.04.29 AGM EFGI 2022_Invitation_ENG.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                      <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:de/2022.04.29_AGM EFGI 2022_Invitation DE.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Articles of Association: proposed amendments
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:en/Annex - Revised Articles of Association_ ENG.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                      <li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:de/Annex - Revised Articles of Association_ German.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Media Release
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:28c9f5f5-e7db-4025-a757-0222ff008474/EFG%20International%20Media%20Release_290422_AGM_EN.pdf/lang:en/EFG International Media Release_290422_AGM_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Minutes
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Minutes', 'download', this.href);" href="/doc/jcr:f444c992-27a3-42e8-9904-cd3cf0a841ce/Minutes%20signed%20off.pdf/lang:en/Minutes signed off.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr> </table>
                <div class="table-download-mobile">
                  <div>Documents</div>
                  <div class="table-download-component">
                    <div>
                      <a href="#" class="table-download-head">Invitation &amp; Agenda<span>2 available downloads</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:en/2022.04.29 AGM EFGI 2022_Invitation_ENG.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                          <li><a onclick="ga('send', 'event', 'Invitation &amp; Agenda', 'download', this.href);" href="/doc/jcr:298c62bf-a205-49b6-afd9-a38ab58460b7/2022.04.29%20AGM%20EFGI%202022_Invitation_ENG.pdf/lang:de/2022.04.29_AGM EFGI 2022_Invitation DE.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - Deutsch</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Articles of Association: proposed amendments<span>2 available downloads</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:en/Annex - Revised Articles of Association_ ENG.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                          <li><a onclick="ga('send', 'event', 'Articles of Association: proposed amendments', 'download', this.href);" href="/doc/jcr:a667d50e-97ab-4103-b10e-8d156db6dad1/Annex%20-%20Revised%20Articles%20of%20Association_%20ENG.pdf/lang:de/Annex - Revised Articles of Association_ German.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - Deutsch</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Media Release<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Media Release', 'download', this.href);" href="/doc/jcr:28c9f5f5-e7db-4025-a757-0222ff008474/EFG%20International%20Media%20Release_290422_AGM_EN.pdf/lang:en/EFG International Media Release_290422_AGM_EN.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Minutes<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Minutes', 'download', this.href);" href="/doc/jcr:f444c992-27a3-42e8-9904-cd3cf0a841ce/Minutes%20signed%20off.pdf/lang:en/Minutes signed off.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="bkg-light-grey overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="side-component full align-top">
              <div class="bkg-light-grey side-content">
                <h3>Looking for details on a previous AGM?</h3>
                <div class="text-article mt-base"><p>All previous meeting details are at your disposal and organised yearly for you to easily locate.</p>
                </div>
                <a href="/investors/annual-general-meeting/agm-archive.html" class="btn mt-20">Access archive</a>
              </div>
              <div class="side-image">
                <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/calander.jpg' %}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'itstart.html' %}{% endblock %}
