{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/investors.html">Investors</a></li>
              <li><span>Financial calendar and events</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Financial calendar and events</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/investors.html">Investors</a></li>
                <li><span>Financial calendar and events</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/calander.jpg' %}"
          >
          <div>
            <h1>Financial calendar and events</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Full-year 2022 results webcast</h3>
            <div class="text-article mt-base"><p>Webcast of the analyst meeting in Zurich with presentations by:</p>
              <p><strong>Giorgio Pradelli,</strong><br />
                Chief Executive Officer</p>
                <p><strong>Dimitris Politis,</strong><br />
                  Chief Financial Officer</p>
                </div>
                <a target="_blank" href="https://media.choruscall.eu/mediaframe/webcast.html?webcastid=jS42Iw3C" class="btn mt-20">Replay</a>
              </div>
              <div class="side-image">
                <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/calander.jpg' %}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-small">
      <div class="container">
        <div class="row">
          <div class="col-12 col-xl-10 mx-auto">
            <style>
              .table-download-wrapper .table-download-desktop.language-document-container1 tbody tr th:last-child {
                width: 50%;
              }
            </style>
            <article class="table-download-wrapper">
              <table class="table-download-desktop language-document-container1">
                <tr>
                  <th>2022 - Full-year results</th>
                  <th></th>
                </tr>
                <tr>
                  <td>
                    Ad hoc announcement pursuant to Art. 53 LR – 22 February 2023
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Ad hoc announcement pursuant to Art. 53 LR – 22 February 2023', 'download', this.href);" href="/doc/jcr:dcb2efc5-669c-4788-b8ac-ba73bc3f923a/EFG%20International%20Media%20Release_220223_EN.pdf/lang:en/EFG International Media Release_220223_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Presentation
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Presentation', 'download', this.href);" href="/doc/jcr:e870c520-c9b3-429a-88d9-7e4fc3431851/EFGI_2022_Full_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Full_Year_Results_Presentation.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Annual report 2022
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Annual report 2022', 'download', this.href);" href="/doc/jcr:9c2ac032-8617-4b71-a226-88771badcb6d/EFGI%202022%20Full_Year_Report_EN.pdf/lang:en/EFGI 2022 Full_Year_Report_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Sustainability report 2022
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Sustainability report 2022', 'download', this.href);" href="/doc/jcr:ca3e4062-b40e-4d42-bba8-b0eed188abbb/sustainability%20report%202022.pdf/lang:en/sustainability report 2022.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    Pillar III Disclosures
                  </td>
                  <td>
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Pillar III Disclosures', 'download', this.href);" href="/doc/jcr:d8e37463-1bd8-49fd-b718-c0986fbb424f/Pillar%203%20-%2022_02.pdf/lang:en/Pillar 3 - 22_02.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                    </ul>
                  </td>
                </tr> </table>
                <div class="table-download-mobile">
                  <div>Documents</div>
                  <div class="table-download-component">
                    <div>
                      <a href="#" class="table-download-head">Ad hoc announcement pursuant to Art. 53 LR – 22 February 2023<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Ad hoc announcement pursuant to Art. 53 LR – 22 February 2023', 'download', this.href);" href="/doc/jcr:dcb2efc5-669c-4788-b8ac-ba73bc3f923a/EFG%20International%20Media%20Release_220223_EN.pdf/lang:en/EFG International Media Release_220223_EN.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Presentation<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Presentation', 'download', this.href);" href="/doc/jcr:e870c520-c9b3-429a-88d9-7e4fc3431851/EFGI_2022_Full_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Full_Year_Results_Presentation.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Annual report 2022<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Annual report 2022', 'download', this.href);" href="/doc/jcr:9c2ac032-8617-4b71-a226-88771badcb6d/EFGI%202022%20Full_Year_Report_EN.pdf/lang:en/EFGI 2022 Full_Year_Report_EN.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Sustainability report 2022<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Sustainability report 2022', 'download', this.href);" href="/doc/jcr:ca3e4062-b40e-4d42-bba8-b0eed188abbb/sustainability%20report%202022.pdf/lang:en/sustainability report 2022.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head">Pillar III Disclosures<span>1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Pillar III Disclosures', 'download', this.href);" href="/doc/jcr:d8e37463-1bd8-49fd-b718-c0986fbb424f/Pillar%203%20-%2022_02.pdf/lang:en/Pillar 3 - 22_02.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="m-0">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-10 mx-auto">
              <article class="table-download-wrapper">
                <table class="table-download-desktop">
                  <tbody>
                    <tr class="d-none">
                      <th> </th>
                      <th> </th>
                    </tr>
                    <tr>
                      <td>
                        <p>CEO video interviews&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                      </td>
                      <td>
                        <p><a href="/insights/2023/giorgio_pradelli_we_delivered_strong_operating_results_in_2022_and_maintained_our_growth_momentum.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                      </td>
                    </tr> </tbody>
                  </table>
                  <div class="table-download-mobile">
                    <div></div>
                    <div class="table-download-component">
                      <div>
                        <a href="#" class="table-download-head"><span> </span>CEO video interviews&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        </a>
                        <div class="table-download-content">
                          <ul>
                            <li>
                              <p><span> </span></p>
                              <p><a href="/insights/2023/giorgio_pradelli_we_delivered_strong_operating_results_in_2022_and_maintained_our_growth_momentum.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                            </li>
                            <li>
                              <p></p>
                            </li>
                            <li>
                              <p></p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section class="bkg-light-grey overflow-hidden">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="side-component full align-top">
                  <div class="bkg-light-grey side-content">
                    <h3>Investor Day webcast</h3>
                    <div class="text-article mt-base"><p>Webcast of the Investor Day meeting in Zurich with presentations by:</p>
                      <p><strong>Giorgio Pradelli,</strong><br />
                        Chief Executive Officer</p>
                        <p><strong>Dimitris Politis,</strong><br />
                          Chief Financial Officer</p>
                        </div>
                        <a target="_blank" href="https://event.choruscall.com/mediaframe/webcast.html?webcastid=PXYGTBUK" class="btn mt-20">Replay</a>
                      </div>
                      <div class="side-image">
                        <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/calander.jpg' %}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="mt-small">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-xl-10 mx-auto">
                    <style>
                      .table-download-wrapper .table-download-desktop.language-document-container2 tbody tr th:last-child {
                        width: 50%;
                      }
                    </style>
                    <article class="table-download-wrapper">
                      <table class="table-download-desktop language-document-container2">
                        <tr>
                          <th>Investor Day</th>
                          <th></th>
                        </tr>
                        <tr>
                          <td>
                            Investor Day 2022 presentation
                          </td>
                          <td>
                            <ul>
                              <li><a onclick="ga('send', 'event', 'Investor Day 2022 presentation', 'download', this.href);" href="/doc/jcr:75307676-3b40-4349-9af2-b98ea77ad079/EFG_%20Investor_Update_2022.pdf/lang:en/EFG_ Investor_Update_2022.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Media release
                          </td>
                          <td>
                            <ul>
                              <li><a onclick="ga('send', 'event', 'Media release', 'download', this.href);" href="/doc/jcr:3715aad8-4ba8-4f2e-932f-7dc29e399826/EFG%20International%20Media%20Release_121022_EN.pdf/lang:en/EFG International Media Release_121022_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
                            </ul>
                          </td>
                        </tr> </table>
                        <div class="table-download-mobile">
                          <div>Documents</div>
                          <div class="table-download-component">
                            <div>
                              <a href="#" class="table-download-head">Investor Day 2022 presentation<span>1 available download</span></a>
                              <div class="table-download-content">
                                <ul>
                                  <li><a onclick="ga('send', 'event', 'Investor Day 2022 presentation', 'download', this.href);" href="/doc/jcr:75307676-3b40-4349-9af2-b98ea77ad079/EFG_%20Investor_Update_2022.pdf/lang:en/EFG_ Investor_Update_2022.pdf" target="_blank">
                                    <span>
                                      <i class="icon-efg-pdf"></i>
                                    </span>
                                    <p>Download</p>
                                    <p class="note">PDF - English</p>
                                  </a></li>
                                </ul>
                              </div>
                            </div>
                            <div>
                              <a href="#" class="table-download-head">Media release<span>1 available download</span></a>
                              <div class="table-download-content">
                                <ul>
                                  <li><a onclick="ga('send', 'event', 'Media release', 'download', this.href);" href="/doc/jcr:3715aad8-4ba8-4f2e-932f-7dc29e399826/EFG%20International%20Media%20Release_121022_EN.pdf/lang:en/EFG International Media Release_121022_EN.pdf" target="_blank">
                                    <span>
                                      <i class="icon-efg-pdf"></i>
                                    </span>
                                    <p>Download</p>
                                    <p class="note">PDF - English</p>
                                  </a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </section>
              <section class="m-0">
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-xl-10 mx-auto">
                      <article class="table-download-wrapper">
                        <table class="table-download-desktop">
                          <tbody>
                            <tr>
                              <th> Videos</th>
                              <th> </th>
                            </tr>
                            <tr>
                              <td>
                                <p>1. EFG&#39;s CROs&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/1_EFGs_CROs.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>2. Business Regions&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/2_Business_Regions.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>3. Simplicity&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/3_Simplicity.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>4. Content innovation&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/4_Content_innovation.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>5. Digital acceleration&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/5_Digital_acceleration.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>6. EFG&#39;s People&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/6_EFGs_People.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>7. Resilience&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                              </td>
                              <td>
                                <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/7_Resilience.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                              </td>
                            </tr> </tbody>
                          </table>
                          <div class="table-download-mobile">
                            <div></div>
                            <div class="table-download-component">
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>1. EFG&#39;s CROs&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/1_EFGs_CROs.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>2. Business Regions&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/2_Business_Regions.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>3. Simplicity&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/3_Simplicity.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>4. Content innovation&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/4_Content_innovation.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>5. Digital acceleration&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/5_Digital_acceleration.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>6. EFG&#39;s People&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/6_EFGs_People.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <a href="#" class="table-download-head"><span> Videos</span>7. Resilience&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                </a>
                                <div class="table-download-content">
                                  <ul>
                                    <li>
                                      <p><span> </span></p>
                                      <p><a href="/investors/financial-calendar-and-events/investor_update_2022_videos/7_Resilience.html"><i class="icon-efg-play">&nbsp;</i>EN</a></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                    <li>
                                      <p></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </section><section>
                  <div class="container">
                    <div class="row section-headline mb-small">
                      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
                        <h2>Financial calendar</h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-xl-10 mx-auto">
                        <article class="table-download-wrapper">
                          <table class="table-download-desktop">
                            <tbody>
                              <tr>
                                <th>Date</th>
                                <th>Event</th>
                              </tr>
                              <tr>
                                <td>
                                  <p>21 April 2023</p>
                                </td>
                                <td>
                                  <p>Annual General Meeting</p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>26 July 2023</p>
                                </td>
                                <td>
                                  <p>Half-year results 2023</p>
                                </td>
                              </tr> </tbody>
                            </table>
                            <div class="table-download-mobile">
                              <div>Financial calendar</div>
                              <div class="table-download-component">
                                <div>
                                  <a href="#" class="table-download-head"><span>Date</span>21 April 2023
                                  </a>
                                  <div class="table-download-content">
                                    <ul>
                                      <li>
                                        <p><span>Event</span></p>
                                        <p>Annual General Meeting</p>
                                      </li>
                                      <li>
                                        <p></p>
                                      </li>
                                      <li>
                                        <p></p>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div>
                                  <a href="#" class="table-download-head"><span>Date</span>26 July 2023
                                  </a>
                                  <div class="table-download-content">
                                    <ul>
                                      <li>
                                        <p><span>Event</span></p>
                                        <p>Half-year results 2023</p>
                                      </li>
                                      <li>
                                        <p></p>
                                      </li>
                                      <li>
                                        <p></p>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="overlying">
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="contact-box">
                            <div class="content">
                              <h3>Get in touch with Investor Relations</h3>
                              <p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
                              <div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
                                Jens Brueckner<br />
                                Phone: +41 44 226 17 99</p>
                                <p><strong>Investor Relations</strong></p>
                              </div>
                              <ul class="mt-0">
                                <li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
                                <li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#f4d49d9a829187809b8686919895809d9b9a87b49192939d9a8091869a95809d9b9a9598da979b99"><strong> <span class="__cf_email__" data-cfemail="b0d9dec6d5c3c4dfc2c2d5dcd1c4d9dfdec3f0d5d6d7d9dec4d5c2ded1c4d9dfded1dc9ed3dfdd">[email&#160;protected]</span></strong></a></li>
                              </ul>
                            </div>
                            <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="bkg-dark mt-0 pt-more">
                    <div class="container">
                      <div class="row section-headline">
                        <div class="col-12 col-lg-10 mx-auto text-md-center">
                          <h2>Discover more</h2>
                          <p>Services and updates for investors, shareholders and analysts.</p>
                        </div>
                      </div>
                      <div class="row teaser-wrapper">
                        <div class="col-12 col-lg-4">
                          <article class="teaser bottom">
                            <a href="/investors/financial-results.html" title="Get full access to our regular financial results">
                              <span class="label">Financial reports</span>
                              <picture class="image">
                                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg">
                                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg" width="548" height="280" class="lazyload" alt="Get full access to our regular financial results" />
                                </picture>
                                <div class="content">
                                  <h4>Get full access to our regular financial results</h4>
                                  <span class="link-btn">Learn more</span>
                                </div>
                              </a>
                            </article>
                          </div>
                          <div class="col-12 col-lg-4">
                            <article class="teaser bottom">
                              <a href="/investors/presentations.html" title="Delivering you key investor presentations">
                                <span class="label">Presentations</span>
                                <picture class="image">
                                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/WEB_Investors_Presentations_1680x540px.jpg/jcr:content/WEB_Investors_Presentations_1680x540px.jpg">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/WEB_Investors_Presentations_1680x540px.jpg/jcr:content/WEB_Investors_Presentations_1680x540px.jpg" width="548" height="280" class="lazyload" alt="Delivering you key investor presentations" />
                                  </picture>
                                  <div class="content">
                                    <h4>Delivering you key investor presentations</h4>
                                    <span class="link-btn">Learn more</span>
                                  </div>
                                </a>
                              </article>
                            </div>
                            <div class="col-12 col-lg-4">
                              <article class="teaser bottom">
                                <a href="/investors/annual-general-meeting.html" title="Access recent information from our AGMs">
                                  <span class="label">Annual General Meeting</span>
                                  <picture class="image">
                                    <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/agm-2-1920x680.jpg/jcr:content/agm-2-1920x680.jpg">
                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/agm-2-1920x680.jpg/jcr:content/agm-2-1920x680.jpg" width="548" height="280" class="lazyload" alt="Access recent information from our AGMs" />
                                    </picture>
                                    <div class="content">
                                      <h4>Access recent information from our AGMs</h4>
                                      <span class="link-btn">Learn more</span>
                                    </div>
                                  </a>
                                </article>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>{% endblock %}
