{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/investors.html">Investors</a></li>
              <li><span>Presentations</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Presentations</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/investors.html">Investors</a></li>
                <li><span>Presentations</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/presentation.jpg' %}"
          >
          <div>
            <h1>Presentations</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-base">
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
        <h2>Latest presentations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <article class="table-download-wrapper">
          <table class="table-download-desktop">
            <tr>
              <th>Date</th>
              <th>Document</th>
              <th>Language</th>
            </tr>
            <tr>
              <td>
                <time class="no-cat" datetime="2023-02-22 07:00">
                  22 February 2023
                </time>
              </td>
              <td>Full-year results presentation 2022</td>
              <td>
                <ul>
                  <li><a onclick="ga('send', 'event', 'Full-year results presentation 2022', 'download', this.href);" href="/doc/jcr:e870c520-c9b3-429a-88d9-7e4fc3431851/EFGI_2022_Full_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Full_Year_Results_Presentation.pdf" target="_blank">
                    <i class="icon-efg-pdf"></i>EN
                  </a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <time class="no-cat" datetime="2022-10-12 01:00">
                  12 October 2022
                </time>
              </td>
              <td>Investor Day 2022 presentation</td>
              <td>
                <ul>
                  <li><a onclick="ga('send', 'event', 'Investor Day 2022 presentation', 'download', this.href);" href="/doc/jcr:75307676-3b40-4349-9af2-b98ea77ad079/EFG_%20Investor_Update_2022.pdf/lang:en/EFG_ Investor_Update_2022.pdf" target="_blank">
                    <i class="icon-efg-pdf"></i>EN
                  </a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <time class="no-cat" datetime="2022-07-21 06:50">
                  21 July 2022
                </time>
              </td>
              <td>Half-year results presentation 2022</td>
              <td>
                <ul>
                  <li><a onclick="ga('send', 'event', 'Half-year results presentation 2022', 'download', this.href);" href="/doc/jcr:cc7fa946-f8fc-4c0f-a3bc-9d3d92363875/EFGI_2022_Half_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Half_Year_Results_Presentation.pdf" target="_blank">
                    <i class="icon-efg-pdf"></i>EN
                  </a></li>
                </ul>
              </td>
            </tr>
          </table>
          <div class="table-download-mobile">
            <div>Documents</div>
            <div class="table-download-component">
              <div>
                <a href="#" class="table-download-head">Full-year results presentation 2022<span>
                  <time class="no-cat" datetime="2023-02-22 07:00">
                    22 February 2023
                  </time>
                  <br />1 available download</span></a>
                  <div class="table-download-content">
                    <ul>
                      <li><a onclick="ga('send', 'event', 'Full-year results presentation 2022', 'download', this.href);" href="/doc/jcr:e870c520-c9b3-429a-88d9-7e4fc3431851/EFGI_2022_Full_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Full_Year_Results_Presentation.pdf" target="_blank">
                        <span>
                          <i class="icon-efg-pdf"></i>
                        </span>
                        <p>Download</p>
                        <p class="note">PDF - English</p>
                      </a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head">Investor Day 2022 presentation<span>
                    <time class="no-cat" datetime="2022-10-12 01:00">
                      12 October 2022
                    </time>
                    <br />1 available download</span></a>
                    <div class="table-download-content">
                      <ul>
                        <li><a onclick="ga('send', 'event', 'Investor Day 2022 presentation', 'download', this.href);" href="/doc/jcr:75307676-3b40-4349-9af2-b98ea77ad079/EFG_%20Investor_Update_2022.pdf/lang:en/EFG_ Investor_Update_2022.pdf" target="_blank">
                          <span>
                            <i class="icon-efg-pdf"></i>
                          </span>
                          <p>Download</p>
                          <p class="note">PDF - English</p>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <a href="#" class="table-download-head">Half-year results presentation 2022<span>
                      <time class="no-cat" datetime="2022-07-21 06:50">
                        21 July 2022
                      </time>
                      <br />1 available download</span></a>
                      <div class="table-download-content">
                        <ul>
                          <li><a onclick="ga('send', 'event', 'Half-year results presentation 2022', 'download', this.href);" href="/doc/jcr:cc7fa946-f8fc-4c0f-a3bc-9d3d92363875/EFGI_2022_Half_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Half_Year_Results_Presentation.pdf" target="_blank">
                            <span>
                              <i class="icon-efg-pdf"></i>
                            </span>
                            <p>Download</p>
                            <p class="note">PDF - English</p>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="bkg-light-grey overflow-hidden">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="side-component full align-top">
                <div class="bkg-light-grey side-content">
                  <h3>Looking for a previous presentation?</h3>
                  <div class="text-article mt-base"><p>All previous presentations are at your disposal and organised yearly for you to easily locate.&nbsp;</p>
                  </div>
                  <a href="/investors/presentations/presentation-archive.html" class="btn mt-20">Access archive</a>
                </div>
                <div class="side-image">
                  <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/presentation2.jpg' %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include 'itstart.html' %}{% endblock %}
