{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Ratings and instruments</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Ratings and instruments</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Ratings and instruments</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:4b639141-6280-4d03-89cb-528276863acd/Ratings_And_Instruments_Bar_Image_1680x541px_72dpi.png/lang:en/Ratings_And_Instruments_Bar_Image_1680x541px_72dpi.png [(max-width: 991px)] | /doc/jcr:4b639141-6280-4d03-89cb-528276863acd/Ratings_And_Instruments_Bar_Image_1680x541px_72dpi.png/lang:en/Ratings_And_Instruments_Bar_Image_1680x541px_72dpi.png [(max-width: 1599px)] | /doc/jcr:4b639141-6280-4d03-89cb-528276863acd/Ratings_And_Instruments_Bar_Image_1680x541px_72dpi.png/lang:en/Ratings_And_Instruments_Bar_Image_1680x541px_72dpi.png"
>
<div>
<h1>Ratings and instruments</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
<h2>EFG International</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tbody>
<tr>
<th>Moody&#039;s</th>
<th>Fitch</th>
</tr>
<tr>
<td>
<p>Short term: P1</p>
</td>
<td>
<p>Short term: F1</p>
</td>
</tr>
<tr>
<td>
<p>Long term: A3</p>
</td>
<td>
<p>Long term: A</p>
</td>
</tr>
<tr>
<td>
<p>Outlook: stable</p>
</td>
<td>
<p>Outlook:&nbsp;stable</p>
</td>
</tr> </tbody>
</table>
<div class="table-download-mobile">
<div>EFG International</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"><span>Moody&#039;s</span>Short term: P1
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Fitch</span></p>
<p>Short term: F1</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Moody&#039;s</span>Long term: A3
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Fitch</span></p>
<p>Long term: A</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Moody&#039;s</span>Outlook: stable
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Fitch</span></p>
<p>Outlook:&nbsp;stable</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section><section>
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
<h2>EFG Bank</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tbody>
<tr>
<th>Moody&#039;s</th>
<th>Fitch</th>
</tr>
<tr>
<td>
<p>Short term: P1</p>
</td>
<td>
<p>Short term: F1</p>
</td>
</tr>
<tr>
<td>
<p>Long term: A3</p>
</td>
<td>
<p>Long term: A</p>
</td>
</tr>
<tr>
<td>
<p>Outlook: stable</p>
</td>
<td>
<p>Outlook:&nbsp;stable</p>
</td>
</tr> </tbody>
</table>
<div class="table-download-mobile">
<div>EFG Bank</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"><span>Moody&#039;s</span>Short term: P1
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Fitch</span></p>
<p>Short term: F1</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Moody&#039;s</span>Long term: A3
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Fitch</span></p>
<p>Long term: A</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Moody&#039;s</span>Outlook: stable
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Fitch</span></p>
<p>Outlook:&nbsp;stable</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<article class="text-article">
<h3>USD Additional Tier 1 Notes</h3>
<p>On 18 January 2021, EFG International AG announced the successful placement of USD 400 million of subordinated Basel III compliant Additional Tier 1 notes.</p>
<p>The perpetual notes with a first call option in year 7, issued on 25 January 2021, bear annual interest of 5.50% for the first seven years and thereafter, the aggregate of the 5-yr USD CMT Rate plus 4.659% per annum with a reset every five years. They are subject, among other common features, a high CET 1 trigger leading to a partial or full permanent write-down. The notes are listed on SIX Swiss Exchange.</p>
<p>The proceeds of the issuance were used to fund the offer for the USD Tier 2 Notes and for general corporate purposes.</p>
</article>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
<h2>Bonds specifics</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tbody>
<tr>
<th> </th>
<th> </th>
</tr>
<tr>
<td>
<p>Issuer</p>
</td>
<td>
<p>EFG International&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p>ISIN</p>
</td>
<td>
<p>CH0593093229</p>
</td>
</tr>
<tr>
<td>
<p>Currency</p>
</td>
<td>
<p>USD</p>
</td>
</tr>
<tr>
<td>
<p>Nominal at issue date</p>
</td>
<td>
<p>400&#39;000&#39;000</p>
</td>
</tr>
<tr>
<td>
<p>Rank</p>
</td>
<td>
<p>Subordinated</p>
</td>
</tr>
<tr>
<td>
<p>Coupon</p>
</td>
<td>
<p>5.50% p.a. - for the first seven years</p>
</td>
</tr>
<tr>
<td>
<p>First interest payment date</p>
</td>
<td>
<p>24 March</p>
</td>
</tr>
<tr>
<td>
<p>Issue date</p>
</td>
<td>
<p>25 January 2021</p>
</td>
</tr>
<tr>
<td>
<p>Maturity</p>
</td>
<td>
<p>None</p>
</td>
</tr>
<tr>
<td>
<p>First reset</p>
</td>
<td>
<p>25 January 2028</p>
</td>
</tr> </tbody>
</table>
<div class="table-download-mobile">
<div>Bonds specifics</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"><span> </span>Issuer
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>EFG International&nbsp;</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>ISIN
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>CH0593093229</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>Currency
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>USD</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>Nominal at issue date
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>400&#39;000&#39;000</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>Rank
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>Subordinated</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>Coupon
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>5.50% p.a. - for the first seven years</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>First interest payment date
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>24 March</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>Issue date
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>25 January 2021</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>Maturity
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>None</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span> </span>First reset
</a>
<div class="table-download-content">
<ul>
<li>
<p><span> </span></p>
<p>25 January 2028</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>Get in touch with Investor Relations</h3>
<p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
<div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
Jens Brueckner<br />
Phone: +41 44 226 17 99</p>
<p><strong>Investor Relations</strong></p>
</div>
<ul class="mt-0">
<li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
<li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#9fbff6f1e9faecebf0ededfaf3feebf6f0f1ecdffaf9f8f6f1ebfaedf1feebf6f0f1fef3b1fcf0f2"><strong> <span class="__cf_email__" data-cfemail="c4adaab2a1b7b0abb6b6a1a8a5b0adabaab784a1a2a3adaab0a1b6aaa5b0adabaaa5a8eaa7aba9">[email&#160;protected]</span></strong></a></li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>From our unique point of view to our performance, find out more about EFG.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/media.html" title="Read our latest news and releases">
<span class="label">Media</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png" width="548" height="280" class="lazyload" alt="Read our latest news and releases" />
</picture>
<div class="content">
<h4>Read our latest news and releases</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors.html" title="Financial reports, presentations and more ">
<span class="label">Investors</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg" width="548" height="280" class="lazyload" alt="Financial reports, presentations and more " />
</picture>
<div class="content">
<h4>Financial reports, presentations and more </h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/insights.html" title="Expert insight that cuts through the noise">
<span class="label">Insights</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Expert insight that cuts through the noise" />
</picture>
<div class="content">
<h4>Expert insight that cuts through the noise</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
