{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/investors.html">Investors</a></li>
              <li><span>Ratings and instruments</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Ratings and instruments</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/investors.html">Investors</a></li>
                <li><span>Ratings and instruments</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/rating.jpg' %}"
          >
          <div>
            <h1>Ratings and instruments</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
        <h2>EFG International</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <article class="table-download-wrapper">
          <table class="table-download-desktop">
            <tbody>
              <tr>
                <th>Moody&#039;s</th>
                <th>Fitch</th>
              </tr>
              <tr>
                <td>
                  <p>Short term: P1</p>
                </td>
                <td>
                  <p>Short term: F1</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Long term: A3</p>
                </td>
                <td>
                  <p>Long term: A</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Outlook: stable</p>
                </td>
                <td>
                  <p>Outlook:&nbsp;stable</p>
                </td>
              </tr> </tbody>
            </table>
            <div class="table-download-mobile">
              <div>EFG International</div>
              <div class="table-download-component">
                <div>
                  <a href="#" class="table-download-head"><span>Moody&#039;s</span>Short term: P1
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Fitch</span></p>
                        <p>Short term: F1</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Moody&#039;s</span>Long term: A3
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Fitch</span></p>
                        <p>Long term: A</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <a href="#" class="table-download-head"><span>Moody&#039;s</span>Outlook: stable
                  </a>
                  <div class="table-download-content">
                    <ul>
                      <li>
                        <p><span>Fitch</span></p>
                        <p>Outlook:&nbsp;stable</p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                      <li>
                        <p></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section><section>
    <div class="container">
      <div class="row section-headline mb-small">
        <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
          <h2>EFG Bank</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-10 mx-auto">
          <article class="table-download-wrapper">
            <table class="table-download-desktop">
              <tbody>
                <tr>
                  <th>Moody&#039;s</th>
                  <th>Fitch</th>
                </tr>
                <tr>
                  <td>
                    <p>Short term: P1</p>
                  </td>
                  <td>
                    <p>Short term: F1</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Long term: A3</p>
                  </td>
                  <td>
                    <p>Long term: A</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Outlook: stable</p>
                  </td>
                  <td>
                    <p>Outlook:&nbsp;stable</p>
                  </td>
                </tr> </tbody>
              </table>
              <div class="table-download-mobile">
                <div>EFG Bank</div>
                <div class="table-download-component">
                  <div>
                    <a href="#" class="table-download-head"><span>Moody&#039;s</span>Short term: P1
                    </a>
                    <div class="table-download-content">
                      <ul>
                        <li>
                          <p><span>Fitch</span></p>
                          <p>Short term: F1</p>
                        </li>
                        <li>
                          <p></p>
                        </li>
                        <li>
                          <p></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <a href="#" class="table-download-head"><span>Moody&#039;s</span>Long term: A3
                    </a>
                    <div class="table-download-content">
                      <ul>
                        <li>
                          <p><span>Fitch</span></p>
                          <p>Long term: A</p>
                        </li>
                        <li>
                          <p></p>
                        </li>
                        <li>
                          <p></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div>
                    <a href="#" class="table-download-head"><span>Moody&#039;s</span>Outlook: stable
                    </a>
                    <div class="table-download-content">
                      <ul>
                        <li>
                          <p><span>Fitch</span></p>
                          <p>Outlook:&nbsp;stable</p>
                        </li>
                        <li>
                          <p></p>
                        </li>
                        <li>
                          <p></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
            <article class="text-article">
              <h3>USD Additional Tier 1 Notes</h3>
              <p>On 18 January 2021, EFG International AG announced the successful placement of USD 400 million of subordinated Basel III compliant Additional Tier 1 notes.</p>
              <p>The perpetual notes with a first call option in year 7, issued on 25 January 2021, bear annual interest of 5.50% for the first seven years and thereafter, the aggregate of the 5-yr USD CMT Rate plus 4.659% per annum with a reset every five years. They are subject, among other common features, a high CET 1 trigger leading to a partial or full permanent write-down. The notes are listed on SIX Swiss Exchange.</p>
              <p>The proceeds of the issuance were used to fund the offer for the USD Tier 2 Notes and for general corporate purposes.</p>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row section-headline mb-small">
          <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
            <h2>Bonds specifics</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-10 mx-auto">
            <article class="table-download-wrapper">
              <table class="table-download-desktop">
                <tbody>
                  <tr>
                    <th> </th>
                    <th> </th>
                  </tr>
                  <tr>
                    <td>
                      <p>Issuer</p>
                    </td>
                    <td>
                      <p>EFG International&nbsp;</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>ISIN</p>
                    </td>
                    <td>
                      <p>CH0593093229</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Currency</p>
                    </td>
                    <td>
                      <p>USD</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Nominal at issue date</p>
                    </td>
                    <td>
                      <p>400&#39;000&#39;000</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Rank</p>
                    </td>
                    <td>
                      <p>Subordinated</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Coupon</p>
                    </td>
                    <td>
                      <p>5.50% p.a. - for the first seven years</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>First interest payment date</p>
                    </td>
                    <td>
                      <p>24 March</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Issue date</p>
                    </td>
                    <td>
                      <p>25 January 2021</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Maturity</p>
                    </td>
                    <td>
                      <p>None</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>First reset</p>
                    </td>
                    <td>
                      <p>25 January 2028</p>
                    </td>
                  </tr> </tbody>
                </table>
                <div class="table-download-mobile">
                  <div>Bonds specifics</div>
                  <div class="table-download-component">
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Issuer
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>EFG International&nbsp;</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>ISIN
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>CH0593093229</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Currency
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>USD</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Nominal at issue date
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>400&#39;000&#39;000</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Rank
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>Subordinated</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Coupon
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>5.50% p.a. - for the first seven years</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>First interest payment date
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>24 March</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Issue date
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>25 January 2021</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>Maturity
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>None</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <a href="#" class="table-download-head"><span> </span>First reset
                      </a>
                      <div class="table-download-content">
                        <ul>
                          <li>
                            <p><span> </span></p>
                            <p>25 January 2028</p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                          <li>
                            <p></p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      {% include 'itstart.html'%}{% endblock %}
