{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Share repurchase</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Share repurchase</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Share repurchase</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:6f1dcd98-27bf-4583-8187-5dff3bef7147/Header_Share-repurchase.png/lang:en/Header_Share-repurchase.png [(max-width: 991px)] | /doc/jcr:6f1dcd98-27bf-4583-8187-5dff3bef7147/Header_Share-repurchase.png/lang:en/Header_Share-repurchase.png [(max-width: 1599px)] | /doc/jcr:6f1dcd98-27bf-4583-8187-5dff3bef7147/Header_Share-repurchase.png/lang:en/Header_Share-repurchase.png"
>
<div>
<h1>Share repurchase</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<article class="text-article">
<h3>Share repurchase 2019/2020</h3>
<p>On 30 June 2020, EFG International AG announced the completion of the repurchase programme for its own registered shares initially communicated on 31 May 2019.</p>
<p>EFG&rsquo;s share buyback programme started on 03 June 2019 and was concluded on 30 June 2020 as planned. EFG repurchased a total of 3,946,243 registered shares, equivalent to 1.33% of the share capital as of May 2019, on the SIX Swiss Exchange for an amount of CHF 24,566,179 through its wholly owned subsidiary EFG Bank AG. The total number of repurchased shares reflects EFG&rsquo;s cautious approach of capital preservation as a result of the coronavirus (COVID-19) pandemic and follows the regulator&rsquo;s recommendations. The repurchased shares are used to fund restricted stock units relating to employee incentive plans, as EFG prevents further shareholder dilution caused by the issue of shares from conditional capital in connection with its employee incentive plans.</p>
<p>The share buyback was exempted from the provisions on public takeover offers provided for in section 6.1 of the Circular no. 1 of the Swiss Takeover Board dated 27 June 2013 (status as of 01 January 2016) and referred to a maximum of 8,000,000 registered shares, equivalent to a maximum of 2.70% of the share capital and voting rights as of May 2019.</p>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container1 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container1">
<tr>
<th>Documents</th>
<th>Downloads</th>
</tr>
<tr>
<td>
EFG International concludes share buyback programme
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:52343d9f-66b3-4136-992d-0cbf9f948c28/EFG%20International%20Media%20Release_300620_EN.pdf/lang:en/EFG International Media Release_300620_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:52343d9f-66b3-4136-992d-0cbf9f948c28/EFG%20International%20Media%20Release_300620_EN.pdf/lang:de/EFG International Media Release_300620_DE.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:52343d9f-66b3-4136-992d-0cbf9f948c28/EFG%20International%20Media%20Release_300620_EN.pdf/lang:fr/EFG International Media Release_300620_FR.pdf" target="_blank"><i class="icon-efg-pdf"></i>FR</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"> EFG International concludes share buyback programme<span>3 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:52343d9f-66b3-4136-992d-0cbf9f948c28/EFG%20International%20Media%20Release_300620_EN.pdf/lang:en/EFG International Media Release_300620_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:52343d9f-66b3-4136-992d-0cbf9f948c28/EFG%20International%20Media%20Release_300620_EN.pdf/lang:de/EFG International Media Release_300620_DE.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:52343d9f-66b3-4136-992d-0cbf9f948c28/EFG%20International%20Media%20Release_300620_EN.pdf/lang:fr/EFG International Media Release_300620_FR.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - français</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container2 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container2">
<tr>
<th>Documents</th>
<th>Downloads</th>
</tr>
<tr>
<td>
Notices to the share repurchase programme
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:3ad1ce11-fa0c-4671-8d7f-3ce71a35d6ef/EFGI%20-%20Inserat%20E%2031052019.pdf/lang:en/EFGI - Inserat E 31052019.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:3ad1ce11-fa0c-4671-8d7f-3ce71a35d6ef/EFGI%20-%20Inserat%20E%2031052019.pdf/lang:de/EFGN - Inserat D 31052019.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:3ad1ce11-fa0c-4671-8d7f-3ce71a35d6ef/EFGI%20-%20Inserat%20E%2031052019.pdf/lang:fr/EFGI - Inserat F 31052019.pdf" target="_blank"><i class="icon-efg-pdf"></i>FR</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Notices to the share repurchase programme<span>3 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:3ad1ce11-fa0c-4671-8d7f-3ce71a35d6ef/EFGI%20-%20Inserat%20E%2031052019.pdf/lang:en/EFGI - Inserat E 31052019.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:3ad1ce11-fa0c-4671-8d7f-3ce71a35d6ef/EFGI%20-%20Inserat%20E%2031052019.pdf/lang:de/EFGN - Inserat D 31052019.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:3ad1ce11-fa0c-4671-8d7f-3ce71a35d6ef/EFGI%20-%20Inserat%20E%2031052019.pdf/lang:fr/EFGI - Inserat F 31052019.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - français</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container3 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container3">
<tr>
<th>Documents</th>
<th>Downloads</th>
</tr>
<tr>
<td>
Transaction reporting
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Transaction reporting', 'download', this.href);" href="/doc/jcr:60c6dcf0-e458-4991-8edf-03d535a1de1c/EFGI%20-%20Share%20buyback%20Reporting%2020200630.pdf/lang:en/EFGI - Share buyback Reporting 20200630.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Transaction reporting<span>1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Transaction reporting', 'download', this.href);" href="/doc/jcr:60c6dcf0-e458-4991-8edf-03d535a1de1c/EFGI%20-%20Share%20buyback%20Reporting%2020200630.pdf/lang:en/EFGI - Share buyback Reporting 20200630.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<article class="text-article">
<h3>Share repurchase 2018/2019</h3>
<p>On 12 March 2019, EFG International AG announced the completion of the repurchase programme for its own registered shares initially communicated on 27 April 2018.</p>
<p>EFG&rsquo;s share buyback programme started on 27 July 2018 and was concluded on 12 March 2019. EFG repurchased a total of 6,000,000 registered shares, equivalent to 2.07% of the share capital as of July 2018, on the SIX Swiss Exchange for an amount of CHF 40,572,422 through its wholly owned subsidiary EFG Bank AG. The repurchased shares are used to fund restricted stock units relating to employee incentive plans, as EFG prevents further shareholder dilution, caused by the issue of shares from conditional capital in connection with its employee incentive plans.</p>
<p>The share buyback was exempted from the provisions on public takeover offers provided for in section 6.1 of the Circular no. 1 of the Swiss Takeover Board dated 27 June 2013 (status as of 01 January 2016) and referred to a maximum of 6,000,000 registered shares, equivalent to a maximum of 2.07% of the share capital and voting rights as of July 2018.</p>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container4 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container4">
<tr>
<th>Documents</th>
<th>Downloads</th>
</tr>
<tr>
<td>
EFG International concludes share buyback programme
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:1594d4d8-09b4-4146-bdfc-b6a95c16a0ed/EFG%20International%20Media%20Release_120319_EN.pdf/lang:en/EFG International Media Release_120319_EN.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:1594d4d8-09b4-4146-bdfc-b6a95c16a0ed/EFG%20International%20Media%20Release_120319_EN.pdf/lang:de/EFG International Media Release_120319_DE.PDF" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:1594d4d8-09b4-4146-bdfc-b6a95c16a0ed/EFG%20International%20Media%20Release_120319_EN.pdf/lang:fr/EFG International Media Release_120319_FR.PDF" target="_blank"><i class="icon-efg-pdf"></i>FR</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"> EFG International concludes share buyback programme<span>3 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:1594d4d8-09b4-4146-bdfc-b6a95c16a0ed/EFG%20International%20Media%20Release_120319_EN.pdf/lang:en/EFG International Media Release_120319_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:1594d4d8-09b4-4146-bdfc-b6a95c16a0ed/EFG%20International%20Media%20Release_120319_EN.pdf/lang:de/EFG International Media Release_120319_DE.PDF" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
<li><a onclick="ga('send', 'event', ' EFG International concludes share buyback programme', 'download', this.href);" href="/doc/jcr:1594d4d8-09b4-4146-bdfc-b6a95c16a0ed/EFG%20International%20Media%20Release_120319_EN.pdf/lang:fr/EFG International Media Release_120319_FR.PDF" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - français</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container5 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container5">
<tr>
<th>Documents</th>
<th>Downloads</th>
</tr>
<tr>
<td>
Notices to the share repurchase programme
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:879f3c1b-3a5e-4f14-82af-cf026f3bd26e/EFGI%20-%20Inserat%20E%2026072018.pdf/lang:en/EFGI - Inserat E 26072018.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:879f3c1b-3a5e-4f14-82af-cf026f3bd26e/EFGI%20-%20Inserat%20E%2026072018.pdf/lang:de/EFGI - Inserat D 26072018.pdf" target="_blank"><i class="icon-efg-pdf"></i>DE</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:879f3c1b-3a5e-4f14-82af-cf026f3bd26e/EFGI%20-%20Inserat%20E%2026072018.pdf/lang:fr/EFGI - Inserat F 26072018.pdf" target="_blank"><i class="icon-efg-pdf"></i>FR</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Notices to the share repurchase programme<span>3 available downloads</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:879f3c1b-3a5e-4f14-82af-cf026f3bd26e/EFGI%20-%20Inserat%20E%2026072018.pdf/lang:en/EFGI - Inserat E 26072018.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:879f3c1b-3a5e-4f14-82af-cf026f3bd26e/EFGI%20-%20Inserat%20E%2026072018.pdf/lang:de/EFGI - Inserat D 26072018.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - Deutsch</p>
</a></li>
<li><a onclick="ga('send', 'event', 'Notices to the share repurchase programme', 'download', this.href);" href="/doc/jcr:879f3c1b-3a5e-4f14-82af-cf026f3bd26e/EFGI%20-%20Inserat%20E%2026072018.pdf/lang:fr/EFGI - Inserat F 26072018.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - français</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mt-small">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<style>
.table-download-wrapper .table-download-desktop.language-document-container6 tbody tr th:last-child {
width: 50%;
}
</style>
<article class="table-download-wrapper">
<table class="table-download-desktop language-document-container6">
<tr>
<th>Documents</th>
<th>Downloads</th>
</tr>
<tr>
<td>
Transaction reporting
</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Transaction reporting', 'download', this.href);" href="/doc/jcr:2434d268-8a38-45db-a75f-cc939c24f8dd/EFGI%20-%20Share%20buyback%20Reporting%2020190312.pdf/lang:en/EFGI - Share buyback Reporting 20190312.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
</ul>
</td>
</tr> </table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Transaction reporting<span>1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Transaction reporting', 'download', this.href);" href="/doc/jcr:2434d268-8a38-45db-a75f-cc939c24f8dd/EFGI%20-%20Share%20buyback%20Reporting%2020190312.pdf/lang:en/EFGI - Share buyback Reporting 20190312.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>Get in touch with Investor Relations</h3>
<p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
<div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
Jens Brueckner<br />
Phone: +41 44 226 17 99</p>
<p><strong>Investor Relations</strong></p>
</div>
<ul class="mt-0">
<li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
<li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#96b6fff8e0f3e5e2f9e4e4f3faf7e2fff9f8e5d6f3f0f1fff8e2f3e4f8f7e2fff9f8f7fab8f5f9fb"><strong> <span class="__cf_email__" data-cfemail="523b3c243721263d2020373e33263b3d3c21123734353b3c2637203c33263b3d3c333e7c313d3f">[email&#160;protected]</span></strong></a></li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>From our unique point of view to our performance, find out more about EFG</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/media.html" title="Read our latest news and releases">
<span class="label">Media</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png" width="548" height="280" class="lazyload" alt="Read our latest news and releases" />
</picture>
<div class="content">
<h4>Read our latest news and releases</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors.html" title="Financial reports, presentations and more">
<span class="label">Investors</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/untitled1/EFG_Outstanding_Images-2/EFG_Outstanding_Images-2/Financial_Reports_Footer_548x250_72dpi.png/jcr:content/Financial_Reports_Footer_548x250_72dpi.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/untitled1/EFG_Outstanding_Images-2/EFG_Outstanding_Images-2/Financial_Reports_Footer_548x250_72dpi.png/jcr:content/Financial_Reports_Footer_548x250_72dpi.png" width="548" height="280" class="lazyload" alt="Financial reports, presentations and more" />
</picture>
<div class="content">
<h4>Financial reports, presentations and more</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/insights.html" title="Expert insight that cuts through the noise">
<span class="label">Insights</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Expert insight that cuts through the noise" />
</picture>
<div class="content">
<h4>Expert insight that cuts through the noise</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
