{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Share Information</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Share Information</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/investors.html">Investors</a></li>
<li><span>Share Information</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:e937fa15-d6cb-4a37-9c76-5a2b14b5c50b/Share-information%20(1).png/lang:en/Share-information (1).png [(max-width: 991px)] | /doc/jcr:e937fa15-d6cb-4a37-9c76-5a2b14b5c50b/Share-information%20(1).png/lang:en/Share-information (1).png [(max-width: 1599px)] | /doc/jcr:e937fa15-d6cb-4a37-9c76-5a2b14b5c50b/Share-information%20(1).png/lang:en/Share-information (1).png"
>
<div>
<h1>Share information</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<div class="ratio ratio-16by9" style="padding:0; height:650px;">
<iframe src="https://prod1.solutions.webfg.ch/efg/Chart/detailed?ed=04.05.2022&amp;shrs=303,921,019&amp;scap=CHF%20151,960,509.50&amp;ccap=CHF%2014,128,055.50&amp;acap=CHF%2023,513,515.050&amp;nv=CHF%200.50&amp;com=As%20per%20Annual%20Report%202021" height="650"></iframe>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<h2>Our shareholders</h2>
<p class="indent">EFG International’s largest shareholders (as of 31 December 2022) are EFG Bank European Financial Group SA (45.4%) and BTG Pactual (19.8%).</p>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>Get in touch with Investor Relations</h3>
<p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
<div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
Jens Brueckner<br />
Phone: +41 44 226 17 99</p>
<p><strong>Investor Relations</strong></p>
</div>
<ul class="mt-0">
<li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
<li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#55753c3b233026213a2727303934213c3a3b26153033323c3b2130273b34213c3a3b34397b363a38"><strong> <span class="__cf_email__" data-cfemail="7910170f1c0a0d160b0b1c15180d1016170a391c1f1e10170d1c0b17180d1016171815571a1614">[email&#160;protected]</span></strong></a></li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>Services and updates for investors, shareholders and analysts.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/annual-general-meeting.html" title="Access recent information from our AGMs">
<span class="label">Annual General Meeting</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/agm-2-1920x680.jpg/jcr:content/agm-2-1920x680.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/agm-2-1920x680.jpg/jcr:content/agm-2-1920x680.jpg" width="548" height="280" class="lazyload" alt="Access recent information from our AGMs" />
</picture>
<div class="content">
<h4>Access recent information from our AGMs</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/financial-results.html" title="Get full access to our regular financial results">
<span class="label">Financial reports</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg" width="548" height="280" class="lazyload" alt="Get full access to our regular financial results" />
</picture>
<div class="content">
<h4>Get full access to our regular financial results</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/financial-calendar-and-events.html" title="Experience our latest events">
<span class="label">Events</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/Events/1920x680-events-warmer.jpg/jcr:content/events-warm.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/Events/1920x680-events-warmer.jpg/jcr:content/events-warm.png" width="548" height="280" class="lazyload" alt="Experience our latest events" />
</picture>
<div class="content">
<h4>Experience our latest events</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
