{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
              <li><span>Arts &amp; Lifestyle</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Our arts and lifestyle partnerships</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
                <li><span>Arts &amp; Lifestyle</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/art.jpg' %}"
          >
          <div>
            <h1>Our arts and lifestyle partnerships</h1>
          </div>
          <div class="image-copyright">© Matteo de Fina</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Empowering individual expression in all its forms</h2>
        <p class="indent">A true artist is not one who is inspired, but who inspires others. That is why we celebrate art in all its beauty and boundary-breaking, from performance to visual.<br/><br/>Our visual and performing art partnerships allow us to invest in, and help conserve, the future of art in the communities we serve. From our art collaborations to our art collections, we&#039;re proud to play our part in making the world a more innovative and inspiring place.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row teaser-wrapper">
      <div class="col-12 col-xl-10 mx-auto">
        <article class="teaser highlight ">
          <a href="/about/our-sponsorships/arts-and-lifestyle/peggy-guggenheim-collection.html" title="Peggy Guggenheim Collection">
            <div class="image position-relative">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/peggy.jpg' %}"></div>
            </div>
            <div class="content">
              <span class="label">
              </span>
              <div>
                <h4>Peggy Guggenheim Collection</h4>
                <p>Evolution, innovation, forward thinking, and creating the new. The future is an exciting place to imagine. And an even more exciting place to help shape. Which is why we’ve been partnering with the Peggy Guggenheim Collection for over 20 years – a prestigious art collection that features major works of Cubism, Futurism, Metaphysical painting, European abstraction, avant-garde sculpture, Surrealism and American Abstract Expressionism.</p>
                <span class="link-btn">Explore further</span>
              </div>
            </div>
          </a>
        </article>
      </div> </div>
    </div>
  </section>
  <section class="bkg-light-grey overflow-hidden m-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="side-component full align-top">
            <div class="bkg-light-grey side-content">
              <h3>Caminada. Das Magazin.</h3>
              <div class="text-article mt-base"><p>&lsquo;Caminada. Das Magazin&rsquo;, is an exciting new lifestyle publication and the pages are packed full of fresh ideas and the latest in culinary thinking.&nbsp;As a Presenting Partner of his new publication &lsquo;Caminada. Das Magazin&rsquo;, we follow Andreas Caminada&rsquo;s journey as he meets with famous colleagues and explores the world of art, culture and design.</p>
              </div>
              <a target="_blank" href="https://www.caminadamagazin.ch/" class="btn mt-20">Learn more</a>
            </div>
            <div class="side-image">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/caminada.jpg' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bkg-light-grey overflow-hidden m-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="side-component full align-top">
            <div class="bkg-light-grey side-content order-lg-2">
              <h3>Partnership with Andreas Caminada</h3>
              <div class="text-article mt-base"><p>With three Michelin stars and a Gault Millau rating of 19 points, Andreas Caminada is one of the most celebrated chefs in Switzerland and a successful and innovative entrepreneur who implements all of his ideas with energy and passion.&nbsp;</p>
              </div>
              <a target="_blank" href="https://www.andreascaminada.com/" class="btn mt-20">Learn more</a>
            </div>
            <div class="side-image order-lg-1">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/andre.jpg' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'itstart.html' %}{% endblock %}
