{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
              <li><span>Jazz</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Jazz</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
                <li><span>Jazz</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/jazz.jpg' %}"
          >
          <div>
            <h1>Our jazz partnerships</h1>
            <p>Explore our long standing, harmonious partnerships</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>#wearejazz</h2>
        <p class="indent">Jazz is perhaps the most entrepreneurial of musical forms. The perfect harmony of talent, skill, creativity and collaboration. A genre inhabited by musical entrepreneurs who think differently. And through their innate talent, create the truly exceptional.<br/><br/>We are proud to have been part of the global jazz family for over a decade. We celebrate and aspire to share the distinctive qualities that make it exceptional, embracing creativity and innovation, diversity and collaboration.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row teaser-wrapper">
      <div class="col-12 col-xl-10 mx-auto">
        <article class="teaser highlight ">
          <a href="/about/our-sponsorships/jazz/efg-london-jazz-festival.html" title="EFG London Jazz Festival">
            <div class="image position-relative">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/jazz2.jpg' %}"></div>
            </div>
            <div class="content">
              <span class="label">
              </span>
              <div>
                <h4>EFG London Jazz Festival</h4>
                <p>We have been a committed supporter of the EFG London Jazz Festival since 2008, and headline sponsor since 2013.<br/><br/>The UK’s annual celebration of jazz delivers live performances by an electrifying line up of global stars and emerging artists, special collaborations and the finest and freshest new music.</p>
                <span class="link-btn">Discover more about the EFG London Jazz Festival</span>
              </div>
            </div>
          </a>
        </article>
      </div> </div>
    </div>
  </section>
  <section class="bkg-light-grey overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="side-component full align-top">
            <div class="bkg-light-grey side-content">
              <h3>Jeremy Monteiro</h3>
              <div class="text-article mt-base"><p>We&#39;ve supported jazz across Asia since 2008 and are a partner of renowned Singapore based jazz pianist and composer, Jeremy Monteiro. Known to many as Singapore&rsquo;s &lsquo;King of Swing&rsquo;, Jeremy is an EFG ambassador and regularly plays on the international jazz circuit.</p>
              </div>
            </div>
            <div class="side-image">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/jeremy.jpg' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bkg-light-grey overflow-hidden m-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="side-component full align-top">
            <div class="bkg-light-grey side-content order-lg-2">
              <h3>Jazz Roots, Miami</h3>
              <div class="text-article mt-base"><p>EFG is the Presenting Sponsor of Jazz Roots, a six part concert series held at the Adrienne Arsht Center for the Performing Arts of Miami-Dade County. Jazz Roots celebrates artistic diversity and creativity and cultivates young and emerging talent from Miami and beyond. Previous Jazz Roots Series have featured some outstanding musicians, including Sergio Mendes, BB King, Patti Austin, Gregory Porter, Wynton Marsalis and C&eacute;cile McLorin Salvant.</p>
              </div>
            </div>
            <div class="side-image order-lg-1">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/jazz3.jpg' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row section-headline mb-small">
        <div class="col-12 col-lg-10 mx-auto">
          <h3>Key dates</h3>
          <hr /><p>Experience our partnerships in action</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-10 mx-auto">
          <ul class="event-list">
            <li>
              <article>
                <a href="/about/our-sponsorships/jazz/efg-london-jazz-festival.html" title="EFG London Jazz Festival">
                  <div class="info">
                    <p>
                    </p>
                  </div>
                  <div class="content">
                    <h3>EFG London Jazz Festival</h3>
                    <p>Friday 11 – Sunday 20 November 2022<br/>The EFG London Jazz Festival celebrates its 30th anniversary.</p>
                  </div>
                  <div class="bottom">
                    <p class="location">United Kingdom</p>
                    <span class="link-btn">Find out more</span>
                  </div>
                </a>
              </article>
            </li> </ul>
          </div>
        </div>
      </div>
    </section>
    {% include 'itstart.html' %}{% endblock %}
