{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
<li><span>Jazz</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Jazz</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
<li><span>Jazz</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:4bdd3686-d699-4d38-8e8d-687886091d5d/1920x680jazz.jpg/lang:en/1920x680jazz.jpg [(max-width: 991px)] | /doc/jcr:4bdd3686-d699-4d38-8e8d-687886091d5d/1920x680jazz.jpg/lang:en/1920x680jazz.jpg [(max-width: 1599px)] | /doc/jcr:4bdd3686-d699-4d38-8e8d-687886091d5d/1920x680jazz.jpg/lang:en/1920x680jazz.jpg"
>
<div>
<h1>Our jazz partnerships</h1>
<p>Explore our long standing, harmonious partnerships</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<h2>#wearejazz</h2>
<p class="indent">Jazz is perhaps the most entrepreneurial of musical forms. The perfect harmony of talent, skill, creativity and collaboration. A genre inhabited by musical entrepreneurs who think differently. And through their innate talent, create the truly exceptional.<br/><br/>We are proud to have been part of the global jazz family for over a decade. We celebrate and aspire to share the distinctive qualities that make it exceptional, embracing creativity and innovation, diversity and collaboration.</p>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row teaser-wrapper">
<div class="col-12 col-xl-10 mx-auto">
<article class="teaser highlight ">
<a href="/about/our-sponsorships/jazz/efg-london-jazz-festival.html" title="EFG London Jazz Festival">
<div class="image position-relative">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/670x670/dam/efg/about/Sponsorships/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png/jcr:content/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png [(max-width: 575px)] | /.imaging/mte/efg-revamp/472x740/dam/efg/about/Sponsorships/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png/jcr:content/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png [(max-width: 991px)] | /.imaging/mte/efg-revamp/428x446/dam/efg/about/Sponsorships/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png/jcr:content/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/566x422/dam/efg/about/Sponsorships/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png/jcr:content/Our_Jazz_Partnerships_EFG_London_Jazz_Festival_688x400_72dpi.png"></div>
</div>
<div class="content">
<span class="label">
</span>
<div>
<h4>EFG London Jazz Festival</h4>
<p>We have been a committed supporter of the EFG London Jazz Festival since 2008, and headline sponsor since 2013.<br/><br/>The UK’s annual celebration of jazz delivers live performances by an electrifying line up of global stars and emerging artists, special collaborations and the finest and freshest new music.</p>
<span class="link-btn">Discover more about the EFG London Jazz Festival</span>
</div>
</div>
</a>
</article>
</div> </div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content">
<h3>Jeremy Monteiro</h3>
<div class="text-article mt-base"><p>We&#39;ve supported jazz across Asia since 2008 and are a partner of renowned Singapore based jazz pianist and composer, Jeremy Monteiro. Known to many as Singapore&rsquo;s &lsquo;King of Swing&rsquo;, Jeremy is an EFG ambassador and regularly plays on the international jazz circuit.</p>
</div>
</div>
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/about/Sponsorships/Jazz__Jeremy_Monteiro.jpg/jcr:content/Jazz__Jeremy_Monteiro.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content order-lg-2">
<h3>Jazz Roots, Miami</h3>
<div class="text-article mt-base"><p>EFG is the Presenting Sponsor of Jazz Roots, a six part concert series held at the Adrienne Arsht Center for the Performing Arts of Miami-Dade County. Jazz Roots celebrates artistic diversity and creativity and cultivates young and emerging talent from Miami and beyond. Previous Jazz Roots Series have featured some outstanding musicians, including Sergio Mendes, BB King, Patti Austin, Gregory Porter, Wynton Marsalis and C&eacute;cile McLorin Salvant.</p>
</div>
</div>
<div class="side-image order-lg-1">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/about/Sponsorships/JazzRoots21-Final-horizontal.png/jcr:content/JazzRoots21-Final-horizontal.png"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-10 mx-auto">
<h3>Key dates</h3>
<hr /><p>Experience our partnerships in action</p>
</div>
</div>
<div class="row">
<div class="col-12 col-lg-10 mx-auto">
<ul class="event-list">
<li>
<article>
<a href="/about/our-sponsorships/jazz/efg-london-jazz-festival.html" title="EFG London Jazz Festival">
<div class="info">
<p>
</p>
</div>
<div class="content">
<h3>EFG London Jazz Festival</h3>
<p>Friday 11 – Sunday 20 November 2022<br/>The EFG London Jazz Festival celebrates its 30th anniversary.</p>
</div>
<div class="bottom">
<p class="location">United Kingdom</p>
<span class="link-btn">Find out more</span>
</div>
</a>
</article>
</li> </ul>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>It all starts with a conversation</h3>
<p>Let&#039;s start ours and build something valuable today. </p>
<a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
<ul>
<li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
<li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/About_Pages/About_Us/About_Us_Success_688x515_72dpi.png/jcr:content/About_Us_Success_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/About_Pages/About_Us/About_Us_Success_688x515_72dpi.png/jcr:content/About_Us_Success_688x515_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover More</h2>
<p>Supporting partners who share our inspired, passionate and agile spirit, find out more about our sponsorships.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-sponsorships/sailing.html" title="Setting course for success and a sustainable future">
<span class="label">Sailing</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/Teaser_Team_Malizia_Insight/Team_Malizia_Insight_1680x690px.jpg/jcr:content/Team_Malizia_Insight_1680x690px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/Teaser_Team_Malizia_Insight/Team_Malizia_Insight_1680x690px.jpg/jcr:content/Team_Malizia_Insight_1680x690px.jpg" width="548" height="280" class="lazyload" alt="Setting course for success and a sustainable future" />
</picture>
<div class="content">
<h4>Setting course for success and a sustainable future</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-sponsorships/arts-and-lifestyle.html" title="Supporting the past, present and future of performing and visual arts">
<span class="label">Arts &amp; Lifestyle</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg" width="548" height="280" class="lazyload" alt="Supporting the past, present and future of performing and visual arts" />
</picture>
<div class="content">
<h4>Supporting the past, present and future of performing and visual arts</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-sponsorships/talent-development.html" title="Committed to supporting the entrepreneurial thinkers of the future">
<span class="label">Talent Development</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/About_Pages/Sponsorships/Youth_Talent_Development__Tiffany_Chan.jpg/jcr:content/Youth_Talent_Development__Tiffany_Chan.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/About_Pages/Sponsorships/Youth_Talent_Development__Tiffany_Chan.jpg/jcr:content/Youth_Talent_Development__Tiffany_Chan.jpg" width="548" height="280" class="lazyload" alt="Committed to supporting the entrepreneurial thinkers of the future" />
</picture>
<div class="content">
<h4>Committed to supporting the entrepreneurial thinkers of the future</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
