{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}

<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
              <li><span>Sailing</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Sailing</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
                <li><span>Sailing</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/about/sponsor.jpg' %}"
          >
          <div>
            <h1>Sailing</h1>
            <p>Steering talent towards success</p>
          </div>
          <div class="image-copyright">© Yvan Zedda/Alea</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Unpredictable waters, unwavering support</h2>
        <p class="indent">Sailing requires strength of character, teamwork, and an ability to navigate ever changing environments with skill.<br/><br/>Our association with sailing runs deep. From our commitment to supporting the next generation of talent through provision of valuable life skills and right up to our support for the most competitive levels in sport we are proud to be able to bring the thrill of the race to people across the world.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row teaser-wrapper">
      <div class="col-12 col-xl-10 mx-auto">
        <article class="teaser highlight ">
          <a href="/about/our-sponsorships/sailing/the-ocean-race-2023.html" title="The Ocean Race 2023">
            <div class="image position-relative">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/sailing.jpg' %}"></div>
              <div class="image-copyright" style="height:auto!important;">© Marin Le Roux</div>
            </div>
            <div class="content">
              <span class="label">
              </span>
              <div>
                <h4>The Ocean Race 2023</h4>
                <p>Team Malizia are competing in The Ocean Race, one of the toughest team challenges in sport. The Ocean Race is a five month, 32,000 nautical mile circumnavigation of the globe with eight global legs. The race started in Alicante, Spain on Sunday, 15 January 2023 and finishes in Genova, Italy towards the end of June 2023.</p>
                <span class="link-btn">Discover more</span>
              </div>
            </div>
          </a>
        </article>
      </div> </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
          <article class="text-article">
            <h3>A Race We Must Win</h3>
            <p>Team Malizia is supporting the global effort to fight climate change. &quot;A Race We Must Win&quot; carries a double meaning: a sailing team competing to win each race and on a bigger scale, we&#39;re all united to win this race against climate change and global warming.<br />
              &nbsp;</p>

            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="bkg-light-grey overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="side-component full align-top">
              <div class="bkg-light-grey side-content">
                <div class="text-article mt-base"><p>&ldquo;We are delighted to announce our continued support for Team Malizia and Boris Herrmann, who have already accomplished so much. To compete at the highest level in sport takes strength of character, leadership, and teamwork, all attributes we aspire to share. With their scientific mission to find solutions to ocean and climate change, they will continue to raise awareness for sustainability issues around the globe. We are hugely excited by the prospect of what we can achieve together&rdquo;<br />
                  <br />
                  <strong>Giorgio Pradelli, CEO of EFG International</strong></p>
                </div>
              </div>
              <div class="side-image">
                <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/sail.jpg' %}"></div>
                <div class="image-copyright" style="height:auto!important;">© Martin Keruzoré/Team Malizia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bkg-light-grey overflow-hidden m-0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="side-component full align-top">
              <div class="bkg-light-grey side-content order-lg-2">
                <div class="text-article mt-base"><p>&ldquo;I am proud and honoured to continue this successful and long partnership with EFG who were one of the first companies to join Team Malizia in 2016. Now we have an exciting 5 years planned together taking in some of the most iconic round the world races, The Ocean Race 2022 and The Vend&eacute;e Globe 2024&quot;<br />
                  <br />
                  <strong>Boris Herrmann, Skipper of Team Malizia</strong></p>
                </div>
              </div>
              <div class="side-image order-lg-1">
                <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/mainsailing.jpg' %}"></div>
                <div class="image-copyright" style="height:auto!important;">© Andreas Lindlhar</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row teaser-wrapper">
          <div class="col-12 col-lg-4">
            <article class="teaser">
              <a target="_blank" href="https://www.borisherrmannracing.com/sailing/" title="Meet Boris Herrmann and Team Malizia">
                <span class="label">Team</span>
                <div class="content">
                  <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Meet Boris Herrmann and Team Malizia</h4>
                  <span class="link-btn">Learn more</span>
                </div>
                <picture class="image">
                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/Sponsorship/Sailing/Sailing_Team_548x250px_72dpi.png/jcr:content/Sailing_Team_548x250px_72dpi.png">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/Sponsorship/Sailing/Sailing_Team_548x250px_72dpi.png/jcr:content/Sailing_Team_548x250px_72dpi.png" width="548" height="280" class="lazyload" alt="Meet Boris Herrmann and Team Malizia" />
                  </picture>
                </a>
              </article>
            </div>
            <div class="col-12 col-lg-4">
              <article class="teaser">
                <a target="_blank" href="https://www.borisherrmannracing.com/" title="Get the latest updates on the team’s offshore adventures">
                  <span class="label">Latest News</span>
                  <div class="content">
                    <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Get the latest updates on the team’s offshore adventures</h4>
                    <span class="link-btn">Learn more</span>
                  </div>
                  <picture class="image">
                    <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/Teaser_Team_Malizia_Insight/Team_Malizia_Insight_530x395px.jpg/jcr:content/Team_Malizia_Insight_530x395px.jpg">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/Teaser_Team_Malizia_Insight/Team_Malizia_Insight_530x395px.jpg/jcr:content/Team_Malizia_Insight_530x395px.jpg" width="548" height="280" class="lazyload" alt="Get the latest updates on the team’s offshore adventures" />
                    </picture>
                  </a>
                </article>
              </div>
              <div class="col-12 col-lg-4">
                <article class="teaser">
                  <a target="_blank" href="https://www.team-malizia.com/news/birte-and-boris-are-publishing-their-first-childrens-book-my-ocean-challenge-kurs-auf-klimaschutz" title="Educating and inspiring the next generation to find a solution to ocean and climate change">
                    <span class="label">Ocean Challenge</span>
                    <div class="content">
                      <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Educating and inspiring the next generation to find a solution to ocean and climate change</h4>
                      <span class="link-btn">Learn more</span>
                    </div>
                    <picture class="image">
                      <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/Sponsorship/Sailing/Sailing_Ocean_Challenge_548x250px_72dpi.png/jcr:content/Sailing_Ocean_Challenge_548x250px_72dpi.png">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/Sponsorship/Sailing/Sailing_Ocean_Challenge_548x250px_72dpi.png/jcr:content/Sailing_Ocean_Challenge_548x250px_72dpi.png" width="548" height="280" class="lazyload" alt="Educating and inspiring the next generation to find a solution to ocean and climate change" />
                      </picture>
                    </a>
                  </article>
                </div>
              </div>
            </div>
          </section><section>
            <div class="container">
              <div class="row section-headline mb-small">
                <div class="col-12 col-lg-10 mx-auto">
                  <h3>Race calendar</h3>
                  <hr /><p>Watch strength, determination, courage and talent in action as the elite sailors and teams prepare for, and compete in some of the world’s most challenging races.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-10 mx-auto">
                  <ul class="event-list">
                    <li>
                      <article>
                        <a target="_blank" href="https://www.theoceanrace.com/" title="The Ocean Race">
                          <div class="info">
                            <p>
                              <time class="no-cat" datetime="2023-01-15 00:00">
                                15 January 2023
                              </time>
                            </p>
                          </div>
                          <div class="content">
                            <h3>The Ocean Race</h3>
                            <p>Features: nine months around the world with stopovers</p>
                          </div>
                          <div class="bottom">
                            <span></span>
                            <span class="link-btn">Find out more</span>
                          </div>
                        </a>
                      </article>
                    </li> </ul>
                  </div>
                </div>
              </div>
            </section>
            {% include 'itstart.html' %}{% endblock %}
