{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
<li><span>Talent Development</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Talent Development</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/about/our-sponsorships.html">Our sponsorships</a></li>
<li><span>Talent Development</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:8af2959c-13e4-423b-ab5b-48081fe57cd0/1920x680-talent-notxt.jpg/lang:en/1920x680-talent-notxt.jpg [(max-width: 991px)] | /doc/jcr:8af2959c-13e4-423b-ab5b-48081fe57cd0/1920x680-talent-notxt.jpg/lang:en/1920x680-talent-notxt.jpg [(max-width: 1599px)] | /doc/jcr:8af2959c-13e4-423b-ab5b-48081fe57cd0/1920x680-talent-notxt.jpg/lang:en/1920x680-talent-notxt.jpg"
>
<div>
<h1>Talent development</h1>
<p>Committed to developing the next generation of entrepreneurial thinkers</p>
</div>
<div class="image-copyright">© Photography by Ed Taylor / www.edtaylor.co.uk</div>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<h2>Empowering potential</h2>
<p class="indent">The foundation of all our long-term partnerships is a strong belief in the importance of nurturing and investing in the future generation. From Sailing to Southbank Sinfonia we champion future generations so that they can shape tomorrow’s world.</p>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row teaser-wrapper">
<div class="col-12 col-xl-10 mx-auto">
<article class="teaser highlight ">
<a href="/about/our-sponsorships/talent-development/southbank-sinfonia.html" title="Southbank Sinfonia">
<div class="image position-relative">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/670x670/dam/efg/about/Sponsorships/796x620_Southbank_Sinfonia_0-.jpg/jcr:content/Sponsorships_Southbank_Sinfonia_566x422px.jpg [(max-width: 575px)] | /.imaging/mte/efg-revamp/472x740/dam/efg/about/Sponsorships/796x620_Southbank_Sinfonia_0-.jpg/jcr:content/Sponsorships_Southbank_Sinfonia_566x422px.jpg [(max-width: 991px)] | /.imaging/mte/efg-revamp/428x446/dam/efg/about/Sponsorships/796x620_Southbank_Sinfonia_0-.jpg/jcr:content/Sponsorships_Southbank_Sinfonia_566x422px.jpg [(max-width: 1599px)] | /doc/jcr:fb8fb878-9787-4bf7-8782-a4ca49e8c2a1/Sponsorships_Southbank_Sinfonia_566x422px.jpg/lang:en/Sponsorships_Southbank_Sinfonia_566x422px.jpg"></div>
</div>
<div class="content">
<span class="label">Music and Arts
</span>
<div>
<h4>Southbank Sinfonia</h4>
<p>In the UK, EFG has been the principal partner of the Southbank Sinfonia since 2009. This unique orchestra provides a springboard into the orchestral profession for talented young musicians, affording 33 the opportunity to spend nine months performing with the orchestra in order to gain a professional introduction like no other.</p>
<span class="link-btn">Watch Sinfonia highlights</span>
</div>
</div>
</a>
</article>
</div> </div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content order-lg-2">
<h3>EFG Swiss Open Gstaad</h3>
<div class="text-article mt-base"><p>EFG is the new title sponsor of the Swiss Open Gstaad, one of the most prestigious tournaments in Switzerland, where some of the world&rsquo;s best elite players gather to compete every July. Past champions include the likes of Stefan Edberg, Roger Federer and Matteo Berrettini.</p>
<p>Known as the &lsquo;Wimbledon of the Alps&rsquo; due to its unique backdrop, the EFG Swiss Open Gstaad&rsquo;s ethos is to preserve the best Swiss traditions and we hope the partnership will help elevate the tournament to the next level and grow the game in our home market by serving to inspire and champion the tennis stars of tomorrow.</p>
<p>&nbsp;</p>
</div>
<a target="_blank" href="https://swissopengstaad.ch/" class="btn mt-20">Discover more</a>
</div>
<div class="side-image order-lg-1">
<div class="lazyload" data-sizes="auto" data-bgset="/doc/jcr:94378fad-f209-4bcd-815d-11222515fa11/Sponsorships_Tennis_950x463px.jpg/lang:en/Sponsorships_Tennis_950x463px.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content">
<h3>Société Nautique de Genève</h3>
<div class="text-article mt-base"><p>EFG is a longstanding sponsor of the Soci&eacute;t&eacute; Nautique de Gen&egrave;ve (SNG) sailing school. In 2018, EFG strengthened its partnership, thus reinforcing its commitment to youth talent development. Established in 1872 on the shores of Lake Geneva, the SNG today is recognised as one of the most prestigious Swiss yacht clubs and has around 3,000 active members. The Ecole de Voile and the sailing team supported by EFG both foster young talent such as champions Max Wallenberg and Amanda Bjork-Anastassov, recent winners of the World Junior Sailing Championships in China.</p>
</div>
<a target="_blank" href="http://www.nautique.ch/fr-ch/la-societe-nautique-de-geneve" class="btn mt-20">Explore more</a>
</div>
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/about/Sponsorships/geneve2.jpg/jcr:content/geneve2.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content order-lg-2">
<h3>Swiss Sailing League Association</h3>
<div class="text-article mt-base"><p>EFG established a partnership with the <a href="http://www.swiss-sailing-league.ch/" target="_blank">Swiss Sailing League Association</a> (SSLA) in 2018. The SSLA was founded in Zurich in 2015. It manages a series of youth events in prestigious locations across Switzerland for the Swiss National Sailing League.</p>
<p>This League is a semi-professionally organized sailing tour, with clubs competing against each other. It aims to promote an interest in the sport among young people and students. The winners of the Swiss Club Championship qualify to take part in the European Sailing Club Championship and Sailing Champions League.</p>
</div>
<a target="_blank" href="http://www.swiss-sailing-league.ch/en/" class="btn mt-20">Explore more</a>
</div>
<div class="side-image order-lg-1">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/about/Sponsorships/SwissNationalSailingLeagueAssociation_SDI3274.jpg/jcr:content/SwissNationalSailingLeagueAssociation_SDI3274.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content">
<h3>Tiffany Chan</h3>
<div class="text-article mt-base"><p>Olympian Tiffany Chan is one of Hong Kong&rsquo;s youngest golfing stars and is also Hong Kong&rsquo;s first female golfer to qualify for the LPGA Tour. EFG believes in nurturing young talent and has supports the development of young athletes by sponsoring the HK Junior Development Programme (2009-2014). This has benefitted many aspiring athletes, including Tiffany Chan. EFG also established the EFG Young Athletes Foundation to support talented young sportspeople such as Tiffany, who became an EFG Global Sport Ambassador in 2017.</p>
<p>&nbsp;</p>
</div>
<a target="_blank" href="https://www.prestigeonline.com/hk/prestige-40-under-40/tiffany-chan-2/" class="btn mt-20">Discover more</a>
</div>
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/About_Pages/Sponsorships/Youth_Talent_Development__Tiffany_Chan.jpg/jcr:content/Youth_Talent_Development__Tiffany_Chan.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>It all starts with a conversation</h3>
<p>Let&#039;s start ours and build something valuable today. </p>
<a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
<ul>
<li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
<li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/About_Pages/About_Us/About_Us_Success_688x515_72dpi.png/jcr:content/About_Us_Success_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/About_Pages/About_Us/About_Us_Success_688x515_72dpi.png/jcr:content/About_Us_Success_688x515_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover More</h2>
<p>Supporting partners who share our inspired, passionate and agile spirit, find out more about our sponsorships.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-sponsorships/sailing.html" title="Setting course for success and a sustainable future">
<span class="label">Sailing</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/Teaser_Team_Malizia_Insight/Team_Malizia_Insight_1680x690px.jpg/jcr:content/Team_Malizia_Insight_1680x690px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/Teaser_Team_Malizia_Insight/Team_Malizia_Insight_1680x690px.jpg/jcr:content/Team_Malizia_Insight_1680x690px.jpg" width="548" height="280" class="lazyload" alt="Setting course for success and a sustainable future" />
</picture>
<div class="content">
<h4>Setting course for success and a sustainable future</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-sponsorships/jazz.html" title="Embracing creativity, collaboration and masters of musical talent">
<span class="label">Jazz</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Sponsorships/1920x680jazz.jpg/jcr:content/1920x680jazz.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Sponsorships/1920x680jazz.jpg/jcr:content/1920x680jazz.jpg" width="548" height="280" class="lazyload" alt="Embracing creativity, collaboration and masters of musical talent" />
</picture>
<div class="content">
<h4>Embracing creativity, collaboration and masters of musical talent</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/our-sponsorships/arts-and-lifestyle.html" title="Supporting the past, present and future of performing and visual arts">
<span class="label">Art and Lifestyle</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/About_Pages/Sponsorships/Art__Peggy_Guggenheim_Collection_-x-A4-OK_Matteo_De_Fina_796x620.jpg/jcr:content/Art__Peggy_Guggenheim_Collection_(x-A4)OK_Matteo_De_Fina_796x620.jpg" width="548" height="280" class="lazyload" alt="Supporting the past, present and future of performing and visual arts" />
</picture>
<div class="content">
<h4>Supporting the past, present and future of performing and visual arts</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
