{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" ><img src="{% static 'ebank/assets/images/logored.svg' %}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" "><img src="{% static 'ebank/assets/images/logored.svg'%}" alt="logo" /></a>
  </div>
  <ul class="nav">

    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>

    <li class="nav-item menu-items">

      <a class="nav-link" href="{% url 'Ebank:dashboard' %}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title" >Dashboard</span>
      </a>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-account-card-details"></i>
        </span>
        <span class="menu-title">Accounts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:myaccounts' %}">Accounts Summary</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:accountstatement' %}">Account Statement</a></li>



        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-monitor"></i>
        </span>
        <span class="menu-title">Transfers</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:rfbtransfer' %}">Within Red Forest</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:otherbankstransfer' %}">To Other Banks</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:internationaltransfer' %}">International Transfer</a></li>


        </ul>
      </div>
    </li>





    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-receipt"></i>
        </span>
        <span class="menu-title">Redeem Funds</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic3">
        <ul class="nav flex-column sub-menu">

          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:westernunioun' %}">Western Unioun</a></li>

        </ul>
      </div>
    </li>

    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-currency-usd"></i>
        </span>
        <span class="menu-title">Loans & Investment</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic4">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:loansummarry' %}">Summary</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:requestloan' %}">Request Loan</a></li>



        </ul>
      </div>
    </li>



    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-briefcase-check"></i>
        </span>
        <span class="menu-title">Cheque Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic5">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:stopcheque' %}">Stop Cheque</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:preconfirmcheque' %}">Pre Confirm Cheque</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:viewclearingchequedebt' %}">View Clearing Cheque Debit</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:requestcheque' %}">Request Cheque</a></li>


        </ul>
      </div>
    </li>


    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-cash"></i>
        </span>
        <span class="menu-title">Card Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic6">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:cardreward' %}">Card Rewards</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:requestcard' %}">Request Card</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:stopcard' %}">Stop Card</a></li>



        </ul>
      </div>
    </li>



    <li class="nav-item menu-items">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic60" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-playlist-play"></i>
        </span>
        <span class="menu-title">Self Services</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic60">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:informationupdate' %}">Information Update</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'Ebank:passwordsettings' %}">Password Settings</a></li>




        </ul>
      </div>
    </li>





  </ul>
</nav>
