
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>Canberra - EFG International</title>
<meta property="og:site_name" content="EFG"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@efgint"/>
<meta property="og:title" content="Canberra - EFG International"/>
<meta name="twitter:title" content="Canberra - EFG International"/>
<meta property="og:description" content="Contact our Canberra branch and find out more about private banking, wealth management and other financial solutions in your area. Get in touch today."/>
<meta property="og:url" content="https://www.efginternational.com/about/our-locations/canberra.html"/>
<meta property="og:image" content="https://www.efginternational.com/.resources/efg-templating-light/webresources/images/logo-print.jpg"/>
<meta name="twitter:image" content="https://www.efginternational.com/.resources/efg-templating-light/webresources/images/logo-print.jpg"/>
<meta property="og:image:width" content="123" />
<meta property="og:image:height" content="56" />
<meta property="og:locale" content="English" />
<meta itemprop="name" content="EFG">
<meta itemprop="description" content="Contact our Canberra branch and find out more about private banking, wealth management and other financial solutions in your area. Get in touch today.">
<meta name="description" content="Contact our Canberra branch and find out more about private banking, wealth management and other financial solutions in your area. Get in touch today." />
<link rel="shortcut icon" href="/.resources/efg-templating-light/webresources/favicon.ico" />
<link rel="alternate" href="https://www.efginternational.com/about/our-locations/canberra.html" hreflang="x-default" />
<link rel="alternate" hreflang="it" href="https://www.efginternational.com/it/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="de" href="https://www.efginternational.com/de/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="fr" href="https://www.efginternational.com/fr/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="pt" href="https://www.efginternational.com/pt/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="es" href="https://www.efginternational.com/es/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="ru" href="https://www.efginternational.com/ru/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="zh-hans" href="https://www.efginternational.com/zh_CN/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="zh-hant" href="https://www.efginternational.com/zh_TW/about/our-locations/canberra.html" />
<link rel="alternate" hreflang="en" href="https://www.efginternational.com/about/our-locations/canberra.html" />
<link rel="canonical" href="https://www.efginternational.com/about/our-locations/canberra.html">
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="preload" href="/.resources/efg-revamp/webresources/js/all.min~2023-02-23-16-49-18-000~cache.js" />
<link rel="stylesheet" type="text/css" href="/.resources/efg-revamp/webresources/css/style.min~2023-02-23-16-49-12-000~cache.css" media="all" />
<script src="/.resources/efg-revamp/webresources/js/vendor/jquery-3.6.0.min~2023-02-23-16-49-18-000~cache.js"></script>
<script src="https://maps.google.com/maps/api/js?language=en&key=AIzaSyBmU-6CWKzXhBhXyYtivmCqd9htg_JXyfE"></script>
<script>
function isBrowserMobile() {
var mobile = (/mobile|android|iphone|ipad|ipod|blackberry|mini|iemobile|opera mobi|opera mobile|palmos|webos|googlebot-mobile|windows phone|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
return mobile;
}
//https://www.npmjs.com/package/@googlemaps/markerclustererplus
var startPoint = "";
var contacts = new Array();
var clusterStyles = [
{
textColor: 'black',
className: 'markerCluster',
url: '/.resources/efg-templating-light/webresources/images/googleMaps/markerclusterer/m1.png',
height: 55,
width: 55,
textSize: 15,
textLineHeight: 50,
fontStyle: 'normal',
fontWeight: 'normal',
fontFamily: 'open_sanssemibold, Arial, sans-serif'
}
];
var mcOptions = { zoomOnClick: true, maxZoom: 15, styles: clusterStyles};
var customIcons = {
default: {
icon: new google.maps.MarkerImage("/.resources/efg-revamp/webresources/img/marker.png", new google.maps.Size(55, 55), new google.maps.Point(0, 0), new google.maps.Point(27, 55))
}
};
</script>
<script>
$(function() {
$('a[href^="mailto:"]').click(function() {
gtag('event', 'conversion', {'send_to': 'AW-436197703/zDU2CMLM8-ECEMey_88B'});
});
});
</script>
<!-- OneTrust Cookies Consent Notice start for www.efginternational.com -->
<script type="text/javascript" src=https://cdn.cookielaw.org/consent/22cab20f-d2ff-4dcb-8725-e5fa4acdee1a/OtAutoBlock.js ></script>
<script src=https://cdn.cookielaw.org/scripttemplates/otSDKStub.js type="text/javascript" charset="UTF-8" data-domain-script="22cab20f-d2ff-4dcb-8725-e5fa4acdee1a" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- OneTrust Cookies Consent Notice end for www.efginternational.com -->
<!-- Matomo -->
<script type="text/javascript">
var _paq = window._paq = window._paq || [];
_paq.push([function() {
var self = this;
function getOriginalVisitorCookieTimeout() {
var now = new Date(),
nowTs = Math.round(now.getTime() / 1000),
visitorInfo = self.getVisitorInfo();
var createTs = parseInt(visitorInfo[2]);
var cookieTimeout = 33696000; // 13 mois en secondes
var originalTimeout = createTs + cookieTimeout - nowTs;
return originalTimeout;
}
this.setVisitorCookieTimeout( getOriginalVisitorCookieTimeout() );
}]);
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
var u="//analytics.efginternational.com/";
_paq.push(['setTrackerUrl', u+'matomo.php']);
_paq.push(['setSiteId', '3']);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<!-- End Matomo Code -->
<!-- Matomo Tag Manager -->
<script type="text/javascript">
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.src='https://analytics.efginternational.com/js/container_FrpEO9BV.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->
<!-- Global site tag (gtag.js) - Google Ads: 436197703 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-436197703"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'AW-436197703');
</script>
<!--
Event snippet for EFG_Bank_Pageview [type:Visit][subtype:Pageview] on https://www.efgbank.com: Please do not remove.
Place this snippet on pages with events you’re tracking.
Creation date: 11/03/2021
-->
<script>
gtag('event', 'conversion', {
'allow_custom_scripts': true,
'send_to': 'DC-9412433/visit/pageview+standard'
});
</script>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=9412433;type=visit;cat=pageview;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>
</noscript>
<!-- End of event snippet: Please do not remove -->
<!-- Microsoft ADS -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"56337733"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
<!-- Linkedin -->
<script type="text/javascript">
_linkedin_partner_id = "2779930";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2779930&fmt=gif" />
</noscript>
<meta name="google-site-verification" content="TjkMWuNF0uQdxhxb2YLRSc59BK0Kqiq4KDcOrvmqRXA" />
</head>
<body data-context-path="" class="">
<div class="content-wrapper">
<header class="header">
<div class="container">
<div class="row">
<div class="col-12">
<a href="#mobile-menu" class="mobile-btn d-xl-none"><i class="icon-efg-menu"></i>Menu</a>
<div class="header-logo">
<a href="/"><img src="/doc/jcr:20d2bbea-fd6a-43bb-b7cc-da5d05ae1020/logo-efg.svg/lang:en/logo-efg.svg" alt="EFG" /></a>
</div>
<nav class="header-nav d-none d-xl-block">
<ul>
<li>
<a href="/private-banking.html" title="PRIVATE BANKING">Private Banking</a>
<a class="icon-efg-triangle-down d-none"></a>
<div class="submenu">
<ul>
<li class="sub">
<a href="/private-banking/investment-solutions.html" title="INVESTMENT SOLUTIONS">
Investment Solutions
</a>
<span class="d-none"></span>
</li>
<li class="sub">
<a href="/private-banking/wealth-services.html" title="WEALTH SERVICES">
Wealth Services
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/private-banking/credit-and-financing.html" title="CREDIT AND FINANCING">
Credit and Financing
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/private-banking/banking-services.html" title="BANKING SERVICES">
Banking services
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/private-banking/independent-asset-managers.html" title="INDEPENDENT ASSET MANAGERS">
Independent Asset Managers
</a>
<span class="d-none"></span>
</li>
<li class="sub">
<a class="text-transform-none" href="/private-banking/ebanking.html" title="eBanking">
eBanking
</a>
<span class="d-none"></span>
</li>
</ul>
<div>
<ul>
<li class="">
<a href="/private-banking/investment-solutions/advisory-solutions.html" title="ADVISORY SOLUTIONS">Advisory Solutions</a>
</li>
<li class="">
<a href="/private-banking/investment-solutions/discretionary-mandates.html" title="DISCRETIONARY MANDATES">Discretionary Mandates</a>
</li>
<li class="">
<a href="/private-banking/investment-solutions/alternative-and-private-market-investments.html" title="ALTERNATIVE & PRIVATE MARKET INVESTMENTS">Alternative & private market investments</a>
</li>
<li class="">
<a href="/private-banking/investment-solutions/advanced-investment-solutions.html" title="ADVANCED INVESTMENT SOLUTIONS">Advanced Investment Solutions</a>
</li>
</ul>
<ul>
<li class="">
<a href="/private-banking/wealth-services/wealth-solutions.html" title="WEALTH SOLUTIONS">Wealth Solutions</a>
</li>
<li class="">
<a href="/private-banking/wealth-services/wealth-planning.html" title="WEALTH PLANNING">Wealth Planning</a>
</li>
<li class="">
<a href="/private-banking/wealth-services/fund-services.html" title="FUND SERVICES">Fund Services</a>
</li>
<li class="">
<a href="/private-banking/wealth-services/trust-services.html" title="TRUST SERVICES">Trust Services</a>
</li>
</ul>
<ul>
<li class="">
<a href="/private-banking/ebanking/efg-mobile-banking.html" title="EFG BANKING">EFG Banking</a>
</li>
<li class="">
<a href="/private-banking/ebanking/efg-access.html" title="EFG ACCESS">EFG access</a>
</li>
<li class="">
<a href="/private-banking/ebanking/security.html" title="SECURITY">Security</a>
</li>
<li class="">
<a href="/private-banking/ebanking/documentation.html" title="DOCUMENTATION">Documentation</a>
</li>
</ul>
</div>
</div>
</li>
<li>
<a href="/asset-management.html" title="ASSET MANAGEMENT">Asset Management</a>
<a class="icon-efg-triangle-down d-none"></a>
<div class="submenu">
<ul>
<li class="">
<a href="/asset-management/investment-process.html" title="INVESTMENT PROCESS">
Investment process
</a>
<span class="d-none"></span>
</li>
<li class="">
<a target="_blank" href="/asset-management/new-capital-funds.html" title="NEW CAPITAL FUNDS">
New Capital Funds<i class="icon-efg-external-link ms-2"></i>
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/asset-management/responsible-investing.html" title="RESPONSIBLE INVESTING">
Responsible investing
</a>
<span class="d-none"></span>
</li>
</ul>
<div>
</div>
</div>
</li>
<li>
<a href="/insights.html" title="INSIGHTS">Insights</a>
</li>
<li class="active">
<a href="/about.html" title="ABOUT">About</a>
<a class="icon-efg-triangle-down d-none"></a>
<div class="submenu">
<ul>
<li class="">
<a href="/about/our-philosophy.html" title="OUR PHILOSOPHY">
Our philosophy
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/about/our-history.html" title="OUR HISTORY">
Our history
</a>
<span class="d-none"></span>
</li>
<li class="sub">
<a href="/about/our-organization.html" title="OUR ORGANISATION">
Our organisation
</a>
<span class="d-none"></span>
</li>
<li class="active ">
<a href="/about/our-locations.html" class="txt-bronze" title="OUR LOCATIONS">
Our locations
</a>
<span class="d-none"></span>
</li>
<li class="sub">
<a href="/about/our-sponsorships.html" title="OUR SPONSORSHIPS">
Our sponsorships
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/about/careers.html" title="CAREERS">
Careers
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/about/sustainability.html" title="SUSTAINABILITY">
Sustainability
</a>
<span class="d-none"></span>
</li>
</ul>
<div>
<ul>
<li class="">
<a href="/about/our-organization/board-of-directors.html" title="BOARD OF DIRECTORS ">Board of Directors </a>
</li>
<li class="">
<a href="/about/our-organization/executive-committee.html" title="EXECUTIVE COMMITTEE">Executive committee</a>
</li>
<li class="">
<a href="/about/our-organization/global-business-committee.html" title="GLOBAL BUSINESS COMMITTEE">Global business committee</a>
</li>
<li class="">
<a href="/about/our-organization/auditor.html" title="AUDITOR">Auditor</a>
</li>
<li class="">
<a href="/about/our-organization/regulations.html" title="REGULATIONS">Regulations</a>
</li>
</ul>
<ul>
<li class="">
<a href="/about/our-sponsorships/sailing.html" title="SAILING">Sailing</a>
</li>
<li class="">
<a href="/about/our-sponsorships/jazz.html" title="JAZZ">Jazz</a>
</li>
<li class="">
<a href="/about/our-sponsorships/arts-and-lifestyle.html" title="ARTS & LIFESTYLE">Arts & Lifestyle</a>
</li>
<li class="">
<a href="/about/our-sponsorships/talent-development.html" title="TALENT DEVELOPMENT">Talent Development</a>
</li>
</ul>
</div>
</div>
</li>
<li>
<a href="/media.html" title="MEDIA">Media</a>
</li>
<li>
<a href="/investors.html" title="INVESTORS">Investors</a>
<a class="icon-efg-triangle-down d-none"></a>
<div class="submenu">
<ul>
<li class="">
<a href="/investors/financial-results.html" title="FINANCIAL RESULTS">
Financial results
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/financial-calendar-and-events.html" title="FINANCIAL CALENDAR AND EVENTS">
Financial calendar and events
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/presentations.html" title="PRESENTATIONS">
Presentations
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/share-information.html" title="SHARE INFORMATION">
Share Information
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/annual-general-meeting.html" title="ANNUAL GENERAL MEETING">
Annual General Meeting
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/rating-and-instruments.html" title="RATINGS AND INSTRUMENTS">
Ratings and instruments
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/analyst-coverage.html" title="ANALYST COVERAGE">
Analyst coverage
</a>
<span class="d-none"></span>
</li>
<li class="">
<a href="/investors/share-repurchase.html" title="SHARE REPURCHASE">
Share repurchase
</a>
<span class="d-none"></span>
</li>
</ul>
<div>
</div>
</div>
</li>
<li>
<a href="/contact.html" title="CONTACT">Contact</a>
</li>
<li>
<a href="/errors.html" title=""></a>
</li>
</ul>
</nav>
<div class="header-meta">
<div class="header-search">
<a href="/search.html" class="search-btn"><i class="icon-efg-search"></i>Search</a>
</div>
<a href="#" class="group-btn d-none d-xl-block">
<ul>
<li>
Global
</li>
<li class="text-uppercase">en</li>
</ul>
</a>
<a href="https://ebanking.efginternational.com/" target="_blank" class="btn d-none d-xl-block" title="eBanking"><i class="icon-efg-bank"></i>eBanking</a>
</div>
</div>
</div>
</div>
<div class="group-layer d-none d-xl-block">
<div class="container">
<div class="row">
<a href="#" class="btn group-layer-close">Close</a>
<div class="col-7">
<div class="group-customization">
<div>
<h3>Personalise your content</h3>
<p>Let us know where you’re located so we can tailor our information to make your experience more relevant.</p>
</div>
<form class="form-change-site">
<fieldset>
<div>
<div class="form-field select site-country">
<select name="content_experience_country" id="content_experience_country">
<optgroup label="Countries">
<option value="" selected>Global</option>
<option value="CH">Switzerland</option>
<option value="GB">United Kingdom</option>
<option value="LU">Luxembourg</option>
<option value="MC">Monaco</option>
<option value="US">United States</option>
<option value="BS">Bahamas</option>
<option value="KY">Cayman Islands</option>
<option value="LI">Liechtenstein</option>
<option value="CY">Cyprus</option>
<option value="HK">Hong Kong</option>
<option value="SG">Singapore</option>
</optgroup>
<optgroup label="Group">
<option value="https://www.efgha.com ">Harris Allday</option>
<option value="https://www.newcapitalfunds.com">New Capital Funds</option>
<option value="https://www.shawandpartners.com.au">Shaw and Partners </option>
</optgroup>
</select>
</div>
<div class="form-field select site-language">
<select name="content_experience_lang" id="content_experience_lang">
<option value="/about/our-locations/canberra.html" selected> English </option><option value="/it/about/our-locations/canberra.html"> Italiano </option><option value="/de/about/our-locations/canberra.html"> Deutsch </option><option value="/fr/about/our-locations/canberra.html"> Français </option> </select>
</div>
</div>
<button type="submit" class="btn btn-square">Submit<i class="icon-efg-line-arrow-right"></i></button>
</fieldset>
</form>
</div>
</div>
<div class="col-5">
<div class="group-contant">
<h6>Your regional contact:</h6>
<div class="address">
<ul>
<li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
<li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/about/our-locations.html">Our locations</a></li>
<li><span>Canberra</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Canberra</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="/about.html">About</a></li>
<li><a href="/about/our-locations.html">Our locations</a></li>
<li><span>Canberra</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto" data-bgset="/doc/jcr:b1ca9e40-68eb-4e1e-ae3f-7844ef776919/hamilton_mobile.jpg/lang:en/hamilton_mobile.jpg [(max-width: 991px)] | /doc/jcr:1a6a21f2-7f3e-4522-b9b4-d4e09871d548/1920x680-Canberra.jpg/lang:en/1920x680-Canberra.jpg [(max-width: 1599px)] | /doc/jcr:1a6a21f2-7f3e-4522-b9b4-d4e09871d548/1920x680-Canberra.jpg/lang:en/1920x680-Canberra.jpg">
<div>
<h1>EFG in Canberra</h1>
<p>Wherever you are in the world, you are never far from one of our experts</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full">
<div class="side-content bkg-white">
<hr>
<h3>Shaw and Partners</h3><ul class="side-contact"><li><i class="icon-efg-pin"></i>Level 7<br>54 Marcus Clarke Street - ACT 2600 Canberra</li><li><i class="icon-efg-phone"></i><a href="tel:+61261135300" class="phone">+61 2 6113 5300</a></li></ul>
<a target="_black" class="btn" href="https://www.google.com/maps?f=d&dirflg=d&daddr=Shaw and Partners@-35.2764523,149.1270488" title="Get directions" class="btn">Get directions</a>
</div>
<div class="side-map">
<div class="embed-responsive-item" id="gMap1"></div>
<script>
var contactsMap1 = new Array();
$(function(){
var jsonStr1 = "{\"lat\":\"-35.2764523\",\"lng\":\"149.1270488\",\"zoom\":\"15\",\"mapTypeId\":\"roadmap\",\"address\":\"54 Marcus Clarke Street, canberra\"}";
startPoint1 = readGoogleMapPoint(jsonStr1);
var contact = new Object();
contact.jsonStr = readGoogleMapPoint(jsonStr1);
contact.html = "<h3>Shaw and Partners<\/h3><ul class=\"side-contact\"><li><i class=\"icon-efg-pin\"><\/i>Level 7<br>54 Marcus Clarke Street - ACT 2600 Canberra<\/li><li><i class=\"icon-efg-phone\"><\/i><a href=\"tel:+61261135300\" class=\"phone\">+61 2 6113 5300<\/a><\/li><\/ul>";
contact.icon = 'default';
contactsMap1.push(contact);
try {
craeteGMap("gMap1", startPoint1, contactsMap1, false, true, true);
} catch (err){
alert ("Check GoogleMap parameters: " + err.description);
}
$( window ).resize(function() {
craeteGMap("gMap1", startPoint1, contactsMap1, false, true, true);
});
});
</script>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content">
<h3>Our approach </h3>
<div class="text-article mt-base"><p>At EFG, we are there for you, whenever and wherever you need us. It&rsquo;s why we operate in 40 locations worldwide, to make sure we&rsquo;re never too far away. We take the time to truly understand your needs and we think ahead to ensure that the next steps we take always lead in the right direction &ndash; to your success. By giving our CROs the freedom to make smarter choices for each individual client&rsquo;s needs, you&rsquo;ll experience private banking that is uniquely built around you.</p>
</div>
<a href="/about/our-philosophy/our-approach.html" class="btn mt-20">Learn more</a>
</div>
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Location_Pages/_master_location/Our_Approach_950x464_72dpi.png/jcr:content/Our_Approach_950x464_72dpi.png"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<article class="text-article">
<h3>Financial place</h3>
<p>Shaw and Partners is one of Australia&rsquo;s preeminent investment and wealth management firms.&nbsp;</p>
<p>With a national presence and over $27 billion of assets under advice, Shaw and Partners offers the intimacy of a boutique investment firm, backed by the resources and scale of a major global financial group, EFG International.</p>
<p>At Shaw and Partners we offer tailored advice and investment solutions, financial planning and corporate advisory services.&nbsp;&nbsp;We act for and on behalf of individuals, institutions, corporates and charities.</p>
<p>We are client focused, having helped our clients manage and grow their financial assets for over 30 years. Our emphasis on integrity has enabled us to achieve very high levels of client satisfaction, while unlocking opportunities of significant value.</p>
<p>Backed by fresh thinking, robust research and some of the nation&rsquo;s best investment and wealth experts, our business has been designed to meet the growing needs of our clients. Shaw and Partners offers access to an extensive team of private client advisers, institutional sales and trading specialists, market leading research analysts and strategic corporate financiers.</p>
<p>By working closely with clients and targeting their needs, we have forged strong long-term relationships.&nbsp;&nbsp;So, whether you are an ordinary investor, high net worth individual, charity, institution or corporate, our goal is simple: to listen to you, then act according to your needs alone.</p>
<p>We welcome you to Shaw and Partners. Your partners in building and preserving wealth.</p>
</article>
</div>
</div>
</div>
</section>
<section class="bkg-dark pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more </h2>
<p>From philosophy to financials discover why EFG is the destination of choice for clients and professionals alike.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about.html" title="Bringing entrepreneurial thinking to Swiss private banking">
<span class="label">About us</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/1920x680-efg-signs.jpg/jcr:content/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/1920x680-efg-signs.jpg/jcr:content/20210427_EFGI_Web_Signage_ZH_1920x680px.jpg" width="548" height="280" class="lazyload" alt="Bringing entrepreneurial thinking to Swiss private banking" />
</picture>
<div class="content">
<h4>Bringing entrepreneurial thinking to Swiss private banking</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/insights.html" title="The latest trends and insights from our expert analysts ">
<span class="label">Insights</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="The latest trends and insights from our expert analysts " />
</picture>
<div class="content">
<h4>The latest trends and insights from our expert analysts </h4>
<span class="link-btn">Explore more </span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/careers.html" title="A career where you can create value beyond wealth">
<span class="label">Careers</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="A career where you can create value beyond wealth" />
</picture>
<div class="content">
<h4>A career where you can create value beyond wealth</h4>
<span class="link-btn">Explore opportunities</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>
<footer class="footer">
<div class="container">
<div class="row">
<div class="col-12 col-lg-8 col-xl-6 offset-xl-3 order-lg-2">
<nav class="footer-nav">
<div>
<h6><a title="About EFG International" href="/about.html" title="About EFG International" class="txt-bronze text-decoration-none">About EFG International</a></h6>
<ul class="list-unstyled">
<li><a href="/about/our-philosophy.html" title="Our philosophy">Our philosophy</a></li>
<li><a href="/about/our-history.html" title="Our history">Our history</a></li>
<li><a href="/about/our-organization.html" title="Our organisation">Our organisation</a></li>
<li><a href="/about/our-locations.html" title="Our locations">Our locations</a></li>
<li><a href="/about/our-sponsorships.html" title="Our sponsorships">Our sponsorships</a></li>
<li><a href="/about/careers.html" title="Careers">Careers</a></li>
<li><a href="/about/sustainability.html" title="Sustainability">Sustainability</a></li>
</ul>
</div>
<div>
<h6><a title="Private Banking" href="/private-banking.html" title="Private Banking" class="txt-bronze text-decoration-none">Private Banking</a></h6>
<ul class="list-unstyled">
<li><a href="/private-banking/investment-solutions.html" title="Investment Solutions">Investment Solutions</a></li>
<li><a href="/private-banking/wealth-services.html" title="Wealth Services">Wealth Services</a></li>
<li><a href="/private-banking/credit-and-financing.html" title="Credit and Financing">Credit and Financing</a></li>
<li><a href="/private-banking/banking-services.html" title="Banking services">Banking services</a></li>
<li><a href="/private-banking/independent-asset-managers.html" title="Independent Asset Managers">Independent Asset Managers</a></li>
<li><a href="/private-banking/ebanking.html" title="eBanking">eBanking</a></li>
</ul>
</div>
<div>
<h6><a title="Asset Management" href="/asset-management.html" title="Asset Management" class="txt-bronze text-decoration-none">Asset Management</a></h6>
<ul class="list-unstyled">
<li><a href="/asset-management/investment-process.html" title="Investment process">Investment process</a></li>
<li><a target="_blank" href="/asset-management/new-capital-funds.html" title="New Capital Funds">New Capital Funds<i class="icon-efg-external-link ms-2"></i></a></li>
<li><a href="/asset-management/responsible-investing.html" title="Responsible investing">Responsible investing</a></li>
</ul>
</div>
</nav>
<div class="footer-customization d-none d-lg-block">
<h6>Personalise your content:</h6>
<form class="form-change-site">
<fieldset>
<div>
<div class="form-field select site-country">
<select name="footer_experience_country" id="footer_experience_country">
<optgroup label="Countries">
<option value="" selected>Global</option>
<option value="CH">Switzerland</option>
<option value="GB">United Kingdom</option>
<option value="LU">Luxembourg</option>
<option value="MC">Monaco</option>
<option value="US">United States</option>
<option value="BS">Bahamas</option>
<option value="KY">Cayman Islands</option>
<option value="LI">Liechtenstein</option>
<option value="CY">Cyprus</option>
<option value="HK">Hong Kong</option>
<option value="SG">Singapore</option>
</optgroup>
<optgroup label="Group">
<option value="https://www.efgha.com ">Harris Allday</option>
<option value="https://www.newcapitalfunds.com">New Capital Funds</option>
<option value="https://www.shawandpartners.com.au">Shaw and Partners </option>
</optgroup>
</select>
</div>
<div class="form-field select site-language">
<select name="footer_experience_lang" id="footer_experience_lang">
<option value="/about/our-locations/canberra.html" selected> English </option><option value="/it/about/our-locations/canberra.html"> Italiano </option><option value="/de/about/our-locations/canberra.html"> Deutsch </option><option value="/fr/about/our-locations/canberra.html"> Français </option> </select>
</div>
</div>
<button type="submit" class="btn btn-square">Submit<i class="icon-efg-line-arrow-right"></i></button>
</fieldset>
</form>
</div>
</div>
<div class="col-12 col-md-6 col-lg-8 col-xl-6 offset-xl-3 order-md-3 d-lg-none">
<div class="footer-customization">
<h6>Personalise your content:</h6>
<form class="form-change-site">
<fieldset>
<div>
<div class="form-field select site-country">
<select name="footer_m_experience_country" id="footer_m_experience_country">
<optgroup label="Countries">
<option value="" selected>Global</option>
<option value="CH">Switzerland</option>
<option value="GB">United Kingdom</option>
<option value="LU">Luxembourg</option>
<option value="MC">Monaco</option>
<option value="US">United States</option>
<option value="BS">Bahamas</option>
<option value="KY">Cayman Islands</option>
<option value="LI">Liechtenstein</option>
<option value="CY">Cyprus</option>
<option value="HK">Hong Kong</option>
<option value="SG">Singapore</option>
</optgroup>
<optgroup label="Group">
<option value="https://www.efgha.com ">Harris Allday</option>
<option value="https://www.newcapitalfunds.com">New Capital Funds</option>
<option value="https://www.shawandpartners.com.au">Shaw and Partners </option>
</optgroup>
</select>
</div>
<div class="form-field select site-language">
<select name="footer_m_experience_lang" id="footer_m_experience_lang">
<option value="/about/our-locations/canberra.html" selected> English </option><option value="/it/about/our-locations/canberra.html"> Italiano </option><option value="/de/about/our-locations/canberra.html"> Deutsch </option><option value="/fr/about/our-locations/canberra.html"> Français </option> </select>
</div>
</div>
<button type="submit" class="btn btn-square">Submit<i class="icon-efg-line-arrow-right"></i></button>
</fieldset>
</form>
</div>
</div>
<div class="col-12 col-md-6 col-lg-4 col-xl-3 order-md-2 order-lg-1">
<div class="footer-company">
<div class="footer-logo"><img src="/doc/jcr:a3f9cea6-cae5-4222-a9e2-f38739ed5ecd/logo-efg-footer.svg/lang:en/logo-efg-footer.svg" alt="EFG" /></div>
<h6>Our headquarters:</h6>
<div class="address">
<p>EFG International AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</p>
<ul>
<li><i class="icon-efg-phone me-2"></i><a href="tel:+41 44 226 18 50" class="phone">+41 44 226 18 50</a></li>
</ul>
</div>
<ul class="social">
<ul class="social">
<li><a title="Linkedin" href="https://www.linkedin.com/company/efg-bank/" target="_blank"><i class="icon-efg-social-linkedin"></i></a></li>
<li><a title="Twitter" href="https://www.twitter.com/efgint" target="_blank"><i class="icon-efg-social-twitter"></i></a></li>
<li><a title="Facebook" href="https://www.facebook.com/EFGInternational" target="_blank"><i class="icon-efg-social-facebook"></i></a></li>
</ul>
</ul>
<h6 data-country-site="">Your regional contact:</h6>
<div class="address">
<p>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</p>
<ul>
<li><i class="icon-efg-phone me-2"></i><a href="tel:+41 44 226 17 17 " class="phone">+41 44 226 17 17 </a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="row footer-bottom">
<div class="col-12 col-xl-6">
<p>EFG International AG - All rights reserved. <img src="/.resources/efg-design/webresources/icone/copyright.svg" style="width: 12px !important;"> 2023</p>
</div>
<div class="col-12 col-xl-6">
<nav class="footer-bottom-nav">
<ul class="d-block">
<li><a href="/contact.html" title="Contact us">Contact us</a></li>
<li><a href="/legal.html" title="Legal">Legal</a></li>
<li><a href="/disclaimer.html" title="Disclaimer">Disclaimer</a></li>
<li><a href="/data-privacy-documents.html" title="Data Privacy">Data Privacy</a></li>
<li><a href="/legal/cookie-policy.html" title="Cookie settings">Cookie settings</a></li>
</ul>
</nav>
</div>
<div class="col-12 mt-4">
<p class="txt-text-2 mt-2 fw-normal">
<span class="efg-note">Certain product, services and information on this EFG website may not be available for residents and/or nationals of certain jurisdictions and countries. Viewers are asked to consult the sales restrictions relating to product and services for further information.</span>
</p>
</div>
</div>
</div>
</footer>
</div>
<a href="#" class="mobile-menu-close"><i class="icon-efg-close"></i>Close</a>
<a href="/search.html" class="mobile-search"></a>
<div class="group-layer-mobile d-xl-none">
<div class="container">
<div class="row">
<div class="col-12">
<div class="group-customization">
<div>
<h3>Personalise your content</h3>
<p>Let us know where you’re located so we can tailor our information to make your experience more relevant.</p>
</div>
<form class="form-change-site">
<fieldset>
<div>
<div class="form-field select site-country">
<select name="content_experience_country_m" id="content_experience_country_m">
<optgroup label="Countries">
<option value="" selected>Global</option>
<option value="CH">Switzerland</option>
<option value="GB">United Kingdom</option>
<option value="LU">Luxembourg</option>
<option value="MC">Monaco</option>
<option value="US">United States</option>
<option value="BS">Bahamas</option>
<option value="KY">Cayman Islands</option>
<option value="LI">Liechtenstein</option>
<option value="CY">Cyprus</option>
<option value="HK">Hong Kong</option>
<option value="SG">Singapore</option>
</optgroup>
<optgroup label="Group">
<option value="https://www.efgha.com ">Harris Allday</option>
<option value="https://www.newcapitalfunds.com">New Capital Funds</option>
<option value="https://www.shawandpartners.com.au">Shaw and Partners </option>
</optgroup>
</select>
</div>
<div class="form-field select site-language">
<select name="content_experience_lang_m" id="content_experience_lang_m">
<option value="/about/our-locations/canberra.html" selected> English </option><option value="/it/about/our-locations/canberra.html"> Italiano </option><option value="/de/about/our-locations/canberra.html"> Deutsch </option><option value="/fr/about/our-locations/canberra.html"> Français </option> </select>
</div>
</div>
<button type="submit" class="btn btn-square">Submit<i class="icon-efg-line-arrow-right"></i></button>
</fieldset>
</form>
</div>
</div>
<div class="col-12">
<div class="group-contant">
<h6>Your regional contact:</h6>
<ul>
<li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
<li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
</ul>
<a href="#" class="btn group-layer-close">Close</a>
</div>
</div>
</div>
</div>
</div>
<nav style="display:none;" id="mobile-menu" data-country="Global" data-lang="EN" data-meta-btn="eBanking" data-meta-href="https://ebanking.efginternational.com/">
<div>
<ul>
<li class="sub">
<a href="/private-banking.html" title="PRIVATE BANKING">
Private Banking
</a>
<ul>
<li class="sub">
<a href="/private-banking/investment-solutions.html" title="INVESTMENT SOLUTIONS">
Investment Solutions
</a>
<ul>
<li class="">
<a href="/private-banking/investment-solutions/advisory-solutions.html" title="ADVISORY SOLUTIONS">
Advisory Solutions
</a>
</li>
<li class="">
<a href="/private-banking/investment-solutions/discretionary-mandates.html" title="DISCRETIONARY MANDATES">
Discretionary Mandates
</a>
</li>
<li class="">
<a href="/private-banking/investment-solutions/alternative-and-private-market-investments.html" title="ALTERNATIVE & PRIVATE MARKET INVESTMENTS">
Alternative & private market investments
</a>
</li>
<li class="">
<a href="/private-banking/investment-solutions/advanced-investment-solutions.html" title="ADVANCED INVESTMENT SOLUTIONS">
Advanced Investment Solutions
</a>
</li>
</ul>
</li>
<li class="sub">
<a href="/private-banking/wealth-services.html" title="WEALTH SERVICES">
Wealth Services
</a>
<ul>
<li class="">
<a href="/private-banking/wealth-services/wealth-solutions.html" title="WEALTH SOLUTIONS">
Wealth Solutions
</a>
</li>
<li class="">
<a href="/private-banking/wealth-services/wealth-planning.html" title="WEALTH PLANNING">
Wealth Planning
</a>
</li>
<li class="">
<a href="/private-banking/wealth-services/fund-services.html" title="FUND SERVICES">
Fund Services
</a>
</li>
<li class="">
<a href="/private-banking/wealth-services/trust-services.html" title="TRUST SERVICES">
Trust Services
</a>
</li>
</ul>
</li>
<li class="">
<a href="/private-banking/credit-and-financing.html" title="CREDIT AND FINANCING">
Credit and Financing
</a>
</li>
<li class="">
<a href="/private-banking/banking-services.html" title="BANKING SERVICES">
Banking services
</a>
</li>
<li class="">
<a href="/private-banking/independent-asset-managers.html" title="INDEPENDENT ASSET MANAGERS">
Independent Asset Managers
</a>
</li>
<li class="sub">
<a class="text-transform-none" href="/private-banking/ebanking.html" title="eBanking">
eBanking
</a>
<ul>
<li class="">
<a href="/private-banking/ebanking/efg-mobile-banking.html" title="EFG BANKING">
EFG Banking
</a>
</li>
<li class="">
<a href="/private-banking/ebanking/efg-access.html" title="EFG ACCESS">
EFG access
</a>
</li>
<li class="">
<a href="/private-banking/ebanking/security.html" title="SECURITY">
Security
</a>
</li>
<li class="">
<a href="/private-banking/ebanking/documentation.html" title="DOCUMENTATION">
Documentation
</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="sub">
<a href="/asset-management.html" title="ASSET MANAGEMENT">
Asset Management
</a>
<ul>
<li class="">
<a href="/asset-management/investment-process.html" title="INVESTMENT PROCESS">
Investment process
</a>
</li>
<li class="">
<a target="_blank" href="/asset-management/new-capital-funds.html" title="NEW CAPITAL FUNDS">
New Capital Funds<i class="icon-efg-external-link ms-2"></i>
</a>
</li>
<li class="">
<a href="/asset-management/responsible-investing.html" title="RESPONSIBLE INVESTING">
Responsible investing
</a>
</li>
</ul>
</li>
<li class="">
<a href="/insights.html" title="INSIGHTS">
Insights
</a>
</li>
<li class="active sub">
<a href="/about.html" title="ABOUT">
About
</a>
<ul>
<li class="">
<a href="/about/our-philosophy.html" title="OUR PHILOSOPHY">
Our philosophy
</a>
</li>
<li class="">
<a href="/about/our-history.html" title="OUR HISTORY">
Our history
</a>
</li>
<li class="sub">
<a href="/about/our-organization.html" title="OUR ORGANISATION">
Our organisation
</a>
<ul>
<li class="">
<a href="/about/our-organization/board-of-directors.html" title="BOARD OF DIRECTORS ">
Board of Directors
</a>
</li>
<li class="">
<a href="/about/our-organization/executive-committee.html" title="EXECUTIVE COMMITTEE">
Executive committee
</a>
</li>
<li class="">
<a href="/about/our-organization/global-business-committee.html" title="GLOBAL BUSINESS COMMITTEE">
Global business committee
</a>
</li>
<li class="">
<a href="/about/our-organization/auditor.html" title="AUDITOR">
Auditor
</a>
</li>
<li class="">
<a href="/about/our-organization/regulations.html" title="REGULATIONS">
Regulations
</a>
</li>
</ul>
</li>
<li class="active ">
<a href="/about/our-locations.html" title="OUR LOCATIONS">
Our locations
</a>
</li>
<li class="sub">
<a href="/about/our-sponsorships.html" title="OUR SPONSORSHIPS">
Our sponsorships
</a>
<ul>
<li class="">
<a href="/about/our-sponsorships/sailing.html" title="SAILING">
Sailing
</a>
</li>
<li class="">
<a href="/about/our-sponsorships/jazz.html" title="JAZZ">
Jazz
</a>
</li>
<li class="">
<a href="/about/our-sponsorships/arts-and-lifestyle.html" title="ARTS & LIFESTYLE">
Arts & Lifestyle
</a>
</li>
<li class="">
<a href="/about/our-sponsorships/talent-development.html" title="TALENT DEVELOPMENT">
Talent Development
</a>
</li>
</ul>
</li>
<li class="">
<a href="/about/careers.html" title="CAREERS">
Careers
</a>
</li>
<li class="">
<a href="/about/sustainability.html" title="SUSTAINABILITY">
Sustainability
</a>
</li>
</ul>
</li>
<li class="">
<a href="/media.html" title="MEDIA">
Media
</a>
</li>
<li class="sub">
<a href="/investors.html" title="INVESTORS">
Investors
</a>
<ul>
<li class="">
<a href="/investors/financial-results.html" title="FINANCIAL RESULTS">
Financial results
</a>
</li>
<li class="">
<a href="/investors/financial-calendar-and-events.html" title="FINANCIAL CALENDAR AND EVENTS">
Financial calendar and events
</a>
</li>
<li class="">
<a href="/investors/presentations.html" title="PRESENTATIONS">
Presentations
</a>
</li>
<li class="">
<a href="/investors/share-information.html" title="SHARE INFORMATION">
Share Information
</a>
</li>
<li class="">
<a href="/investors/annual-general-meeting.html" title="ANNUAL GENERAL MEETING">
Annual General Meeting
</a>
</li>
<li class="">
<a href="/investors/rating-and-instruments.html" title="RATINGS AND INSTRUMENTS">
Ratings and instruments
</a>
</li>
<li class="">
<a href="/investors/analyst-coverage.html" title="ANALYST COVERAGE">
Analyst coverage
</a>
</li>
<li class="">
<a href="/investors/share-repurchase.html" title="SHARE REPURCHASE">
Share repurchase
</a>
</li>
</ul>
</li>
<li class="">
<a href="/contact.html" title="CONTACT">
Contact
</a>
</li>
<li class="">
<a href="/errors.html" title="">
</a>
</li>
</ul>
</div>
</nav>
<script>
$(function() {
$('#mobile-menu').show();
});
</script>
<div class="profile-panel-wrapper">
<div class="profile-panel">
<a href="#" class="close">Close</a>
<div id="profile-panel-user"></div>
</div>
<span></span>
</div>
<div class="form-panel-wrapper">
<div class="form-panel px-0">
<a href="#" class="close">Close</a>
<div class="px-0">
<div class="content pb-0">
<iframe id="form-panel-page" class="w-100" style="height: 1000px;" src="" allowtransparency="true" frameborder="0"></iframe>
</div>
</div>
</div>
<span></span>
</div>
<script src="/.resources/efg-revamp/webresources/js/iframeResizer.min~2023-02-23-16-49-18-000~cache.js"></script>
<script src="/.resources/efg-revamp/webresources/js/all.min~2023-02-23-16-49-18-000~cache.js"></script>
<script>
$(function() {
$( ".site-country select" ).change(function() {
var value = $(this).val();
if ($(this).val().indexOf("http") > -1 ) {
$(this).closest("form").find(".site-language, button").hide();
window.open(value);
} else {
$(this).closest("form").find(".site-language, button").show();
var selectId = $(this).closest("form").find(".site-language select").attr("id");
var button = $(this).closest("form").find("button");
button.attr("disabled", "disabled");
$.ajax( {
type: "GET",
url: "/en/Global/about/our-locations/canberra.html?ajaxMode=true&ajaxAction=countryLanguage&currentCountry=&country=" + value + "&name=" + selectId,
cache: false,
success: function(response) {
$("#" + selectId).select2('destroy');
var dropdownParent = $("#" + selectId).parent();
dropdownParent.html(response);
$("#" + selectId).select2({
minimumResultsForSearch:Infinity,
dropdownPosition: 'below',
dropdownParent: dropdownParent
});
button.removeAttr("disabled");
}
});
return false;
}
});
$(".form-change-site").submit(function() {
var url = $(this).find(".site-language select").val();
var country = $(this).find(".site-country select").val();
$.ajax( {
type: "GET",
url: "/en/Global/about/our-locations/canberra.html?ajaxMode=true&ajaxAction=setCountry&country=" + country,
cache: false,
success: function(response) {
window.location = url;
}
});
return false;
});
});
</script>
</body>
</html>