{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><span>Banking services</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Banking services</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><span>Banking services</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:9e437590-9548-410f-8cbe-16de27ead6e3/wealth-1920x680.jpg/lang:en/wealth-1920x680.jpg [(max-width: 991px)] | /doc/jcr:9e437590-9548-410f-8cbe-16de27ead6e3/wealth-1920x680.jpg/lang:en/wealth-1920x680.jpg [(max-width: 1599px)] | /doc/jcr:9e437590-9548-410f-8cbe-16de27ead6e3/wealth-1920x680.jpg/lang:en/wealth-1920x680.jpg"
          >
          <div>
            <h1>Banking services</h1>
            <p>Explore more ways we can support you</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Putting you in control of your reporting</h3>
            <div class="text-article mt-base"><p>You can decide how often you want to be informed about the status of your banking relationship and select your preferred channel of communication. We can also provide you with different types of tax statements that are fully compliant with country-specific regulations.</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch4/Product/Other_Banking_Services/Other_Banking_Services_Putting_You_950x464px_72dpi.png/jcr:content/Other_Banking_Services_Putting_You_950x464px_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Accounts and cards</h3>
            <div class="text-article mt-base"><p>EFG offers a comprehensive range of bank accounts including:</p>
              <ul>
                <li>Current accounts for banking operations</li>
                <li>Current accounts in foreign currencies</li>
                <li>Our range of bank cards includes Maestro cards and several options for credit cards</li>
              </ul>
            </div>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch4/Product/Other_Banking_Services/Other_Banking_Services_Accounts_And_Cards_950x464px_72dpi.png/jcr:content/Other_Banking_Services_Accounts_And_Cards_950x464px_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Precious metals</h3>
            <div class="text-article mt-base"><p>If you wish to invest in precious metals, we give you the option of buying or selling physical metals or purchasing and selling them through a metals account.</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch4/Product/Other_Banking_Services/Other_Banking_Services_Precious_Metals_950x464px_72dpi.png/jcr:content/Other_Banking_Services_Precious_Metals_950x464px_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Custody services</h3>
            <div class="text-article mt-base"><p>Look after what matters most with our valuation and custody services. EFG can hold your assets &ndash; from securities to documents, jewellery and works of art &ndash; in safekeeping.</p>
            </div>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Private_Banking_Pages/Other-banking-services/Cityscapes_Singapore_Gett941690384_200dpi.jpg/jcr:content/Cityscapes_Singapore_Gett941690384_200dpi.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Foreign exchange and treasury</h3>
            <div class="text-article mt-base"><p>Our services comprise foreign exchange (spot and forward), vanilla and exotic foreign exchange options, interest rate derivatives and yield enhancement strategies. We provide structured deposits with returns linked to currencies, interest rates or equity indices, including products tailored to individual client needs.</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch4/Product/Other_Banking_Services/Other_Banking_Services_Foreign_Exchange_950x464px_72dpi.png/jcr:content/Other_Banking_Services_Foreign_Exchange_950x464px_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Trading Services</h3>
            <div class="text-article mt-base"><p>Our trading services give you access to all types of investment instruments across different markets, as well as to closed pools of liquidity. Based on our best execution policy, our experienced traders provide swift, first-class services across all asset classes and international markets and strive to maximise your returns.</p>
            </div>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch4/Product/Other_Banking_Services/Other_Banking_Services_Trading_Services_950x464px_72dpi.png/jcr:content/Other_Banking_Services_Trading_Services_950x464px_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overlying">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="content">
            <h3>It all starts with a conversation</h3>
            <p>Let&#039;s start ours and build something valuable today.</p>
            <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
            <ul>
              <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
              <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
            </ul>
          </div>
          <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-dark mt-0 pt-more">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 mx-auto text-md-center">
        <h2>Discover more</h2>
        <p>From investing to finance, find out how our services can help you protect and grow your wealth today.</p>
      </div>
    </div>
    <div class="row teaser-wrapper">
      <div class="col-12 col-lg-4">
        <article class="teaser bottom">
          <a href="/private-banking/investment-solutions.html" title="Discretionary and advisory services that help you to find the right combination of investments for you">
            <span class="label">Investment Solutions</span>
            <picture class="image">
              <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discretionary and advisory services that help you to find the right combination of investments for you" />
              </picture>
              <div class="content">
                <h4>Discretionary and advisory services that help you to find the right combination of investments for you</h4>
                <span class="link-btn">Learn more </span>
              </div>
            </a>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="teaser bottom">
            <a href="/private-banking/wealth-services.html" title="Solutions to help you protect, structure and plan your wealth for the long term.">
              <span class="label">Wealth Services </span>
              <picture class="image">
                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Solutions to help you protect, structure and plan your wealth for the long term." />
                </picture>
                <div class="content">
                  <h4>Solutions to help you protect, structure and plan your wealth for the long term.</h4>
                  <span class="link-btn">Learn more</span>
                </div>
              </a>
            </article>
          </div>
          <div class="col-12 col-lg-4">
            <article class="teaser bottom">
              <a href="/private-banking/credit-and-financing.html" title=" Flexible financing solutions to support investment, both home and abroad.">
                <span class="label">Credit and Financing</span>
                <picture class="image">
                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg" width="548" height="280" class="lazyload" alt=" Flexible financing solutions to support investment, both home and abroad." />
                  </picture>
                  <div class="content">
                    <h4> Flexible financing solutions to support investment, both home and abroad.</h4>
                    <span class="link-btn">Learn more</span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>    {% endblock %}
