{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><span>Credit and Financing</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Credit and Financing</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><span>Credit and Financing</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:63006ca3-12a6-4c5d-9bc6-7f0b9485e8d8/CREDIT-AND-FINANCING3.jpg/lang:en/CREDIT-AND-FINANCING3.jpg [(max-width: 991px)] | /doc/jcr:63006ca3-12a6-4c5d-9bc6-7f0b9485e8d8/CREDIT-AND-FINANCING3.jpg/lang:en/CREDIT-AND-FINANCING3.jpg [(max-width: 1599px)] | /doc/jcr:63006ca3-12a6-4c5d-9bc6-7f0b9485e8d8/CREDIT-AND-FINANCING3.jpg/lang:en/CREDIT-AND-FINANCING3.jpg"
          >
          <div>
            <h1>Credit and Financing</h1>
            <p>Specialist advice and solutions for property and investment financing, both locally and globally</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Investment Financing</h3>
            <div class="text-article mt-base"><p>A flexible financing solution</p>
              <p>EFG offers a range of financing solutions according to your financial needs. Our specialists support you with the required credit analysis and structuring.</p>
              <p>The main types of utilisation are:&nbsp;</p>
              <ul>
                <li><strong>Overdrafts</strong>: Current account overdrafts are available to cover short-term financing needs, with a floating interest rate based on current market rates.</li>
                <li><strong>Fixed Term Loans</strong>: Loans are fixed for a period of 1-12 months, and possibly for longer tenors in some cases, with an interest rate based on current market rates and set for the specified period. These loans can be renewed on a rolling basis.</li>
                <li>OTC and exchange-traded derivatives credit exposure</li>
                <li>Bank guarantees</li>
              </ul>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Batch-3/Credit_And_Financing/Credit_And_Financing_Investment_Financing_1396x600_72dpi.png/jcr:content/Credit_And_Financing_Investment_Financing_1396x600_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Property Financing</h3>
            <div class="text-article mt-base"><p>Specialist advice on property finance.</p>
              <p>EFG is accompanying its domestic and international clients in their investments on real estate properties offering a range of financing solutions tailored to their specific needs.</p>
              <p>We support our clients with a team of highly qualified and international professionals. Our experts work closely with your Client Relationship Officer to provide you with specialist financing advice that is tailored to your specific financial situation.</p>
              <p>Our property financing services are offered on a selective basis in a number of markets and as an add-on to our private banking service.</p>
            </div>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/private-banking/Credit_And_Financing_Property_Financing_1396x600_72dpi.png/jcr:content/Credit_And_Financing_Property_Financing_1396x600_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Islamic Financing</h3>
            <div class="text-article mt-base"><p>EFG Bank has a long lasting tradition and experience in developing Sharia-compliant Investment Solutions and Credit Facilities.</p>
              <p>The clients have then the possibility to lean upon a complete range of fixed term deposits and credit facilities, including the possibility to collateralize Murabaha transactions with UK properties (prime central London only).&nbsp;</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch/Credit_And_Financing_Islamic_Financing_1396x600_72dpi.png/jcr:content/Credit_And_Financing_Islamic_Financing_1396x600_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overlying">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="content">
            <h3>It all starts with a conversation</h3>
            <p>Let&#039;s start ours and build something valuable today.</p>
            <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
            <ul>
              <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
              <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
            </ul>
          </div>
          <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-dark mt-0 pt-more">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 mx-auto text-md-center">
        <h2>Discover more</h2>
        <p>From investing to finance find out how our services can help you protect and grow your wealth today.</p>
      </div>
    </div>
    <div class="row teaser-wrapper">
      <div class="col-12 col-lg-4">
        <article class="teaser bottom">
          <a href="/private-banking/investment-solutions.html" title="Discretionary and advisory services that help you to find the right combination of investments for you">
            <span class="label">Investment Solutions</span>
            <picture class="image">
              <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discretionary and advisory services that help you to find the right combination of investments for you" />
              </picture>
              <div class="content">
                <h4>Discretionary and advisory services that help you to find the right combination of investments for you</h4>
                <span class="link-btn">Learn more</span>
              </div>
            </a>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="teaser bottom">
            <a href="/private-banking/wealth-services.html" title="Solutions to help you protect, structure and plan your wealth for the long term">
              <span class="label">Wealth Services</span>
              <picture class="image">
                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Solutions to help you protect, structure and plan your wealth for the long term" />
                </picture>
                <div class="content">
                  <h4>Solutions to help you protect, structure and plan your wealth for the long term</h4>
                  <span class="link-btn">Learn more</span>
                </div>
              </a>
            </article>
          </div>
          <div class="col-12 col-lg-4">
            <article class="teaser bottom">
              <a href="/private-banking/banking-services.html" title="Explore our other offerings from accounts and cards, to precious metals, FOREX and treasury">
                <span class="label">Banking services</span>
                <picture class="image">
                  <source data-srcset="/doc/jcr:6b463dfd-4854-4044-83d6-6203ba4db73f/Other_Banking_Services_Bar_Image_548X280.jpg/lang:en/Other_Banking_Services_Bar_Image_548X280.jpg">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:6b463dfd-4854-4044-83d6-6203ba4db73f/Other_Banking_Services_Bar_Image_548X280.jpg/lang:en/Other_Banking_Services_Bar_Image_548X280.jpg" width="548" height="280" class="lazyload" alt="Explore our other offerings from accounts and cards, to precious metals, FOREX and treasury" />
                  </picture>
                  <div class="content">
                    <h4>Explore our other offerings from accounts and cards, to precious metals, FOREX and treasury</h4>
                    <span class="link-btn">Learn more</span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>    {% endblock %}
