{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><span>eBanking</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>eBanking</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><span>eBanking</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:d6f04b07-5878-4cbd-9680-fae27038a04a/efg-access-1920x680.jpg/lang:en/efg-access-1920x680.jpg [(max-width: 991px)] | /doc/jcr:d6f04b07-5878-4cbd-9680-fae27038a04a/efg-access-1920x680.jpg/lang:en/efg-access-1920x680.jpg [(max-width: 1599px)] | /doc/jcr:d6f04b07-5878-4cbd-9680-fae27038a04a/efg-access-1920x680.jpg/lang:en/efg-access-1920x680.jpg"
          >
          <div>
            <h1>eBanking</h1>
            <p>Online and mobile tools for 24/7 access</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Quick and secure access to your finances whenever and wherever</h2>
        <p class="indent">Whether you&#039;re a private client, independent investment manager or asset manager, our online and mobile banking platforms allow you round-the-clock control of your finances at the click of a button. <br/><br/>Check account balances, transactions or view the breakdown and performance of your portfolio any time, anywhere so you can always stay ahead of the curve.</p>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>eBanking for private clients </h3>
            <div class="text-article mt-base"><p>Our eBanking system provides quick and secure access to your finances, wherever you are. You can track accounts, make payments and analyse a wide range of information on your assets.</p>
              <p>Courtesy of leading-edge technology and the strictest security policy, we also offer the SecureMail service, allowing you to exchange emails and documents securely with your Client Relationship Officer.</p>
              <p>Do you have any questions about eBanking? If you need any assistance, our eBanking Support Team will be pleased to assist you.</p>
              <p>To provide a secure, easy way for you to verify your identity when you contact us by telephone, we have expanded the functionality of the EFG Access mobile application.</p>
              <p>This mobile application will enable you to respond to validation requests sent out by members of our team so that they can confirm your identity. A single tap will validate the authentication request and the team will be able to assist you with your query.</p>
            </div>
            <a target="_blank" href="https://ebanking.efginternational.com/" class="btn mt-20">Log In</a>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Private_Clients_950x464_72dpi.png/jcr:content/eBanking_Private_Clients_950x464_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>eBanking for Independent Asset Managers</h3>
            <div class="text-article mt-base"><p>EFG provides a straightforward and reliable platform for client portfolio management. Its wide range of functions enable clients to view individual portfolios and their relative performance, execute stock market transactions and print reports that can be adapted to their needs, including consolidated reports for grouped relationships.</p>
              <p>We also offer a financial information tool that provides the prices of equities listed on the main stock exchanges in Europe, the US and Asia, bond and derivative prices, forex quotes, money market data and financial market news.</p>
              <p>For financial intermediaries with an in-house portfolio management tool, EFG offers an XML Download Service, which allows you to upload client portfolios and daily transactions in an efficient way.</p>
            </div>
            <a target="_blank" href="https://ebanking.efginternational.com" class="btn mt-20">Log in</a>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Independent_Asset_Managers_950x464_72dpi.png/jcr:content/eBanking_Independent_Asset_Managers_950x464_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-headline mb-med">
      <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
        <h2>Our services </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="teaser-wrapper-block teaser2">
          <article class="teaser above">
            <a href="/private-banking/ebanking/efg-mobile-banking.html" title="Mobile Banking">
              <picture class="image">
                <source data-srcset="" media="(max-width: 575px)">
                  <source data-srcset="" media="(max-width: 768px)">
                    <source data-srcset="" media="(max-width: 1439px)">
                      <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/Batch-3/EFG_Mobile_Banking/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png/jcr:content/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/Batch-3/EFG_Mobile_Banking/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png/jcr:content/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png" width="688" height="400" class="lazyload" alt="Mobile Banking" />
                      </picture>
                      <div class="content">
                        <h3>Mobile Banking</h3>
                        <p>Helping you stay on top of your finances on the go.</p>
                        <span class="link-btn">Learn more</span>
                      </div>
                    </a>
                  </article>
                  <article class="teaser above">
                    <a href="/private-banking/ebanking/efg-access.html" title="EFG Access">
                      <picture class="image">
                        <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png" media="(max-width: 575px)">
                          <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png" media="(max-width: 768px)">
                            <source data-srcset="/.imaging/mte/efg-revamp/538x400/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png" media="(max-width: 1439px)">
                              <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png" width="688" height="400" class="lazyload" alt="EFG Access" />
                              </picture>
                              <div class="content">
                                <h3>EFG Access</h3>
                                <p>Quickly and securely validate payments from your eBanking.</p>
                                <span class="link-btn">Learn more</span>
                              </div>
                            </a>
                          </article>
                          <article class="teaser above">
                            <a href="/private-banking/ebanking/security.html" title="Security">
                              <picture class="image">
                                <source data-srcset="" media="(max-width: 575px)">
                                  <source data-srcset="" media="(max-width: 768px)">
                                    <source data-srcset="" media="(max-width: 1439px)">
                                      <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/Batch-3/Security/Security_Security_1680x541_72dpi.png/jcr:content/Security_Security_1680x541_72dpi.png">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/Batch-3/Security/Security_Security_1680x541_72dpi.png/jcr:content/Security_Security_1680x541_72dpi.png" width="688" height="400" class="lazyload" alt="Security" />
                                      </picture>
                                      <div class="content">
                                        <h3>Security</h3>
                                        <p>Committed delivering a secure and private online banking experience.</p>
                                        <span class="link-btn">Learn more</span>
                                      </div>
                                    </a>
                                  </article>
                                  <article class="teaser above">
                                    <a href="/private-banking/ebanking/documentation.html" title="eBanking documentation ">
                                      <picture class="image">
                                        <source data-srcset="" media="(max-width: 575px)">
                                          <source data-srcset="" media="(max-width: 768px)">
                                            <source data-srcset="" media="(max-width: 1439px)">
                                              <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/untitled1/EFG_Outstanding_Images-2/EFG_Outstanding_Images-2/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png/jcr:content/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png">
                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/untitled1/EFG_Outstanding_Images-2/EFG_Outstanding_Images-2/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png/jcr:content/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png" width="688" height="400" class="lazyload" alt="eBanking documentation " />
                                              </picture>
                                              <div class="content">
                                                <h3>eBanking documentation </h3>
                                                <p>Support and guidance on how to navigate and make the most of your online banking.<br/></p>
                                                <span class="link-btn">Learn more</span>
                                              </div>
                                            </a>
                                          </article>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                                <section class="overlying">
                                  <div class="container">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="contact-box">
                                          <div class="content">
                                            <h3>Need help with eBanking? Get in touch</h3>
                                            <p>Having problems with our eBanking service? Get in touch with our technical team.</p>
                                            <div class="text-article mt-base"><p><strong>eBanking for clients:</strong>&nbsp;<br />
                                              Monday-Friday 8:00 - 18:00 CET<br />
                                              Phone: +41 800 334 334</p>
                                              <p>To find a local free phone number for your country please view our <a href="/contact/international-directory.html">international directory</a></p>
                                              <p><strong>eBanking for Independent Asset Managers</strong>:&nbsp;<br />
                                                Monday-Friday 8:00 - 18:30 CET<br />
                                                Phone:&nbsp;+41 58 809 3999</p>
                                              </div>
                                            </div>
                                            <div class="image lazyload" data-sizes="auto" data-bgset="/doc/jcr:b2187847-ff3d-4152-b61f-43a15ee9fa61/need_help_690x640.jpg/lang:en/need_help_690x640.jpg [(max-width: 1599px)] | /doc/jcr:b2187847-ff3d-4152-b61f-43a15ee9fa61/need_help_690x640.jpg/lang:en/need_help_690x640.jpg"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  <section class="bkg-dark mt-0 pt-more">
                                    <div class="container">
                                      <div class="row section-headline">
                                        <div class="col-12 col-lg-10 mx-auto text-md-center">
                                          <h2>Discover more</h2>
                                          <p>From investing to finance, find out how our services can help you protect and grow your wealth today.</p>
                                        </div>
                                      </div>
                                      <div class="row teaser-wrapper">
                                        <div class="col-12 col-lg-4">
                                          <article class="teaser bottom">
                                            <a href="/private-banking/investment-solutions.html" title="Discretionary and advisory services that help you to find the right combination of investments for you">
                                              <span class="label">Investment Solutions</span>
                                              <picture class="image">
                                                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                                                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discretionary and advisory services that help you to find the right combination of investments for you" />
                                                </picture>
                                                <div class="content">
                                                  <h4>Discretionary and advisory services that help you to find the right combination of investments for you</h4>
                                                  <span class="link-btn">Learn more </span>
                                                </div>
                                              </a>
                                            </article>
                                          </div>
                                          <div class="col-12 col-lg-4">
                                            <article class="teaser bottom">
                                              <a href="/private-banking/wealth-services.html" title="Solutions to help you protect, structure and plan your wealth for the long term.">
                                                <span class="label">Wealth Services </span>
                                                <picture class="image">
                                                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Solutions to help you protect, structure and plan your wealth for the long term." />
                                                  </picture>
                                                  <div class="content">
                                                    <h4>Solutions to help you protect, structure and plan your wealth for the long term.</h4>
                                                    <span class="link-btn">Learn more</span>
                                                  </div>
                                                </a>
                                              </article>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                              <article class="teaser bottom">
                                                <a href="/private-banking/credit-and-financing.html" title=" Flexible financing solutions to support investment, both home and abroad.">
                                                  <span class="label">Credit and Financing</span>
                                                  <picture class="image">
                                                    <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg">
                                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg" width="548" height="280" class="lazyload" alt=" Flexible financing solutions to support investment, both home and abroad." />
                                                    </picture>
                                                    <div class="content">
                                                      <h4> Flexible financing solutions to support investment, both home and abroad.</h4>
                                                      <span class="link-btn">Learn more</span>
                                                    </div>
                                                  </a>
                                                </article>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                      </div>    {% endblock %}
