{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><span>Independent Asset Managers</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Independent Asset Managers</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><span>Independent Asset Managers</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:83959665-a175-4e9b-a515-021a9c4c6872/IAM_Web_HeaderA_1920x680px.jpg/lang:en/IAM_Web_HeaderA_1920x680px.jpg [(max-width: 991px)] | /doc/jcr:83959665-a175-4e9b-a515-021a9c4c6872/IAM_Web_HeaderA_1920x680px.jpg/lang:en/IAM_Web_HeaderA_1920x680px.jpg [(max-width: 1599px)] | /doc/jcr:83959665-a175-4e9b-a515-021a9c4c6872/IAM_Web_HeaderA_1920x680px.jpg/lang:en/IAM_Web_HeaderA_1920x680px.jpg"
          >
          <div>
            <h1>Independent Asset Managers</h1>
            <p>Services for professionals and intermediaries</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>A partnership that supports your success</h2>
        <p class="indent">EFG is the right partner for Independent Asset Managers like you who are looking for agility, practicality and flexibility. The perfect complement, we can provide you with the support and insight you need to make smarter decisions for your clients. We understand the importance of your relationships, so building long term relationships based on an intimate understanding of your clients&#039; needs is our priority. So, if you&#039;re looking for a joined up experience that connects intelligent analysis, a high conviction, smart philosophy and great products, we&#039;re the partner for you.</p>
        <a href="/private-banking/independent-asset-managers/our-regional-offices.html" title="Get in touch" class="btn">Get in touch<i class="icon-efg-line-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>Your needs, our goal</h3>
          <p>We can offer you direct access to our trading rooms covering 24h through our facilities in Switzerland and Asia. If needed, we can support you in setting up Private Label Funds, which can be distributed to your clients across the globe through our Luxembourg unit and subject to compliance with local regulations. Thanks to our partnerships with the major players and their structured product platforms, we can facilitate you in issuing new products to you clients. And we keep investing in our platform and services to meet your growing regulatory requirements and keep up with technological trends.&nbsp;</p>
        </article>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-10 mx-auto">
        <h3>How we work with clients and their Independent Asset Manager</h3>
        <div class="text-article"><p>A dedicated team of advisors in major financial centres works with specialists to support Independent Asset Managers in their search for the best solution for them and their clients.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto info-accordion-wrapper">
        <div class="row">
          <div class="col-12">
            <div class="info-accordion">
              <a href="#">
                1. Portfolio Management Agreement¹
              </a>
              <div class="text-article">
                <p>The Independent Asset Manager defines the investment strategy in consultation with the client and they sign a Portfolio Management Agreement.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                2. Account Opening
              </a>
              <div class="text-article">
                <p>The client opens an account with EFG.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                3. PoMA
              </a>
              <div class="text-article">
                The client issues a Power of Management & Administration, authorising the Independent Asset Manager to act on their behalf.
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                4. Trading Orders
              </a>
              <div class="text-article">
                <p>Based on the Portfolio Management Agreement, the Independent Asset Manager issues purchase and sales orders to EFG.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                5. Reporting
              </a>
              <div class="text-article">
                <p>We then confirm the execution of the order to the client / Independent Asset Manager.</p>
              </div>
            </div>
          </div>
        </div> </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
          <article class="text-article">
            <p>&sup1; Not all services are available in all locations</p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
          <article class="text-article">
            <picture class="image position-relative">
              <source data-srcset="/.imaging/mte/efg-revamp/670x500/dam/efg/EFG_2021/infographic-IAM/IAM-2--002-.jpg/jcr:content/IAM-2-(002).jpg" media="(max-width: 575px)">
                <source data-srcset="/.imaging/mte/efg-revamp/1376x776/dam/efg/EFG_2021/infographic-IAM/IAM-2--002-.jpg/jcr:content/IAM-2-(002).jpg" media="(max-width: 991px)">
                  <source data-srcset="/.imaging/mte/efg-revamp/1096x520/dam/efg/EFG_2021/infographic-IAM/IAM-2--002-.jpg/jcr:content/IAM-2-(002).jpg" media="(max-width: 1599px)">
                    <source data-srcset="/.imaging/mte/efg-revamp/1354x600/dam/efg/EFG_2021/infographic-IAM/IAM-2--002-.jpg/jcr:content/IAM-2-(002).jpg">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/1354x600/dam/efg/EFG_2021/infographic-IAM/IAM-2--002-.jpg/jcr:content/IAM-2-(002).jpg" width="1392" height="617" class="lazyload" alt="IAM-2-(002).jpg" />
                    </picture>
                  </article>
                </div>
              </div>
            </div>
          </section>
          <section>
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
                  <article class="text-article">
                    <h3>The right solutions: our &quot;expert to expert&quot; support model</h3>
                    <p>Backed by the expert advice of our Investment Solutions platform, our Client Relationship Officers and Investment Advisors provide Independent Asset Managers with best-in-class services.<sup>1</sup></p>
                    <picture class="image position-relative">
                      <source data-srcset="/.imaging/mte/efg-revamp/670x500/dam/efg/EFG_2021/infographic-IAM/Inforgraphic-2-vettoriale3.jpg/jcr:content/Inforgraphic-2-vettoriale3-new2.jpg" media="(max-width: 575px)">
                        <source data-srcset="/.imaging/mte/efg-revamp/1376x776/dam/efg/EFG_2021/infographic-IAM/Inforgraphic-2-vettoriale3.jpg/jcr:content/Inforgraphic-2-vettoriale3-new2.jpg" media="(max-width: 991px)">
                          <source data-srcset="/.imaging/mte/efg-revamp/1096x520/dam/efg/EFG_2021/infographic-IAM/Inforgraphic-2-vettoriale3.jpg/jcr:content/Inforgraphic-2-vettoriale3-new2.jpg" media="(max-width: 1599px)">
                            <source data-srcset="/.imaging/mte/efg-revamp/1354x600/dam/efg/EFG_2021/infographic-IAM/Inforgraphic-2-vettoriale3.jpg/jcr:content/Inforgraphic-2-vettoriale3-new2.jpg">
                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/1354x600/dam/efg/EFG_2021/infographic-IAM/Inforgraphic-2-vettoriale3.jpg/jcr:content/Inforgraphic-2-vettoriale3-new2.jpg" width="1392" height="617" class="lazyload" alt="The right solutions: our &quot;expert to expert&quot; support model" />
                            </picture>
                          </article>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
                          <article class="text-article">
                            <p>&sup1; Not all services are available in all locations</p>
                          </article>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="container">
                      <div class="row section-headline mb-med">
                        <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
                          <h2>Empowering easy and efficient management</h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-xl-10 mx-auto">
                          <div class="teaser-wrapper-block teaser2">
                            <article class="teaser above">
                              <a href="/private-banking/independent-asset-managers/services-and-tools.html" title="Services and fees">
                                <picture class="image">
                                  <source data-srcset="" media="(max-width: 575px)">
                                    <source data-srcset="" media="(max-width: 768px)">
                                      <source data-srcset="" media="(max-width: 1439px)">
                                        <source data-srcset="/doc/jcr:de267eaa-e83c-4cf7-81ca-120701732be8/Independent_Asset_Managers_Services_And_Fees_688x400_72dpi.png/lang:en/Independent_Asset_Managers_Services_And_Fees_688x400_72dpi.png">
                                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:de267eaa-e83c-4cf7-81ca-120701732be8/Independent_Asset_Managers_Services_And_Fees_688x400_72dpi.png/lang:en/Independent_Asset_Managers_Services_And_Fees_688x400_72dpi.png" width="688" height="400" class="lazyload" alt="Services and fees" />
                                        </picture>
                                        <div class="content">
                                          <h3>Services and fees</h3>
                                          <p>Custody services and digital tools to help you stay one step ahead. A flexible pricing model that works with your needs.</p>
                                          <span class="link-btn">Learn more</span>
                                        </div>
                                      </a>
                                    </article>
                                    <article class="teaser above">
                                      <a href="/private-banking/independent-asset-managers/our-regional-offices.html" title="Our regional offices">
                                        <picture class="image">
                                          <source data-srcset="" media="(max-width: 575px)">
                                            <source data-srcset="" media="(max-width: 768px)">
                                              <source data-srcset="" media="(max-width: 1439px)">
                                                <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/Product/Our_Regional_Offices/Our_Regional_Offices_Bar_Image_1680x541_72dpi.png/jcr:content/Our_Regional_Offices_Bar_Image_1680x541_72dpi.png">
                                                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/Product/Our_Regional_Offices/Our_Regional_Offices_Bar_Image_1680x541_72dpi.png/jcr:content/Our_Regional_Offices_Bar_Image_1680x541_72dpi.png" width="688" height="400" class="lazyload" alt="Our regional offices" />
                                                </picture>
                                                <div class="content">
                                                  <h3>Our regional offices</h3>
                                                  <p>With nine dedicated regional offices from Monaco to Miami, we have a hub that can help no matter where you are.</p>
                                                  <span class="link-btn">Learn more</span>
                                                </div>
                                              </a>
                                            </article>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  <section class="overlying">
                                    <div class="container">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="contact-box">
                                            <div class="content">
                                              <h3>It all starts with a conversation</h3>
                                              <p>Let&#039;s start ours and build something valuable today.</p>
                                              <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
                                              <ul>
                                                <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
                                                <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
                                              </ul>
                                            </div>
                                            <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  <section class="bkg-dark">
                                    <div class="container">
                                      <div class="row section-headline">
                                        <div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
                                          <h2>Expert market insights</h2>
                                          <p>Trends, analysis and insight from around the world, brought to you by experts who think entrepreneurially.</p>
                                        </div>
                                        <div class="col-12 col-lg-4 col-xl-3 align-items-lg-end">
                                          <a href="/insights.html" title="Explore more" class="btn mt-lg-0">Explore more<i class="icon-efg-line-arrow-right"></i></a>
                                        </div>
                                      </div>
                                      <div class="row teaser-wrapper insights">
                                        <div class="col-12 col-lg-8">
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                          <article class="teaser">
                                            <a href="/insights/2023/fomc-minutes-ongoing-interest-rate-increases-to-be-expected.html" title="FOMC Minutes: Ongoing interest rate increases to be expected">
                                              <div class="info">
                                                <p>
                                                  Investment Insights
                                                  <time class="no-cat" datetime="2023-02-28 00:00">
                                                    28 February 2023
                                                  </time>
                                                </p>
                                                <i class="icon-efg-document"></i>
                                              </div>
                                              <div class="content">
                                                <h4>FOMC Minutes: Ongoing interest rate increases to be expected</h4>
                                                <p class="truncate" data-line="2" data-min-width="120">The minutes from the Federal Open Market Committee (FOMC) meeting that took place on 31 January – 1 February and which were released on 22 February, show that FOMC members felt that a series of interest rate increases will be necessary to lower inflation to target.</p>
                                              </div>
                                              <div class="author">
                                                <span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/2020/YCC---a-response-to-the-corona-curveball/Steffan-Illustration-Large.jpg/jcr:content/Steffan Illustration-Large.jpg')"></span>
                                                <p class="name">Stefan Gerlach </p>
                                                <p>3 min read</p>
                                              </div>
                                            </a> </article>
                                          </div>
                                          <div class="col-12 col-md-6 col-lg-4 item-show-more d-none d-md-block">
                                            <article class="teaser sm-hide">
                                              <a href="/insights/2023/how-hawkish-is-the-fed.html" title="How hawkish is the Fed?">
                                                <div class="info">
                                                  <p>
                                                    Investment Insights
                                                    <time class="no-cat" datetime="2023-02-27 00:00">
                                                      27 February 2023
                                                    </time>
                                                  </p>
                                                  <i class="icon-efg-document"></i>
                                                </div>
                                                <div class="content">
                                                  <h4>How hawkish is the Fed?</h4>
                                                  <p class="truncate" data-line="2" data-min-width="120">The latest Federal Open Market Committee (FOMC) minutes provide a window into the Fed’s thinking at its February meeting. In this Macro Flash Note, Sam Jochim examines the implied policy bias of the Fed with the help of EFGAM’s Fed Hawkishness Indicator.</p>
                                                </div>
                                                <div class="author">
                                                  <span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/Authors/JB-Large.jpg/jcr:content/JB-Large.jpg')"></span>
                                                  <p class="name">Sam Jochim</p>
                                                  <p>4 min read</p>
                                                </div>
                                              </a> </article>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 item-show-more d-none d-md-block">
                                              <article class="teaser sm-hide">
                                                <a href="/insights/2023/team-malizia-take-on-the-epic-3rd-leg-of-the-ocean-race.html" title="Team Malizia take on the epic 3rd leg of The Ocean Race">
                                                  <div class="info">
                                                    <p>
                                                      Sponsorships
                                                      <time class="no-cat" datetime="2023-02-24 00:00">
                                                        24 February 2023
                                                      </time>
                                                    </p>
                                                    <i class="icon-efg-document"></i>
                                                  </div>
                                                  <div class="content">
                                                    <h4>Team Malizia take on the epic 3rd leg of The Ocean Race</h4>
                                                    <p class="truncate" data-line="2" data-min-width="120">The record-breaking 3rd leg of The Ocean Race from Cape Town to Itajaí, Brazil starts on Sunday, 26 February 2023. Covering 12,750 nautical miles (23,613 km), it is the longest leg in the 50-year history of The Ocean Race; a one month sailing marathon that many feel will go on to define the race.</p>
                                                  </div>
                                                  <div class="author">
                                                    <span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/homepage/Home_GettyImages-941690384_Desktop_530x480px_72dpi.jpg/jcr:content/EFG_Logo.png')"></span>
                                                    <p class="name">Marketing & Communications</p>
                                                    <p>4 min read</p>
                                                  </div>
                                                </a> </article>
                                              </div>
                                              <div class="col-12 text-center d-md-none mt-base mb-base">
                                                <a href="#" class="btn btn-sec-dark show-more">Show more</a>
                                              </div>
                                              <script>
                                              $(function() {
                                                $( ".teaser-wrapper.insights .show-more" ).click(function() {
                                                  $(this).closest( ".teaser-wrapper.insights" ).find( ".item-show-more" ).removeClass("d-none");
                                                  $(this).parent().addClass("d-none");
                                                  $(".item-show-more").truncate({
                                                    lines: 2
                                                  });
                                                  $(".item-show-more p").truncate({
                                                    lines: 2
                                                  });
                                                  return false;
                                                });
                                              });
                                            </script>
                                          </div>
                                        </div>
                                      </section>
                                    </div>    {% endblock %}
