{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|Investment Solutions
{% endblock %}

{% block content %}

<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="{% url 'RedForest:privatebanking' %}">Private Banking</a></li>
              <li><span>Investment Solutions</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Investment Solutions</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="{% url 'RedForest:privatebanking' %}">Private Banking</a></li>
                <li><span>Investment Solutions</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/privatebanking/investmentsolution.jpg' %} [(max-width: 991px)] | {% static 'images/privatebanking/investmentsolution.jpg' %} [(max-width: 1599px)] | {% static 'images/privatebanking/investmentsolution.jpg' %}"
          >
          <div>
            <h1>Investment Solutions</h1>
            <p>Investment services to suit your objectives</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>Investment services to suit your objectives</h3>
          <p>Whatever your risk tolerance, time horizon or asset class preferences we can help you develop an investment strategy that works for you.<br />
            <br />
            And once we&#39;ve charted the course for success, we can offer you a level of control that suits your needs. So whether you want to transfer the responsibility to one of our specialist investment professionals or you&#39;d prefer investment advice while retaining control of your own portfolio, we have an investment service for you.<br />
            <br />
            With our discretionary mandates, strategies that correspond to your investment objectives and risk profile are implemented in a disciplined investment process. Our advisory mandates are managed in a way that gives you access to our specialists and their recommendations when it comes to taking your own investment decisions.</p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row section-headline mb-med">
        <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
          <h2>Our Investment Solutions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-10 mx-auto">
          <div class="teaser-wrapper-block teaser2">
            <article class="teaser above">
              <a href="/private-banking/investment-solutions/advisory-solutions.html" title="Advisory Solutions">

                        <div class="content">
                          <h3>Advisory Solutions</h3>
                          <p>Professional, personalised investment guidance with you in the driving seat.</p>
                          <span class="link-btn">Learn more</span>
                        </div>
                      </a>
                    </article>
                    <article class="teaser above">
                      <a href="/private-banking/investment-solutions/discretionary-mandates.html" title="Discretionary Mandates">
                        <picture class="image">
                          <source data-srcset="" media="(max-width: 575px)">
                            <source data-srcset="" media="(max-width: 768px)">
                              <source data-srcset="" media="(max-width: 1439px)">
                                <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/investment-solutions/Discretionary_Mandates_Bar_Image_1680x541_72dpi.png/jcr:content/Discretionary_Mandates_Bar_Image_1680x541_72dpi.png">
                                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/investment-solutions/Discretionary_Mandates_Bar_Image_1680x541_72dpi.png/jcr:content/Discretionary_Mandates_Bar_Image_1680x541_72dpi.png" width="688" height="400" class="lazyload" alt="Discretionary Mandates" />
                                </picture>
                                <div class="content">
                                  <h3>Discretionary Mandates</h3>
                                  <p>Fully managed investment service that lets us turn your aspirations into reality.</p>
                                  <span class="link-btn">Learn more</span>
                                </div>
                              </a>
                            </article>
                            <article class="teaser above">
                              <a href="/private-banking/investment-solutions/alternative-and-private-market-investments.html" title="Alternative and private market investments">
                                <picture class="image">
                                  <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/1920x680-alternative.jpg/jcr:content/1920x680-alternative.jpg" media="(max-width: 575px)">
                                    <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/1920x680-alternative.jpg/jcr:content/1920x680-alternative.jpg" media="(max-width: 768px)">
                                      <source data-srcset="/.imaging/mte/efg-revamp/538x400/dam/efg/private-banking/1920x680-alternative.jpg/jcr:content/1920x680-alternative.jpg" media="(max-width: 1439px)">
                                        <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/1920x680-alternative.jpg/jcr:content/1920x680-alternative.jpg">
                                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/1920x680-alternative.jpg/jcr:content/1920x680-alternative.jpg" width="688" height="400" class="lazyload" alt="Alternative and private market investments" />
                                        </picture>
                                        <div class="content">
                                          <h3>Alternative and private market investments</h3>
                                          <p>Alternative assets to de-risk and diversify your portfolio.</p>
                                          <span class="link-btn">Learn more</span>
                                        </div>
                                      </a>
                                    </article>
                                    <article class="teaser above">
                                      <a href="/private-banking/investment-solutions/advanced-investment-solutions.html" title="Advanced Investment Solutions">
                                        <picture class="image">
                                          <source data-srcset="" media="(max-width: 575px)">
                                            <source data-srcset="" media="(max-width: 768px)">
                                              <source data-srcset="" media="(max-width: 1439px)">
                                                <source data-srcset="/doc/jcr:bd3cafdd-ea1a-446b-a542-e37a5a5d0d36/Investment_Solutions_Advanced_Investment_Solutions_Option1_688x400_72dpi.png/lang:en/Investment_Solutions_Advanced_Investment_Solutions_Option1_688x400_72dpi.png">
                                                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:bd3cafdd-ea1a-446b-a542-e37a5a5d0d36/Investment_Solutions_Advanced_Investment_Solutions_Option1_688x400_72dpi.png/lang:en/Investment_Solutions_Advanced_Investment_Solutions_Option1_688x400_72dpi.png" width="688" height="400" class="lazyload" alt="Advanced Investment Solutions" />
                                                </picture>
                                                <div class="content">
                                                  <h3>Advanced Investment Solutions</h3>
                                                  <p>A comprehensive range of solutions from structured products to trading services.</p>
                                                  <span class="link-btn">Learn more</span>
                                                </div>
                                              </a>
                                            </article>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                  {% include 'itstart.html' %}
                                      {% endblock %}
