{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><span>Wealth Services</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Wealth Services</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><span>Wealth Services</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/privatebanking/wealthservice.jpg' %}"
          >
          <div>
            <h1>Wealth Services </h1>
            <p>Helping you develop, protect and pass on your wealth</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Building the best future for you and your wealth</h2>
        <p class="indent">Wealth Planning is at the heart of our activity. Thanks to our broad range of internal and external wealth solutions, at EFG we can help you in answering the difficult questions of your life, whether the aim is to manage and enhance wealth, to protect against adverse political and economic conditions, to establish specific succession plans, or a combination of these factors.</p>
      </div>
    </div>
  </div>
</section><section>
  <div class="container">
    <div class="row section-headline mb-med">
      <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
        <h2>Our Wealth Services </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="teaser-wrapper-block teaser2">
          <article class="teaser above">
            <a href="/private-banking/wealth-services/wealth-planning.html" title="Wealth Planning">
              <picture class="image">
                <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/950x464.jpg/jcr:content/950x464.jpg" media="(max-width: 575px)">
                  <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/950x464.jpg/jcr:content/950x464.jpg" media="(max-width: 768px)">
                    <source data-srcset="/.imaging/mte/efg-revamp/538x400/dam/efg/private-banking/950x464.jpg/jcr:content/950x464.jpg" media="(max-width: 1439px)">
                      <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/950x464.jpg/jcr:content/950x464.jpg">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/950x464.jpg/jcr:content/950x464.jpg" width="688" height="400" class="lazyload" alt="Wealth Planning" />
                      </picture>
                      <div class="content">
                        <h3>Wealth Planning</h3>
                        <p>Building the best structure for success.</p>
                        <span class="link-btn">Explore Wealth Planning</span>
                      </div>
                    </a>
                  </article>
                  <article class="teaser above">
                    <a href="/private-banking/wealth-services/trust-services.html" title="Trust Services">
                      <picture class="image">
                        <source data-srcset="" media="(max-width: 575px)">
                          <source data-srcset="" media="(max-width: 768px)">
                            <source data-srcset="" media="(max-width: 1439px)">
                              <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/Batch-3/Trust_Services/Trust_Services_Trust_Services_1680x541_72dpi.png/jcr:content/Trust_Services_Trust_Services_1680x541_72dpi.png">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/Batch-3/Trust_Services/Trust_Services_Trust_Services_1680x541_72dpi.png/jcr:content/Trust_Services_Trust_Services_1680x541_72dpi.png" width="688" height="400" class="lazyload" alt="Trust Services" />
                              </picture>
                              <div class="content">
                                <h3>Trust Services</h3>
                                <p>Thoughtful solutions for wealth protection and transferral.</p>
                                <span class="link-btn">Explore Trust Services</span>
                              </div>
                            </a>
                          </article>
                          <article class="teaser above">
                            <a href="/private-banking/wealth-services/fund-services.html" title="Fund Services">
                              <picture class="image">
                                <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/Fund-services/fundservice-1920x680.jpg/jcr:content/fundservice-1920x680.jpg" media="(max-width: 575px)">
                                  <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/Fund-services/fundservice-1920x680.jpg/jcr:content/fundservice-1920x680.jpg" media="(max-width: 768px)">
                                    <source data-srcset="/.imaging/mte/efg-revamp/538x400/dam/efg/private-banking/Fund-services/fundservice-1920x680.jpg/jcr:content/fundservice-1920x680.jpg" media="(max-width: 1439px)">
                                      <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/Fund-services/fundservice-1920x680.jpg/jcr:content/fundservice-1920x680.jpg">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/private-banking/Fund-services/fundservice-1920x680.jpg/jcr:content/fundservice-1920x680.jpg" width="688" height="400" class="lazyload" alt="Fund Services" />
                                      </picture>
                                      <div class="content">
                                        <h3>Fund Services</h3>
                                        <p>Administration and support solutions for investment managers.</p>
                                        <span class="link-btn">Explore Fund Services</span>
                                      </div>
                                    </a>
                                  </article>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                        <section>
                          <div class="container">
                            <div class="row teaser-wrapper">
                              <div class="col-12 col-xl-10 mx-auto">
                                <article class="teaser highlight ">
                                  <a href="/private-banking/wealth-services/wealth-solutions.html" title="Introducing EFG Wealth Solutions">
                                    <div class="image position-relative">
                                      <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/introducing.jpg' %}"></div>
                                    </div>
                                    <div class="content">
                                      <span class="label">
                                      </span>
                                      <div>
                                        <h4>Introducing EFG Wealth Solutions</h4>
                                        <p>Discover the specialist wealth structuring team at the heart of our private banking service. Learn how we craft bespoke solutions to protect your assets and facilitate the efficient transfer of wealth between generations.</p>
                                        <span class="link-btn">Find out more</span>
                                      </div>
                                    </div>
                                  </a>
                                </article>
                              </div> </div>
                            </div>
                          </section>
                          {% include 'itstart.html' %}{% endblock %}
