{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/investment-solutions.html">Investment Solutions</a></li>
              <li><span>Alternative &amp; private market investments</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Alternative &amp; private market investments</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/investment-solutions.html">Investment Solutions</a></li>
                <li><span>Alternative &amp; private market investments</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:f76f42c8-ce27-4872-ada2-a5db16bdea1d/828x1106-alternative.jpg/lang:en/828x1106-alternative.jpg [(max-width: 991px)] | /doc/jcr:e1d549cd-3828-4eb6-a008-2844fd7a85c1/1920x680-alternative.jpg/lang:en/1920x680-alternative.jpg [(max-width: 1599px)] | /doc/jcr:e1d549cd-3828-4eb6-a008-2844fd7a85c1/1920x680-alternative.jpg/lang:en/1920x680-alternative.jpg"
          >
          <div>
            <h1>Alternative and private market investments</h1>
            <p>Searching for attractive investment opportunities around the globe</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Exploring outstanding opportunities to enhance your portfolio </h2>
        <p class="indent">Alternative Investments are increasingly popular with private and institutional investors. They are now viewed as an asset class in their own right – largely because of their often low correlation to equity and bond markets. <br/>Our strong global network gives us access to a full spectrum of specialized firms and leading service providers with in-depth knowledge of the Alternative Investment space.</p>
        <a href="/contact.html" title="Get in touch" class="btn">Get in touch<i class="icon-efg-line-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section><section class="bkg-light-grey ">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
        <h2>Generating uncorrelated, differentiated returns </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="info-box-wrapper">
          <div class="info-box">
            <div>
              <i style="background-image: url('/doc/jcr:3d2d2eda-554f-4667-839b-d1f16592d046/EFG_Icon_RGB_Bronze_Dollar.svg/lang:en/EFG_Icon_RGB_Bronze_Dollar.svg'); background-size: cover;"></i>
              <h4>Hedge funds</h4>
              <p>Hegde funds are designed to benefit from market inefficiencies, regardless of the direction of the market. They provide a range of benefits, including increased diversification, lower levels of overall portfolio volatility and higher returns in periods when traditional investments entail uncertainty.<br/>Thanks to our long experience in the space, we are able to provide access to closed and high-quality funds via our excusive Multi-Manager products. Our strong list of individual managers available in UCITS format can also be accessed directly via Advisory or Discretionary mandates.</p>
            </div>
          </div>
          <div class="info-box">
            <div>
              <i style="background-image: url('/doc/jcr:fb733de1-72ce-439a-918e-a6dfc0ff826c/Maximising_My_Business_Can_You_Direct_Icon_50x50px.svg/lang:en/Maximising_My_Business_Can_You_Direct_Icon_50x50px.svg'); background-size: cover;"></i>
              <h4>Private markets</h4>
              <p>Are you in this for the long run? Then we are by your side offering comprehensive advice and a range of solutions around private markets, including our own in-house vintage programme CERES. This is your chance to transform companies, help them to grow faster, complete acquisitions, launch new products – essentially make a real difference. </p>
            </div>
          </div>
          <div class="info-box">
            <div>
              <i style="background-image: url('/doc/jcr:29a65cc6-7567-4c37-8f4b-fa475c0f33c2/Maximising_My_Business_How_Can_I_Use_Icon_50x50px_svg.svg/lang:en/Maximising_My_Business_How_Can_I_Use_Icon_50x50px_svg.svg'); background-size: cover;"></i>
              <h4>Real estate</h4>
              <p>We offer comprehensive advisory solutions and products focused on real estate. Our product range provides access across both direct and indirect vehicles, encompassing all sectors and regions. Products in this category are externally managed funds or vehicles investing directly or indirectly in real estate equity or debt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="content">
            <h3>It all starts with a conversation</h3>
            <p>Let&#039;s start ours and build something valuable today.</p>
            <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
            <ul>
              <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
              <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
            </ul>
          </div>
          <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Advisory_Services/Advisory_Services_Time_To_Build_688x515_72dpi.png/jcr:content/Advisory_Services_Time_To_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Advisory_Services/Advisory_Services_Time_To_Build_688x515_72dpi.png/jcr:content/Advisory_Services_Time_To_Build_688x515_72dpi.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-dark mt-0 pt-more">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 mx-auto text-md-center">
        <h2>Discover more</h2>
        <p>From investing to finance, find out how our services can help you protect and grow your wealth today.</p>
      </div>
    </div>
    <div class="row teaser-wrapper">
      <div class="col-12 col-lg-4">
        <article class="teaser bottom">
          <a href="/private-banking/investment-solutions.html" title="Discretionary and advisory services that help you to find the right combination of investments for you">
            <span class="label">Investment Solutions</span>
            <picture class="image">
              <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discretionary and advisory services that help you to find the right combination of investments for you" />
              </picture>
              <div class="content">
                <h4>Discretionary and advisory services that help you to find the right combination of investments for you</h4>
                <span class="link-btn">Learn more </span>
              </div>
            </a>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="teaser bottom">
            <a href="/private-banking/wealth-services.html" title="Solutions to help you protect, structure and plan your wealth for the long term.">
              <span class="label">Wealth Services </span>
              <picture class="image">
                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Solutions to help you protect, structure and plan your wealth for the long term." />
                </picture>
                <div class="content">
                  <h4>Solutions to help you protect, structure and plan your wealth for the long term.</h4>
                  <span class="link-btn">Learn more</span>
                </div>
              </a>
            </article>
          </div>
          <div class="col-12 col-lg-4">
            <article class="teaser bottom">
              <a href="/private-banking/credit-and-financing.html" title=" Flexible financing solutions to support investment, both home and abroad.">
                <span class="label">Credit and Financing</span>
                <picture class="image">
                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg" width="548" height="280" class="lazyload" alt=" Flexible financing solutions to support investment, both home and abroad." />
                  </picture>
                  <div class="content">
                    <h4> Flexible financing solutions to support investment, both home and abroad.</h4>
                    <span class="link-btn">Learn more</span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% endblock %}
