
{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}

      <div class="main-content">
        <section class="hero-main">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <nav class="breadcrumb">
                  <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><span>Asset Management</span></li>
                  </ul>
                </nav>
                <nav class="breadcrumb-mobile">
                  <a href="#"><i class="icon-efg-breadcrumb"></i><span>Asset Management</span><i class="icon-efg-arrow-down"></i></a>
                  <div>
                    <ul>
                      <li><a href="/">Homepage</a></li>
                      <li><span>Asset Management</span></li>
                    </ul>
                    <a href="#" class="btn close">Close</a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="hero-content lazyload" data-sizes="auto"
                data-bgset="{% static 'images/assetmanagement/assetmanagement.jpg' %}"
                >
                <div>
                  <h1>Asset Management</h1>
                  <p>Multi-asset specialists delivering flexible and effective long term Asset Management solutions for private clients, institutional investors and intermediaries</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="">
        <div class="container">
          <div class="row section-headline">
            <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
              <h2>Smart strategies for thoughtful investors</h2>
              <p class="indent">Better investment decisions, informed by rigorous, proprietary macro-economic research and market analysis. An outlook founded on long-term trends and the value to be found in them. A philosophy that champions new thinking and strategies that challenge convention.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="">
        <div class="container">
          <div class="row section-headline">
            <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
              <h2>Firm overview</h2>
              <p class="indent">EFG Asset Management (EFGAM) is the asset management arm of EFG International, a global private banking group headquartered in Zurich, Switzerland. <br/><br/>EFG Asset Management is an international provider of actively managed investment products and services to private clients, institutional investors and financial intermediaries around the world. With a full range of investment solutions, including traditional equity and fixed income portfolios, multi-asset and alternatives strategies, and its proprietary New Capital fund range, EFGAM manages approximately $26 billion on behalf of clients as of January 2023.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="bkg-light-grey overflow-hidden">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="side-component full align-top">
                <div class="bkg-light-grey side-content">
                  <h3>Responsible investing</h3>
                  <div class="text-article mt-base"><p>Responsible investing has become a fundamental consideration for investors. At EFGAM, we believe ESG integration is the most sensible approach to meeting the requirements of our investors in a transparent manner.&nbsp;</p>
                  </div>
                  <a href="/asset-management/responsible-investing.html" class="btn mt-20">Learn more </a>
                </div>
                <div class="side-image">
                  <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/assetmanagement/responsibleinvesting.jpg' %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bkg-light-grey ">
        <div class="container">
          <div class="row section-headline">
            <div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
              <h2>Our approach</h2>
              <p>The perfect balance of discipline and flexibility.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
              <div class="info-box-wrapper">
                <div class="info-box">
                  <div>
                    <i style="background-image: url({% static 'images/assetmanagement/think.svg' %}); background-size: cover;"></i>
                    <h4>Thinking differently</h4>
                    <p>We are not constrained to a benchmark or limited to any investment style and have a culture of independent thinking within a disciplined environment.</p>
                  </div>
                </div>
                <div class="info-box">
                  <div>
                    <i style="background-image: url({% static 'images/assetmanagement/conviction.svg' %}); background-size: cover;"></i>
                    <h4>High conviction</h4>
                    <p>We base our high conviction recommendations on robust research methodologies and incisive analysis and have used this to develop our own range of proprietary funds, the New Capital Funds.</p>
                  </div>
                </div>
                <div class="info-box">
                  <div>
                    <i style="background-image: url({% static 'images/assetmanagement/dynamic.svg' %}); background-size: cover;"></i>
                    <h4>Dynamic</h4>
                    <p>We are multi-asset specialists. We believe that a dynamically managed multi-asset portfolio can achieve consistent long-term positive returns over time.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bkg-light-grey overflow-hidden">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="side-component full align-top">
                <div class="bkg-light-grey side-content">
                  <h3>Our investment process</h3>
                  <div class="text-article mt-base"><p>Macro views across long, medium and short-term time horizons. A portfolio managed with precision.&nbsp;</p>
                  </div>
                  <a href="/asset-management/investment-process.html" class="btn mt-20">Discover more</a>
                </div>
                <div class="side-image">
                  <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/assetmanagement/investmentprocess.jpg' %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bkg-light-grey overflow-hidden">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="side-component full align-top">
                <div class="bkg-light-grey side-content order-lg-2">
                  <h3>New Capital </h3>
                  <div class="text-article mt-base"><p>Explore our range of innovative funds. From equities, fixed income and multi-asset to alternatives, our strategies are designed to produce long-term outperformance for investors.</p>
                  </div>
                  <a target="_blank" href="https://www.efgam.com/newcapitalfunds" class="btn mt-20">Find out more</a>
                </div>
                <div class="side-image order-lg-1">
                  <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/assetmanagement/newcapital.jpg' %}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include 'itstart.html' %}
      {% endblock %}
