
{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><span>Contact</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Contact</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><span>Contact</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/homepage/contact.jpg' %}"
          >
          <div>
            <h1>Contact us</h1>
            <p>Here to help, whenever and wherever you need</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>It all starts with a conversation</h2>
        <p class="indent">It starts with a conversation, and leads to our recommendations to you. In-between, we listen better, we probe deeper. And we look harder for the best solutions for your needs. World class expertise and insight, crafted into individual advice, delivered one relationship at a time.</p>
        <a href="/modal-form.html" title="Contact us" class="btn form-panel-open">Contact us<i class="icon-efg-line-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>General enquiries </h4>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+41 44 226 18 50" class="phone">+41 44 226 18 50</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Media Relations</h4>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+41 44 226 12 72" class="phone">+41 44 226 12 72</a></li>
                <li><i class="icon-efg-mail"></i><a href="/cdn-cgi/l/email-protection#7f121a1b161e0d1a131e0b1610110c3f1a191816110b1a0d111e0b1610111e13511c1012"><span class="__cf_email__" data-cfemail="3a575f5e535b485f565b4e535554497a5f5c5d53544e5f48545b4e5355545b5614595557">[email&#160;protected]</span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Investor Relations</h4>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+41 44 212 73 77" class="phone">+41 44 212 73 77</a></li>
                <li><i class="icon-efg-mail"></i><a href="/cdn-cgi/l/email-protection#ff9691899a8c8b908d8d9a939e8b9690918cbf9a999896918b9a8d919e8b9690919e93d19c9092"><span class="__cf_email__" data-cfemail="147d7a627167607b6666717875607d7b7a67547172737d7a6071667a75607d7b7a75783a777b79">[email&#160;protected]</span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>eBanking - Private clients</h4>
              <p>Monday-Friday 8.00-18.00 CET</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+41 800 334 334" class="phone">+41 800 334 334</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>eBanking - Independent Asset Managers </h4>
              <p>Monday-Friday 8.00-18.30 CET</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+41 58 809 3999" class="phone">+41 58 809 3999</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>EFG Asset Management</h4>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+44 20 7491 9111" class="phone">+44 20 7491 9111</a></li>
                <li><i class="icon-efg-mail"></i><a href="/cdn-cgi/l/email-protection#acc9c2ddd9c5dec5c9dfecc9cacbcdc182cfc3c1"><span class="__cf_email__" data-cfemail="e2878c93978b908b8791a2878485838fcc818d8f">[email&#160;protected]</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>Our global locations </h3>
          <p>With offices in over 40 locations worldwide, you are never far from one of our experts. Explore our other office locations</p>
        </article>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="accordion-location">
          <div class="open">
            <a href="#" class="accordion-location-head">Switzerland</a>
            <div class="accordion-location-content" style="display: block;">
              <ul class="location-link">
                <li>
                  <a href="/about/our-locations/zurich.html" title="Zurich"><h4>Zurich</h4><p>Switzerland</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/geneva.html" title="Geneva"><h4>Geneva</h4><p>Switzerland</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/lugano.html" title="Lugano"><h4>Lugano</h4><p>Switzerland</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/lausanne.html" title="Lausanne"><h4>Lausanne</h4><p>Switzerland</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/locarno.html" title="Locarno"><h4>Locarno</h4><p>Switzerland</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/chiasso.html" title="Chiasso"><h4>Chiasso</h4><p>Switzerland</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <a href="#" class="accordion-location-head">Europe</a>
            <div class="accordion-location-content">
              <ul class="location-link">
                <li>
                  <a href="/about/our-locations/london.html" title="London"><h4>London</h4><p>United Kingdom</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/luxembourg.html" title="Luxembourg"><h4>Luxembourg</h4><p>Luxembourg</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/monaco.html" title="Monaco"><h4>Monaco</h4><p>Monaco</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/lisbon.html" title="Lisbon"><h4>Lisbon</h4><p>Portugal</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/athens.html" title="Athens"><h4>Athens</h4><p>Greece</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/birmingham.html" title="Birmingham"><h4>Birmingham</h4><p>United Kingdom</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/jersey.html" title="Jersey"><h4>Jersey</h4><p>Channel Islands</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/limassol.html" title="Limassol"><h4>Limassol</h4><p>Cyprus</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/nicosia.html" title="Nicosia"><h4>Nicosia</h4><p>Cyprus</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/ombersley.html" title="Ombersley"><h4>Ombersley</h4><p>United Kingdom</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/porto.html" title="Porto"><h4>Porto</h4><p>Portugal</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/shrewsbury.html" title="Shrewsbury"><h4>Shrewsbury</h4><p>United Kingdom</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/vaduz.html" title="Vaduz"><h4>Vaduz</h4><p>Liechtenstein</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <a href="#" class="accordion-location-head">Asia Pacific</a>
            <div class="accordion-location-content">
              <ul class="location-link">
                <li>
                  <a href="/about/our-locations/hong-kong.html" title="Hong Kong"><h4>Hong Kong</h4><p>Hong Kong</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/singapore.html" title="Singapore"><h4>Singapore</h4><p>Singapore</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/adelaide.html" title="Adelaide"><h4>Adelaide</h4><p>Australia</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/brisbane.html" title="Brisbane"><h4>Brisbane</h4><p>Australia</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/canberra.html" title="Canberra"><h4>Canberra</h4><p>Australia</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/melbourne.html" title="Melbourne"><h4>Melbourne</h4><p>Australia</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/perth.html" title="Perth"><h4>Perth</h4><p>Australia</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/shanghai.html" title="Shanghai"><h4>Shanghai</h4><p>China</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/sydney.html" title="Sydney"><h4>Sydney</h4><p>Australia</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <a href="#" class="accordion-location-head">Americas</a>
            <div class="accordion-location-content">
              <ul class="location-link">
                <li>
                  <a href="/about/our-locations/miami.html" title="Miami"><h4>Miami</h4><p>United States</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/nassau.html" title="Nassau"><h4>Nassau</h4><p>Bahamas</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/george-town.html" title="George Town"><h4>George Town</h4><p>Cayman Islands </p></a>
                </li>
                <li>
                  <a href="/about/our-locations/bogota.html" title="Bogotá "><h4>Bogotá </h4><p>Colombia</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/lima.html" title="Lima"><h4>Lima</h4><p>Peru</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/montevideo.html" title="Montevideo"><h4>Montevideo</h4><p>Uruguay</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/punta-del-este.html" title="Punta del Este"><h4>Punta del Este</h4><p>Uruguay</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/portland.html" title="Portland"><h4>Portland</h4><p>United States</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/rio-de-janeiro.html" title="Rio de Janeiro"><h4>Rio de Janeiro</h4><p>Brazil</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/sao-paulo.html" title="São Paulo"><h4>São Paulo</h4><p>Brazil</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <a href="#" class="accordion-location-head">Middle East</a>
            <div class="accordion-location-content">
              <ul class="location-link">
                <li>
                  <a href="/about/our-locations/bahrain.html" title="Bahrain"><h4>Bahrain</h4><p>Middle East</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/dubai.html" title="Dubai"><h4>Dubai</h4><p>UAE</p></a>
                </li>
                <li>
                  <a href="/about/our-locations/tel-aviv.html" title="Tel Aviv"><h4>Tel Aviv</h4><p>Israel</p></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>eBanking support </h3>
            <div class="text-article mt-base"><p>If you are having issues accessing or navigating your online or mobile banking, please get in touch and one of our technical advisors will be able to assist you promptly.&nbsp;</p>
              <p>Whether you need assistance with setting up online or mobile banking for the first time, installing applications onto your device or help recovering or changing your password our team are here to help.</p>
            </div>
            <a href="/private-banking/ebanking.html" class="btn mt-20">Get in touch </a>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/homepage/know.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>About us</h3>
            <div class="text-article mt-base"><p>A pure-play private bank, offering comprehensive, first-class investment, wealth, and credit solutions to private and institutional clients on a global scale. Our teams think like entrepreneurs to design customised solutions that meet your individual goals. Never resting, always challenging the status quo, to create a new banking experience.</p>
            </div>
            <a href="/about.html" class="btn mt-20">Learn more </a>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/about/bank.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overflow-visible mt-big">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="news-slider">
          <div>
            <div class="info">
              <p>
                Ad hoc announcement pursuant to Art. 53 LR
                <time class="no-cat" datetime="2023-02-22 07:00">
                  22 February 2023
                </time>
              </p>
            </div>
            <h2>Record underlying net profit of CHF 248.7 million (+48%); dividend up 25% to CHF 0.45 per share<h2>
              <a href="/media/2023/record-underlying-net-profit-of-chf-248.7-million-48-dividend-up-25--to-chf-0.45-per-share.html" class="link-btn big">Find out more</a>
            </div>
            <div>
              <div class="info">
                <p>
                  Ad hoc announcement pursuant to Art. 53 LR
                  <time class="no-cat" datetime="2022-12-22 07:00">
                    22 December 2022
                  </time>
                </p>
              </div>
              <h2>Reclassification of a portfolio of financial assets<h2>
                <a href="/media/2022/reclassification_of_a_portfolio_of_financial_assets.html" class="link-btn big">Find out more</a>
              </div>
              <div>
                <div class="info">
                  <p>
                    Media information
                    <time class="no-cat" datetime="2022-12-07 09:00">
                      07 December 2022
                    </time>
                  </p>
                </div>
                <h2>EFG International appoints Ali Sandila as the new CEO of its Dubai Advisory Office <h2>
                  <a href="/media/2022/efg_international_appoints_ali_sandila_as_the_new_ceo_of_its_dubai_advisory_office.html" class="link-btn big">Find out more</a>
                </div>
              </div>
              <div class="news-slider-pagination"></div>
              <div class="news-slider-nav"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="bkg-light-grey">
        <div class="container">
          <div class="row section-headline">
            <div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
              <h2>Expert market insights </h2>
              <p>Trends, analysing and insights from around the world, brought to you by our expert team.</p>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 align-items-lg-end">
              <a href="/insights.html" title="Sign up today" class="btn mt-lg-0">Sign up today<i class="icon-efg-line-arrow-right"></i></a>
            </div>
          </div>
          <div class="row teaser-wrapper insights">
            <div class="col-12 col-lg-8">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <article class="teaser">
                <a href="/insights/2023/fomc-minutes-ongoing-interest-rate-increases-to-be-expected.html" title="FOMC Minutes: Ongoing interest rate increases to be expected">
                  <div class="info">
                    <p>
                      Investment Insights
                      <time class="no-cat" datetime="2023-02-28 00:00">
                        28 February 2023
                      </time>
                    </p>
                    <i class="icon-efg-document"></i>
                  </div>
                  <div class="content">
                    <h4>FOMC Minutes: Ongoing interest rate increases to be expected</h4>
                    <p class="truncate" data-line="2" data-min-width="120">The minutes from the Federal Open Market Committee (FOMC) meeting that took place on 31 January – 1 February and which were released on 22 February, show that FOMC members felt that a series of interest rate increases will be necessary to lower inflation to target.</p>
                  </div>
                  <div class="author">
                    <span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/2020/YCC---a-response-to-the-corona-curveball/Steffan-Illustration-Large.jpg/jcr:content/Steffan Illustration-Large.jpg')"></span>
                    <p class="name">Stefan Gerlach </p>
                    <p>3 min read</p>
                  </div>
                </a> </article>
              </div>
              <div class="col-12 col-md-6 col-lg-4 item-show-more d-none d-md-block">
                <article class="teaser sm-hide">
                  <a href="/insights/2023/how-hawkish-is-the-fed.html" title="How hawkish is the Fed?">
                    <div class="info">
                      <p>
                        Investment Insights
                        <time class="no-cat" datetime="2023-02-27 00:00">
                          27 February 2023
                        </time>
                      </p>
                      <i class="icon-efg-document"></i>
                    </div>
                    <div class="content">
                      <h4>How hawkish is the Fed?</h4>
                      <p class="truncate" data-line="2" data-min-width="120">The latest Federal Open Market Committee (FOMC) minutes provide a window into the Fed’s thinking at its February meeting. In this Macro Flash Note, Sam Jochim examines the implied policy bias of the Fed with the help of EFGAM’s Fed Hawkishness Indicator.</p>
                    </div>
                    <div class="author">
                      <span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/Authors/JB-Large.jpg/jcr:content/JB-Large.jpg')"></span>
                      <p class="name">Sam Jochim</p>
                      <p>4 min read</p>
                    </div>
                  </a> </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item-show-more d-none d-md-block">
                  <article class="teaser sm-hide">
                    <a href="/insights/2023/team-malizia-take-on-the-epic-3rd-leg-of-the-ocean-race.html" title="Team Malizia take on the epic 3rd leg of The Ocean Race">
                      <div class="info">
                        <p>
                          Sponsorships
                          <time class="no-cat" datetime="2023-02-24 00:00">
                            24 February 2023
                          </time>
                        </p>
                        <i class="icon-efg-document"></i>
                      </div>
                      <div class="content">
                        <h4>Team Malizia take on the epic 3rd leg of The Ocean Race</h4>
                        <p class="truncate" data-line="2" data-min-width="120">The record-breaking 3rd leg of The Ocean Race from Cape Town to Itajaí, Brazil starts on Sunday, 26 February 2023. Covering 12,750 nautical miles (23,613 km), it is the longest leg in the 50-year history of The Ocean Race; a one month sailing marathon that many feel will go on to define the race.</p>
                      </div>
                      <div class="author">
                        <span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/homepage/Home_GettyImages-941690384_Desktop_530x480px_72dpi.jpg/jcr:content/EFG_Logo.png')"></span>
                        <p class="name">Marketing & Communications</p>
                        <p>4 min read</p>
                      </div>
                    </a> </article>
                  </div>
                  <div class="col-12 text-center d-md-none mt-base mb-base">
                    <a href="#" class="btn btn-sec-dark show-more">Show more</a>
                  </div>
                  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    $(function() {
                      $( ".teaser-wrapper.insights .show-more" ).click(function() {
                        $(this).closest( ".teaser-wrapper.insights" ).find( ".item-show-more" ).removeClass("d-none");
                        $(this).parent().addClass("d-none");
                        $(".item-show-more").truncate({
                          lines: 2
                        });
                        $(".item-show-more p").truncate({
                          lines: 2
                        });
                        return false;
                      });
                    });
                  </script>
                </div>
              </div>
            </section>
          </div>{% endblock %}
