{% extends "base.html" %}
{% load static %}

{% block title %}
Red Forest BANK
{% endblock %}

{% block content %}


<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
        <div class="hero-content lazyloaded" style="background-image: url({% static 'images/homeimage.jpg' %});">
            <div>
              <h1>Entrepreneurial thinking. Private banking.</h1>
              <p>A global network of experts. A comprehensive range of first class investment, wealth and credit solutions for private and institutional clients. A leading Swiss private bank renowned for its unique client approach.</p>
              <a href="{% url 'RedForest:about' %}" title="" class="btn">Find out more<i class="icon-efg-line-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row teaser-wrapper">
        <div class="col-12 col-lg-4">
          <article class="teaser">
            <a href="{% url 'RedForest:ourphilosophy' %}" title="
Bringing entrepreneurial thinking to Swiss private banking">
              <span class="label">our philosopy</span>
              <div class="content">
                <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">
Bringing entrepreneurial thinking to Swiss private banking</h4>
                <span class="link-btn">Find out more</span>
              </div>

              </a>
            </article>
          </div>
          <div class="col-12 col-lg-4">
            <article class="teaser">
              <a href="{% url 'RedForest:wealthservices' %}" title="Helping you develop, protect and pass on your wealth">
                <span class="label">wealth services</span>
                <div class="content">
                  <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Helping you develop, protect and pass on your wealth</h4>
                  <span class="link-btn">Find out more</span>
                </div>
                <picture class="image">
                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Sponsorships/Sailing2023/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg0/jcr:content/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Sponsorships/Sailing2023/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg0/jcr:content/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg" width="548" height="280" class="lazyload" alt="Follow Boris Herrmann and Team Malizia on The Ocean Race 2023" />
                  </picture>
                </a>
              </article>
            </div>
            <div class="col-12 col-lg-4">
              <article class="teaser">
                <a href="{% url 'RedForest:independentassetmanagers' %}" title="FOMC Minutes: Ongoing interest rate increases to be expected">
                  <span class="label">independent asset managers</span>
                  <div class="content">
                    <h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Independent Asset Managers Services for professionals and intermediaries</h4>
                    <span class="link-btn">Find out more</span>
                  </div>
                  <picture class="image">
                    <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/US-inflation-four-phenomena/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg/jcr:content/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/US-inflation-four-phenomena/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg/jcr:content/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg" width="548" height="280" class="lazyload" alt="FOMC Minutes: Ongoing interest rate increases to be expected" />
                    </picture>
                  </a>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section class=" bkg-light-grey">
          <div class="container">
            <div class="row section-headline">
              <div class="col-12 col-xl-10 offset-xl-1">
                <h2>Our services</h2>
                <p>Our expert teams draw on global expertise to create tailored financial solutions that deliver on your individual aspirations.</p>
                <a href="{% url 'RedForest:privatebanking' %}" title="" class="btn">Find out more<i class="icon-efg-line-arrow-right"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="/private-banking.html" class="side-component">
                  <div class="side-image order-lg-2">

                    <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/homepage/privatebanking.jpg' %}">

                    </div>
                  </div>
                  <div class="side-content order-lg-1">
                    <h3>Private Banking</h3>
                    <p>Comprehensive investment, wealth and credit solutions for private and institutional clients.</p>
                    <span class="link-btn">Find out more</span>
                  </div>
                </a>
                <a href="{% url 'RedForest:assetmanagement' %}" class="side-component">
                  <div class="side-image">
                    <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/homepage/assetmanagement.jpg' %}"></div>
                  </div>
                  <div class="side-content">
                    <h3>Asset Management </h3>
                    <p>Multi-asset specialists delivering flexible and effective long term Asset Management solutions for private clients, institutional investors and intermediaries.</p>
                    <span class="link-btn">Find out more</span>
                  </div>
                </a> </div>
              </div>
            </div>
          </section>
          <section class="empty">
            <div class="container">
              <div class="row section-headline">
                <div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
                  <h2>Expert Market Insights</h2>
                  <p>Trends, news, analysis and insights from around the world, brought to you by our expert team.</p>
                </div>
                <div class="col-12 col-lg-4 col-xl-3 align-items-lg-end">
                  <a href="{% url 'RedForest:insights' %}" title="Sign up today" class="btn mt-lg-0">Sign up today<i class="icon-efg-line-arrow-right"></i></a>
                </div>
              </div>
              <div class="row teaser-wrapper insights">
                <div class="col-12 col-lg-8">
                  <article class="teaser main">
                    <a href="{% url 'RedForest:easttowest' %}" title="“East and West: From economies to markets, an asymmetric world?”">
                      <div class="info">
                        <p>
                          Investment Insights
                          <time class="no-cat" datetime="2022-12-14 00:00">
                            14 December 2022
                          </time>
                        </p>
                        <i class="icon-efg-document"></i>
                      </div>
                      <div class="content">
                        <h4>“East and West: From economies to markets, an asymmetric world?”</h4>
                        <p class="truncate" data-line="2" data-min-width="120">How inflation and economic growth unfold will be key issues for markets in 2023. While inflation is expected to decrease across major advanced economies next year, global growth will likely diverge between developed and emerging economies. </p>
                      </div>
                      <div class="author">
                        <span style="background-image: url({% static 'images/person.jpg' %});"></span>
                        <p class="name">Mozamil Afzal</p>
                        <p>5 min read</p>
                      </div>
                      <div class="image lazyload" data-sizes="auto" data-bgset="{% static 'images/homepage/inflation.jpg' %}"></div>
                    </a>
                  </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <article class="teaser">
                    <a href="{% url 'RedForest:bankofengland' %}" title="How hawkish is the Fed?">
                      <div class="info">
                        <p>
                          Investment Insights
                          <time class="no-cat" datetime="2023-02-27 00:00">
                            27 February 2023
                          </time>
                        </p>
                        <i class="icon-efg-document"></i>
                      </div>
                      <div class="content">
                        <h4>Bank of England hikes rates to deal with persistent inflation</h4>
                        <p class="truncate" data-line="2" data-min-width="120">Bank of England At its latest Monetary Policy Committee...</p>
                      </div>
                      <div class="author">
                        <span style="background-image:url({% static 'images/person.jpg' %})"></span>
                        <p class="name">Sam Jochim</p>
                        <p>4 min read</p>
                      </div>
                    </a>
                  </article>
                </div>




                      <script>
                        $(function() {
                          $( ".teaser-wrapper.insights .show-more" ).click(function() {
                            $(this).closest( ".teaser-wrapper.insights" ).find( ".item-show-more" ).removeClass("d-none");
                            $(this).parent().addClass("d-none");
                            $(".item-show-more").truncate({
                              lines: 2
                            });
                            $(".item-show-more p").truncate({
                              lines: 2
                            });
                            return false;
                          });
                        });
                      </script>
                    </div>
                  </div>
                </section>
                <section class="overlying">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="contact-box">
                          <div class="content">
                            <h3>It all starts with a conversation</h3>
                            <p>Let&#039;s start ours and build something valuable today.</p>
                            <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
                            <ul>
                              <li><i class="mdi mdi-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
                              <li><i class="mdi mdi-cellphone-basic"></i>+41 44 226 17 17 </li>
                            </ul>
                          </div>
                          <div class="image lazyload" data-sizes="auto" data-bgset="{% static 'images/homepage/contact.jpg '%}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="bkg-dark mt-0 pt-more">
                  <div class="container">
                    <div class="row section-headline">
                      <div class="col-12 col-lg-10 mx-auto text-md-center">
                        <h2>Discover more</h2>
                        <p>From banking advice to investment insights, discover more about EFG today.</p>
                      </div>
                    </div>
                    <div class="row teaser-wrapper">
                      <div class="col-12 col-lg-4">
                        <article class="teaser bottom">
                          <a href="/media.html" title="Be in the know with the latest news and reports from EFG">
                            <span class="label">Media</span>
                            <picture class="image">
                              <source data-srcset="" media="(max-width: 575px)">
                                <source data-srcset="" media="(max-width: 991px)">
                                  <source data-srcset="" media="(max-width: 1599px)">
                                    <source data-srcset="{% static 'images/homepage/know.jpg' %}">
                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png" width="548" height="280" class="lazyload" alt="Be in the know with the latest news and reports from EFG" />
                                    </picture>
                                    <div class="content">
                                      <h4>Be in the know with the latest news and reports from EFG</h4>
                                      <span class="link-btn">Learn more</span>
                                    </div>
                                  </a>
                                </article>
                              </div>
                              <div class="col-12 col-lg-4">
                                <article class="teaser bottom">
                                  <a href="{% url 'RedForest:investors' %}" title="Services and updates for investors, shareholders and analysts">
                                    <span class="label">Investors</span>
                                    <picture class="image">
                                      <source data-srcset="" media="(max-width: 575px)">
                                        <source data-srcset="" media="(max-width: 991px)">
                                          <source data-srcset="" media="(max-width: 1599px)">
                                            <source data-srcset="{% static 'images/homepage/service.jpg' %}">
                                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg" width="548" height="280" class="lazyload" alt="Services and updates for investors, shareholders and analysts" />
                                            </picture>
                                            <div class="content">
                                              <h4>Services and updates for investors, shareholders and analysts</h4>
                                              <span class="link-btn">Learn more</span>
                                            </div>
                                          </a>
                                        </article>
                                      </div>
                                      <div class="col-12 col-lg-4">
                                        <article class="teaser bottom">
                                          <a href="{% url 'RedForest:careers' %}" title="A culture that rewards individual talent and entrepreneurial spirit">
                                            <span class="label">Careers</span>
                                            <picture class="image">
                                              <source data-srcset="" media="(max-width: 575px)">
                                                <source data-srcset="" media="(max-width: 991px)">
                                                  <source data-srcset="" media="(max-width: 1599px)">
                                                    <source data-srcset="{% static 'images/homepage/individual.jpg' %}">
                                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="A culture that rewards individual talent and entrepreneurial spirit" />
                                                    </picture>
                                                    <div class="content">
                                                      <h4>A culture that rewards individual talent and entrepreneurial spirit</h4>
                                                      <span class="link-btn">Explore opportunities</span>
                                                    </div>
                                                  </a>
                                                </article>
                                              </div>
                                            </div>
                                          </div>
                                        </section>
                                      </div>


                                      {% endblock %}
