{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="breadcrumb">
<ul>
<li><a href="/">Homepage</a></li>
<li><span>Investors</span></li>
</ul>
</nav>
<nav class="breadcrumb-mobile">
<a href="#"><i class="icon-efg-breadcrumb"></i><span>Investors</span><i class="icon-efg-arrow-down"></i></a>
<div>
<ul>
<li><a href="/">Homepage</a></li>
<li><span>Investors</span></li>
</ul>
<a href="#" class="btn close">Close</a>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"
data-bgset="/doc/jcr:768f25c0-f8a4-4c14-890b-1fb50e676a46/Analyst-coverage-1920x680.jpg/lang:en/Analyst-coverage-1920x680.jpg [(max-width: 991px)] | /doc/jcr:768f25c0-f8a4-4c14-890b-1fb50e676a46/Analyst-coverage-1920x680.jpg/lang:en/Analyst-coverage-1920x680.jpg [(max-width: 1599px)] | /doc/jcr:768f25c0-f8a4-4c14-890b-1fb50e676a46/Analyst-coverage-1920x680.jpg/lang:en/Analyst-coverage-1920x680.jpg"
>
<div>
<h1>Investors</h1>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 col-xxl-8 mx-auto">
<h2>Investor Relations</h2>
<p class="indent">EFG International Investor Relations provides services and updates for investors, shareholders and analysts. This section provides you with our investor presentations, financial reports &amp; information and latest news</p>
</div>
</div>
</div>
</section>
<section class="overflow-visible mt-big">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<div class="news-slider">
<div>
<div class="info">
<p>
Ad hoc announcement pursuant to Art. 53 LR
<time class="no-cat" datetime="2023-02-22 07:00">
22 February 2023
</time>
</p>
</div>
<h2>Record underlying net profit of CHF 248.7 million (+48%); dividend up 25% to CHF 0.45 per share<h2>
<a href="/media/2023/record-underlying-net-profit-of-chf-248.7-million-48-dividend-up-25--to-chf-0.45-per-share.html" class="link-btn big">Find out more</a>
</div>
<div>
<div class="info">
<p>
Ad hoc announcement pursuant to Art. 53 LR
<time class="no-cat" datetime="2022-12-22 07:00">
22 December 2022
</time>
</p>
</div>
<h2>Reclassification of a portfolio of financial assets<h2>
<a href="/media/2022/reclassification_of_a_portfolio_of_financial_assets.html" class="link-btn big">Find out more</a>
</div>
<div>
<div class="info">
<p>
Media information
<time class="no-cat" datetime="2022-12-07 09:00">
07 December 2022
</time>
</p>
</div>
<h2>EFG International appoints Ali Sandila as the new CEO of its Dubai Advisory Office <h2>
<a href="/media/2022/efg_international_appoints_ali_sandila_as_the_new_ceo_of_its_dubai_advisory_office.html" class="link-btn big">Find out more</a>
</div>
</div>
<div class="news-slider-pagination"></div>
<div class="news-slider-nav"></div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
<h2>Financial calendar</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tbody>
<tr>
<th>Date</th>
<th>Event</th>
</tr>
<tr>
<td>
<p>21 April 2023</p>
</td>
<td>
<p>Annual General Meeting</p>
</td>
</tr>
<tr>
<td>
<p>26 July 2023</p>
</td>
<td>
<p>Half-year results 2023</p>
</td>
</tr> </tbody>
</table>
<div class="table-download-mobile">
<div>Financial calendar</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head"><span>Date</span>21 April 2023
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Event</span></p>
<p>Annual General Meeting</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head"><span>Date</span>26 July 2023
</a>
<div class="table-download-content">
<ul>
<li>
<p><span>Event</span></p>
<p>Half-year results 2023</p>
</li>
<li>
<p></p>
</li>
<li>
<p></p>
</li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mb-base">
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
<h2>Financial results</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tr>
<th>Date</th>
<th>Document</th>
<th>Language</th>
</tr>
<tr>
<td>
<time class="no-cat" datetime="2023-02-22 07:00">
22 February 2023
</time>
</td>
<td>Annual report 2022</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Annual report 2022', 'download', this.href);" href="/doc/jcr:9c2ac032-8617-4b71-a226-88771badcb6d/EFGI%202022%20Full_Year_Report_EN.pdf/lang:en/EFGI 2022 Full_Year_Report_EN.pdf" target="_blank">
<i class="icon-efg-pdf"></i>EN
</a></li>
</ul>
</td>
</tr>
<tr>
<td>
<time class="no-cat" datetime="2022-07-21 06:50">
21 July 2022
</time>
</td>
<td>Half-year-report 2022</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Half-year-report 2022', 'download', this.href);" href="/doc/jcr:662d8725-4f3d-4a85-bd69-13702f0c6d4e/EFGI_2022_Half_Year_Report_EN.pdf/lang:en/EFGI_2022_Half_Year_Report_EN.pdf" target="_blank">
<i class="icon-efg-pdf"></i>EN
</a></li>
</ul>
</td>
</tr>
<tr>
<td>
<time class="no-cat" datetime="2022-02-23 07:00">
23 February 2022
</time>
</td>
<td>Annual report 2021</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Annual report 2021', 'download', this.href);" href="/doc/jcr:185a2307-fbcc-4acd-a08f-74becdf02c20/EFGI%202021_Full_Year_Report_EN.pdf/lang:en/EFGI 2021_Full_Year_Report_EN.pdf" target="_blank">
<i class="icon-efg-pdf"></i>EN
</a></li>
</ul>
</td>
</tr>
</table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Annual report 2022<span>
<time class="no-cat" datetime="2023-02-22 07:00">
22 February 2023
</time>
<br />1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Annual report 2022', 'download', this.href);" href="/doc/jcr:9c2ac032-8617-4b71-a226-88771badcb6d/EFGI%202022%20Full_Year_Report_EN.pdf/lang:en/EFGI 2022 Full_Year_Report_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Half-year-report 2022<span>
<time class="no-cat" datetime="2022-07-21 06:50">
21 July 2022
</time>
<br />1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Half-year-report 2022', 'download', this.href);" href="/doc/jcr:662d8725-4f3d-4a85-bd69-13702f0c6d4e/EFGI_2022_Half_Year_Report_EN.pdf/lang:en/EFGI_2022_Half_Year_Report_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Annual report 2021<span>
<time class="no-cat" datetime="2022-02-23 07:00">
23 February 2022
</time>
<br />1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Annual report 2021', 'download', this.href);" href="/doc/jcr:185a2307-fbcc-4acd-a08f-74becdf02c20/EFGI%202021_Full_Year_Report_EN.pdf/lang:en/EFGI 2021_Full_Year_Report_EN.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="mb-base">
<div class="container">
<div class="row section-headline mb-small">
<div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
<h2>Latest presentations</h2>
</div>
</div>
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<article class="table-download-wrapper">
<table class="table-download-desktop">
<tr>
<th>Date</th>
<th>Document</th>
<th>Language</th>
</tr>
<tr>
<td>
<time class="no-cat" datetime="2023-02-22 07:00">
22 February 2023
</time>
</td>
<td>Full-year results presentation 2022</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Full-year results presentation 2022', 'download', this.href);" href="/doc/jcr:e870c520-c9b3-429a-88d9-7e4fc3431851/EFGI_2022_Full_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Full_Year_Results_Presentation.pdf" target="_blank">
<i class="icon-efg-pdf"></i>EN
</a></li>
</ul>
</td>
</tr>
<tr>
<td>
<time class="no-cat" datetime="2022-10-12 01:00">
12 October 2022
</time>
</td>
<td>Investor Day 2022 presentation</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Investor Day 2022 presentation', 'download', this.href);" href="/doc/jcr:75307676-3b40-4349-9af2-b98ea77ad079/EFG_%20Investor_Update_2022.pdf/lang:en/EFG_ Investor_Update_2022.pdf" target="_blank">
<i class="icon-efg-pdf"></i>EN
</a></li>
</ul>
</td>
</tr>
<tr>
<td>
<time class="no-cat" datetime="2022-07-21 06:50">
21 July 2022
</time>
</td>
<td>Half-year results presentation 2022</td>
<td>
<ul>
<li><a onclick="ga('send', 'event', 'Half-year results presentation 2022', 'download', this.href);" href="/doc/jcr:cc7fa946-f8fc-4c0f-a3bc-9d3d92363875/EFGI_2022_Half_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Half_Year_Results_Presentation.pdf" target="_blank">
<i class="icon-efg-pdf"></i>EN
</a></li>
</ul>
</td>
</tr>
</table>
<div class="table-download-mobile">
<div>Documents</div>
<div class="table-download-component">
<div>
<a href="#" class="table-download-head">Full-year results presentation 2022<span>
<time class="no-cat" datetime="2023-02-22 07:00">
22 February 2023
</time>
<br />1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Full-year results presentation 2022', 'download', this.href);" href="/doc/jcr:e870c520-c9b3-429a-88d9-7e4fc3431851/EFGI_2022_Full_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Full_Year_Results_Presentation.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Investor Day 2022 presentation<span>
<time class="no-cat" datetime="2022-10-12 01:00">
12 October 2022
</time>
<br />1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Investor Day 2022 presentation', 'download', this.href);" href="/doc/jcr:75307676-3b40-4349-9af2-b98ea77ad079/EFG_%20Investor_Update_2022.pdf/lang:en/EFG_ Investor_Update_2022.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
<div>
<a href="#" class="table-download-head">Half-year results presentation 2022<span>
<time class="no-cat" datetime="2022-07-21 06:50">
21 July 2022
</time>
<br />1 available download</span></a>
<div class="table-download-content">
<ul>
<li><a onclick="ga('send', 'event', 'Half-year results presentation 2022', 'download', this.href);" href="/doc/jcr:cc7fa946-f8fc-4c0f-a3bc-9d3d92363875/EFGI_2022_Half_Year_Results_Presentation.pdf/lang:en/EFGI_2022_Half_Year_Results_Presentation.pdf" target="_blank">
<span>
<i class="icon-efg-pdf"></i>
</span>
<p>Download</p>
<p class="note">PDF - English</p>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content">
<h3>Financial results</h3>
<div class="text-article mt-base"><p>Stay updated with our latest&nbsp;financial reports.&nbsp;</p>
</div>
<a href="/investors/financial-results.html" class="btn mt-20">View reports now </a>
</div>
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1000x798px.jpg/jcr:content/WEB_Financial_Results_1000x798px.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-light-grey overflow-hidden m-0 pt-0">
<div class="container">
<div class="row">
<div class="col-12">
<div class="side-component full align-top">
<div class="bkg-light-grey side-content order-lg-2">
<h3>Latest presentations </h3>
<div class="text-article mt-base"><p>Key company information.</p>
</div>
<a href="/investors/presentations.html" class="btn mt-20">View presentations now</a>
</div>
<div class="side-image order-lg-1">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/investors/investors/WEB_Investors_Presentations_1680x540px.jpg/jcr:content/WEB_Investors_Presentations_1680x540px.jpg"></div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="">
<div class="container">
<div class="row">
<div class="col-12 col-xl-10 mx-auto">
<div class="ratio ratio-16by9" style="padding:0; height:650px;">
<iframe src="https://prod1.solutions.webfg.ch/efg/Chart/detailed?ed=04.05.2022&amp;shrs=303,921,019&amp;scap=CHF%20151,960,509.50&amp;ccap=CHF%2014,128,055.50&amp;acap=CHF%2023,513,515.050&amp;nv=CHF%200.50&amp;com=As%20per%20Annual%20Report%202021" height="650"></iframe>
</div>
</div>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>Get in touch with Investor Relations</h3>
<p>If you are an investor or financial analyst and you have any questions related to Investor Relations please get in touch with us.<br/> <br/> </p>
<div class="text-article mt-base"><p><strong>Head of Investor Relations</strong><br />
Jens Brueckner<br />
Phone: +41 44 226 17 99</p>
<p><strong>Investor Relations</strong></p>
</div>
<ul class="mt-0">
<li><i class="icon-efg-phone me-2 fs-6"></i><a href="tel:+41 44 212 73 77 " class="phone txt-sec-dark fs-6">+41 44 212 73 77 </a></li>
<li><i class="icon-efg-mail me-2 fs-6"></i><a class="txt-dark-bronze fs-6" href="/cdn-cgi/l/email-protection#1a3a73746c7f696e7568687f767b6e737574695a7f7c7d73746e7f68747b6e7375747b7634797577"><strong> <span class="__cf_email__" data-cfemail="3d54534b584e49524f4f58515c495452534e7d585b5a545349584f535c495452535c51135e5250">[email&#160;protected]</span></strong></a></li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/batch4/Contact/Contact_Us/Contact_Us_Bar_Image_1680x541_72dpi.png/jcr:content/Contact_Us_Bar_Image_1680x541_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>Key information on our business and our performance.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors/financial-results.html" title="A debrief on our performance and activities for the past year.">
<span class="label">Annual Report</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/investors/financial_results/WEB_Financial_Results_1680x540px.jpg/jcr:content/WEB_Financial_Results_1680x540px.jpg" width="548" height="280" class="lazyload" alt="A debrief on our performance and activities for the past year." />
</picture>
<div class="content">
<h4>A debrief on our performance and activities for the past year.</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/insights.html" title="Trends, news, analysis and insights from around the world">
<span class="label">Experts Insights</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Trends, news, analysis and insights from around the world" />
</picture>
<div class="content">
<h4>Trends, news, analysis and insights from around the world</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about.html" title="Bringing entrepreneurial thinking to Swiss private banking">
<span class="label">About Us</span>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/Asset_Management_Page/Asset_Management_About_Us_548x250_72dpi.png/jcr:content/Asset_Management_About_Us_548x250_72dpi.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/Asset_Management_Page/Asset_Management_About_Us_548x250_72dpi.png/jcr:content/Asset_Management_About_Us_548x250_72dpi.png" width="548" height="280" class="lazyload" alt="Bringing entrepreneurial thinking to Swiss private banking" />
</picture>
<div class="content">
<h4>Bringing entrepreneurial thinking to Swiss private banking</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>{% endblock %}
