{% load static %}
<section class="overlying">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="content">
            <h3>It all starts with a conversation</h3>
            <p>Let&#039;s start ours and build something valuable today.</p>
            <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
            <ul>
              <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
              <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
            </ul>
          </div>
          <div class="image lazyload" data-sizes="auto" data-bgset="{% static 'images/homepage/contact.jpg '%}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-dark mt-0 pt-more">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 mx-auto text-md-center">
        <h2>Discover more</h2>
        <p>From banking advice to investment insights, discover more about EFG today.</p>
      </div>
    </div>
    <div class="row teaser-wrapper">
      <div class="col-12 col-lg-4">
        <article class="teaser bottom">
          <a href="/media.html" title="Be in the know with the latest news and reports from EFG">
            <span class="label">Media</span>
            <picture class="image">
              <source data-srcset="" media="(max-width: 575px)">
                <source data-srcset="" media="(max-width: 991px)">
                  <source data-srcset="" media="(max-width: 1599px)">
                    <source data-srcset="{% static 'images/homepage/know.jpg' %}">
                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png" width="548" height="280" class="lazyload" alt="Be in the know with the latest news and reports from EFG" />
                    </picture>
                    <div class="content">
                      <h4>Be in the know with the latest news and reports from EFG</h4>
                      <span class="link-btn">Learn more</span>
                    </div>
                  </a>
                </article>
              </div>
              <div class="col-12 col-lg-4">
                <article class="teaser bottom">
                  <a href="{% url 'RedForest:investors' %}" title="Services and updates for investors, shareholders and analysts">
                    <span class="label">Investors</span>
                    <picture class="image">
                      <source data-srcset="" media="(max-width: 575px)">
                        <source data-srcset="" media="(max-width: 991px)">
                          <source data-srcset="" media="(max-width: 1599px)">
                            <source data-srcset="{% static 'images/homepage/service.jpg' %}">
                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg" width="548" height="280" class="lazyload" alt="Services and updates for investors, shareholders and analysts" />
                            </picture>
                            <div class="content">
                              <h4>Services and updates for investors, shareholders and analysts</h4>
                              <span class="link-btn">Learn more</span>
                            </div>
                          </a>
                        </article>
                      </div>
                      <div class="col-12 col-lg-4">
                        <article class="teaser bottom">
                          <a href="{% url 'RedForest:careers' %}" title="A culture that rewards individual talent and entrepreneurial spirit">
                            <span class="label">Careers</span>
                            <picture class="image">
                              <source data-srcset="" media="(max-width: 575px)">
                                <source data-srcset="" media="(max-width: 991px)">
                                  <source data-srcset="" media="(max-width: 1599px)">
                                    <source data-srcset="{% static 'images/homepage/individual.jpg' %}">
                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="A culture that rewards individual talent and entrepreneurial spirit" />
                                    </picture>
                                    <div class="content">
                                      <h4>A culture that rewards individual talent and entrepreneurial spirit</h4>
                                      <span class="link-btn">Explore opportunities</span>
                                    </div>
                                  </a>
                                </article>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
