
<div class="main-content">
<section class="hero-main">
<div class="container">
<div class="row">
<div class="col-12">
<div class="hero-content lazyload" data-sizes="auto"data-bgset="{% static 'images/homeimage.jpg/lang:en/Homepage_Global-Website_Zurich_770x1140px.jpg [(max-width: 991px)] | images/homeimage.jpg/lang:en/images/homeimage.jpg [(max-width: 1599px)] | images/homeimage.jpg/lang:en/images/homeimage.jpg' %}">
<div>
<h1>Entrepreneurial thinking. Private banking.</h1>
<p>A global network of experts. A comprehensive range of first class investment, wealth and credit solutions for private and institutional clients. A leading Swiss private bank renowned for its unique client approach.</p>
<a href="/about.html" title="" class="btn">Find out more<i class="icon-efg-line-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container">
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser">
<a href="/insights/2023/giorgio_pradelli_we_delivered_strong_operating_results_in_2022_and_maintained_our_growth_momentum.html" title="Giorgio Pradelli: “We delivered strong operating results in 2022 and maintained our growth momentum”">
<span class="label">News and Interviews</span>
<div class="content">
<h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Giorgio Pradelli: “We delivered strong operating results in 2022 and maintained our growth momentum”</h4>
<span class="link-btn">Find out more</span>
</div>
<picture class="image">
<source data-srcset="/doc/jcr:3fdbcb5a-20e7-40f9-93c0-2f1679b474f4/Insight_GP_PressConference_FY2022_548x280px.jpg/lang:en/Insight_GP_PressConference_FY2022_548x280px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:3fdbcb5a-20e7-40f9-93c0-2f1679b474f4/Insight_GP_PressConference_FY2022_548x280px.jpg/lang:en/Insight_GP_PressConference_FY2022_548x280px.jpg" width="548" height="280" class="lazyload" alt="Giorgio Pradelli: “We delivered strong operating results in 2022 and maintained our growth momentum”" />
</picture>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser">
<a href="/about/our-sponsorships/sailing/the-ocean-race-2023.html" title="Follow Boris Herrmann and Team Malizia on The Ocean Race 2023">
<span class="label">Beyond Banking</span>
<div class="content">
<h4 class="truncate" data-line="2" data-min-width="1200" data-title="">Follow Boris Herrmann and Team Malizia on The Ocean Race 2023</h4>
<span class="link-btn">Find out more</span>
</div>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Sponsorships/Sailing2023/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg0/jcr:content/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Sponsorships/Sailing2023/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg0/jcr:content/Follow_BHerrmann-TeamMalizia_The_Ocean_Race_2023_566x422px.jpg" width="548" height="280" class="lazyload" alt="Follow Boris Herrmann and Team Malizia on The Ocean Race 2023" />
</picture>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser">
<a href="/insights/2023/fomc-minutes-ongoing-interest-rate-increases-to-be-expected.html" title="FOMC Minutes: Ongoing interest rate increases to be expected">
<span class="label">Latest News and Insights</span>
<div class="content">
<h4 class="truncate" data-line="2" data-min-width="1200" data-title="">FOMC Minutes: Ongoing interest rate increases to be expected</h4>
<span class="link-btn">Find out more</span>
</div>
<picture class="image">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/US-inflation-four-phenomena/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg/jcr:content/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/insights/2021/US-inflation-four-phenomena/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg/jcr:content/Insight_Article_US-Inflation_4-Fenomena_530x395px.jpg" width="548" height="280" class="lazyload" alt="FOMC Minutes: Ongoing interest rate increases to be expected" />
</picture>
</a>
</article>
</div>
</div>
</div>
</section>
<section class=" bkg-light-grey">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-xl-10 offset-xl-1">
<h2>Our services</h2>
<p>Our expert teams draw on global expertise to create tailored financial solutions that deliver on your individual aspirations.</p>
<a href="/private-banking.html" title="" class="btn">Find out more<i class="icon-efg-line-arrow-right"></i></a>
</div>
</div>
<div class="row">
<div class="col-12">
<a href="/private-banking.html" class="side-component">
<div class="side-image order-lg-2">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/private-banking/wealth-1920x680.jpg/jcr:content/wealth-1920x680.jpg"></div>
</div>
<div class="side-content order-lg-1">
<h3>Private Banking</h3>
<p>Comprehensive investment, wealth and credit solutions for private and institutional clients.</p>
<span class="link-btn">Find out more</span>
</div>
</a>
<a href="/asset-management.html" class="side-component">
<div class="side-image">
<div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/asset-management/Asset_Management_Bar_Image_1680x541px_72dpi.png/jcr:content/Asset_Management_Bar_Image_1680x541px_72dpi.png"></div>
</div>
<div class="side-content">
<h3>Asset Management </h3>
<p>Multi-asset specialists delivering flexible and effective long term Asset Management solutions for private clients, institutional investors and intermediaries.</p>
<span class="link-btn">Find out more</span>
</div>
</a> </div>
</div>
</div>
</section>
<section class="empty">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-8 col-xl-7 offset-xl-1">
<h2>Expert Market Insights</h2>
<p>Trends, news, analysis and insights from around the world, brought to you by our expert team.</p>
</div>
<div class="col-12 col-lg-4 col-xl-3 align-items-lg-end">
<a href="/insights.html" title="Sign up today" class="btn mt-lg-0">Sign up today<i class="icon-efg-line-arrow-right"></i></a>
</div>
</div>
<div class="row teaser-wrapper insights">
<div class="col-12 col-lg-8">
<article class="teaser main">
<a href="/insights/2022/2023_outlook.html" title="“East and West: From economies to markets, an asymmetric world?”">
<div class="info">
<p>
Investment Insights
<time class="no-cat" datetime="2022-12-14 00:00">
14 December 2022
</time>
</p>
<i class="icon-efg-document"></i>
</div>
<div class="content">
<h4>“East and West: From economies to markets, an asymmetric world?”</h4>
<p class="truncate" data-line="2" data-min-width="120">How inflation and economic growth unfold will be key issues for markets in 2023. While inflation is expected to decrease across major advanced economies next year, global growth will likely diverge between developed and emerging economies. </p>
</div>
<div class="author">
<span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/Authors/Moz-Illustration-Large.jpg/jcr:content/Moz Illustration-Large.jpg')"></span>
<p class="name">Mozamil Afzal</p>
<p>5 min read</p>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/670x834/dam/efg/insights/2022/December/outlook_2023/EFG_Outlook-2023_Banner_530x295.jpg/jcr:content/EFG_Outlook-2023_Banner_530x295.jpg [(max-width: 767px)] | /.imaging/mte/efg-revamp/1376x834/dam/efg/insights/2022/December/outlook_2023/EFG_Outlook-2023_Banner_530x295.jpg/jcr:content/EFG_Outlook-2023_Banner_530x295.jpg [(max-width: 991px)] | /.imaging/mte/efg-revamp/873x427/dam/efg/insights/2022/December/outlook_2023/EFG_Outlook-2023_Banner_530x295.jpg/jcr:content/EFG_Outlook-2023_Banner_530x295.jpg [(max-width: 1439px)] | /.imaging/mte/efg-revamp/924x427/dam/efg/insights/2022/December/outlook_2023/EFG_Outlook-2023_Banner_530x295.jpg/jcr:content/EFG_Outlook-2023_Banner_530x295.jpg"></div>
</a>
</article>
</div>
<div class="col-12 col-md-6 col-lg-4">
<article class="teaser">
<a href="/insights/2023/how-hawkish-is-the-fed.html" title="How hawkish is the Fed?">
<div class="info">
<p>
Investment Insights
<time class="no-cat" datetime="2023-02-27 00:00">
27 February 2023
</time>
</p>
<i class="icon-efg-document"></i>
</div>
<div class="content">
<h4>How hawkish is the Fed?</h4>
<p class="truncate" data-line="2" data-min-width="120">The latest Federal Open Market Committee (FOMC) minutes provide a window into the Fed’s thinking at its February meeting. In this Macro Flash Note, Sam Jochim examines the implied policy bias of the Fed with the help of EFGAM’s Fed Hawkishness Indicator.</p>
</div>
<div class="author">
<span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/Authors/JB-Large.jpg/jcr:content/JB-Large.jpg')"></span>
<p class="name">Sam Jochim</p>
<p>4 min read</p>
</div>
</a>
</article>
</div>
<div class="col-12 col-md-6 col-lg-4">
<article class="teaser colored bkg-navy">
<a href="/insights/2023/team-malizia-take-on-the-epic-3rd-leg-of-the-ocean-race.html" title="Team Malizia take on the epic 3rd leg of The Ocean Race">
<div class="info">
<p>
Sponsorships
<time class="no-cat" datetime="2023-02-24 00:00">
24 February 2023
</time>
</p>
<i class="icon-efg-document"></i>
</div>
<div class="content">
<h4>Team Malizia take on the epic 3rd leg of The Ocean Race</h4>
<p class="truncate" data-line="2" data-min-width="120">The record-breaking 3rd leg of The Ocean Race from Cape Town to Itajaí, Brazil starts on Sunday, 26 February 2023. Covering 12,750 nautical miles (23,613 km), it is the longest leg in the 50-year history of The Ocean Race; a one month sailing marathon that many feel will go on to define the race.</p>
</div>
<div class="author">
<span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/homepage/Home_GettyImages-941690384_Desktop_530x480px_72dpi.jpg/jcr:content/EFG_Logo.png')"></span>
<p class="name">Marketing & Communications</p>
<p>4 min read</p>
</div>
</a> </article>
</div>
<div class="col-12 col-md-6 col-lg-4 item-show-more d-none d-md-block">
<article class="teaser sm-hide colored bkg-mauve">
<a href="/insights/2023/tight-lending-standards-cloud-the-growth-outlook.html" title="Tight lending standards cloud the growth outlook">
<div class="info">
<p>
Investment Insights
<time class="no-cat" datetime="2023-02-23 00:00">
23 February 2023
</time>
</p>
<i class="icon-efg-document"></i>
</div>
<div class="content">
<h4>Tight lending standards cloud the growth outlook</h4>
<p class="truncate" data-line="2" data-min-width="120">Tight financial conditions are needed to restore price stability but constrain growth. Many commentators note that the recent bond and equity market rallies have eased financial conditions. However, central banks focus also on bank lending conditions as it is a critical source of financing, particularly in the eurozone. In this Macro Flash Note, GianLuigi Mandruzzato looks at loan officers' surveys and concludes that financial conditions have continued to tighten significantly.</p>
</div>
<div class="author">
<span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/insights/2020/Going-below-zero/Gian-Illustration-Large.jpg/jcr:content/Gian Illustration-Large.jpg')"></span>
<p class="name">GianLuigi Mandruzzato</p>
<p>4 min read</p>
</div>
</a> </article>
</div>
<div class="col-12 col-md-6 col-lg-4 item-show-more d-none d-md-block">
<article class="teaser sm-hide ">
<a href="/insights/2023/giorgio_pradelli_we_delivered_strong_operating_results_in_2022_and_maintained_our_growth_momentum.html" title="Giorgio Pradelli: “We delivered strong operating results in 2022 and maintained our growth momentum”">
<div class="info">
<p>
News and interviews
<time class="no-cat" datetime="2023-02-22 00:00">
22 February 2023
</time>
</p>
<i class="icon-efg-document"></i>
</div>
<div class="content">
<h4>Giorgio Pradelli: “We delivered strong operating results in 2022 and maintained our growth momentum”</h4>
<p class="truncate" data-line="2" data-min-width="120">In 2022, EFG achieved a record underlying net profit and has entered its new strategic cycle 2023-2025 from a position of strength.</p>
</div>
<div class="author">
<span style="background-image:url('/.imaging/mte/efg-revamp/160x160/dam/efg/homepage/Home_GettyImages-941690384_Desktop_530x480px_72dpi.jpg/jcr:content/EFG_Logo.png')"></span>
<p class="name">Marketing & Communications</p>
<p>1 min read</p>
</div>
</a> </article>
</div>
<div class="col-12 text-center d-md-none mt-base mb-base">
<a href="#" class="btn btn-sec-dark show-more">Show more</a>
</div>
<script>
$(function() {
$( ".teaser-wrapper.insights .show-more" ).click(function() {
$(this).closest( ".teaser-wrapper.insights" ).find( ".item-show-more" ).removeClass("d-none");
$(this).parent().addClass("d-none");
$(".item-show-more").truncate({
lines: 2
});
$(".item-show-more p").truncate({
lines: 2
});
return false;
});
});
</script>
</div>
</div>
</section>
<section class="overlying">
<div class="container">
<div class="row">
<div class="col-12">
<div class="contact-box">
<div class="content">
<h3>It all starts with a conversation</h3>
<p>Let&#039;s start ours and build something valuable today.</p>
<a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
<ul>
<li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
<li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
</ul>
</div>
<div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/558x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bkg-dark mt-0 pt-more">
<div class="container">
<div class="row section-headline">
<div class="col-12 col-lg-10 mx-auto text-md-center">
<h2>Discover more</h2>
<p>From banking advice to investment insights, discover more about EFG today.</p>
</div>
</div>
<div class="row teaser-wrapper">
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/media.html" title="Be in the know with the latest news and reports from EFG">
<span class="label">Media</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/gettyimages-1164294780--media1920x680.jpg/jcr:content/barra-media.png" width="548" height="280" class="lazyload" alt="Be in the know with the latest news and reports from EFG" />
</picture>
<div class="content">
<h4>Be in the know with the latest news and reports from EFG</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/investors.html" title="Services and updates for investors, shareholders and analysts">
<span class="label">Investors</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/investors/investors/Analyst-coverage-1920x680.jpg/jcr:content/Analyst-coverage-1920x680.jpg" width="548" height="280" class="lazyload" alt="Services and updates for investors, shareholders and analysts" />
</picture>
<div class="content">
<h4>Services and updates for investors, shareholders and analysts</h4>
<span class="link-btn">Learn more</span>
</div>
</a>
</article>
</div>
<div class="col-12 col-lg-4">
<article class="teaser bottom">
<a href="/about/careers.html" title="A culture that rewards individual talent and entrepreneurial spirit">
<span class="label">Careers</span>
<picture class="image">
<source data-srcset="" media="(max-width: 575px)">
<source data-srcset="" media="(max-width: 991px)">
<source data-srcset="" media="(max-width: 1599px)">
<source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg">
<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="A culture that rewards individual talent and entrepreneurial spirit" />
</picture>
<div class="content">
<h4>A culture that rewards individual talent and entrepreneurial spirit</h4>
<span class="link-btn">Explore opportunities</span>
</div>
</a>
</article>
</div>
</div>
</div>
</section>
</div>
