{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|Private Banking
{% endblock %}

{% block content %}
<body data-context-path="" class="">
  <div class="content-wrapper">
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="#mobile-menu" class="mobile-btn d-xl-none"><i class="icon-efg-menu"></i>Menu</a>
            <div class="header-logo">
              <a href="/"><img src="/doc/jcr:20d2bbea-fd6a-43bb-b7cc-da5d05ae1020/logo-efg.svg/lang:en/logo-efg.svg" alt="EFG" /></a>
            </div>
            <nav class="header-nav d-none d-xl-block">
              <ul>
                <li class="active">
                  <a href="/private-banking.html" title="PRIVATE BANKING">Private Banking</a>
                  <a class="icon-efg-triangle-down d-none"></a>
                  <div class="submenu">
                    <ul>
                      <li class="sub">
                        <a href="/private-banking/investment-solutions.html" title="INVESTMENT SOLUTIONS">
                          Investment Solutions
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="sub">
                        <a href="/private-banking/wealth-services.html" title="WEALTH SERVICES">
                          Wealth Services
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/private-banking/credit-and-financing.html" title="CREDIT AND FINANCING">
                          Credit and Financing
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/private-banking/banking-services.html" title="BANKING SERVICES">
                          Banking services
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/private-banking/independent-asset-managers.html" title="INDEPENDENT ASSET MANAGERS">
                          Independent Asset Managers
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="sub">
                        <a class="text-transform-none" href="/private-banking/ebanking.html" title="eBanking">
                          eBanking
                        </a>
                        <span class="d-none"></span>
                      </li>
                    </ul>
                    <div>
                      <ul>
                        <li class="">
                          <a href="/private-banking/investment-solutions/advisory-solutions.html" title="ADVISORY SOLUTIONS">Advisory Solutions</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/investment-solutions/discretionary-mandates.html" title="DISCRETIONARY MANDATES">Discretionary Mandates</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/investment-solutions/alternative-and-private-market-investments.html" title="ALTERNATIVE & PRIVATE MARKET INVESTMENTS">Alternative & private market investments</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/investment-solutions/advanced-investment-solutions.html" title="ADVANCED INVESTMENT SOLUTIONS">Advanced Investment Solutions</a>
                        </li>
                      </ul>
                      <ul>
                        <li class="">
                          <a href="/private-banking/wealth-services/wealth-solutions.html" title="WEALTH SOLUTIONS">Wealth Solutions</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/wealth-services/wealth-planning.html" title="WEALTH PLANNING">Wealth Planning</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/wealth-services/fund-services.html" title="FUND SERVICES">Fund Services</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/wealth-services/trust-services.html" title="TRUST SERVICES">Trust Services</a>
                        </li>
                      </ul>
                      <ul>
                        <li class="">
                          <a href="/private-banking/ebanking/efg-mobile-banking.html" title="EFG BANKING">EFG Banking</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/ebanking/efg-access.html" title="EFG ACCESS">EFG access</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/ebanking/security.html" title="SECURITY">Security</a>
                        </li>
                        <li class="">
                          <a href="/private-banking/ebanking/documentation.html" title="DOCUMENTATION">Documentation</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="/asset-management.html" title="ASSET MANAGEMENT">Asset Management</a>
                  <a class="icon-efg-triangle-down d-none"></a>
                  <div class="submenu">
                    <ul>
                      <li class="">
                        <a href="/asset-management/investment-process.html" title="INVESTMENT PROCESS">
                          Investment process
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a target="_blank" href="/asset-management/new-capital-funds.html" title="NEW CAPITAL FUNDS">
                          New Capital Funds<i class="icon-efg-external-link ms-2"></i>
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/asset-management/responsible-investing.html" title="RESPONSIBLE INVESTING">
                          Responsible investing
                        </a>
                        <span class="d-none"></span>
                      </li>
                    </ul>
                    <div>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="/insights.html" title="INSIGHTS">Insights</a>
                </li>
                <li>
                  <a href="/about.html" title="ABOUT">About</a>
                  <a class="icon-efg-triangle-down d-none"></a>
                  <div class="submenu">
                    <ul>
                      <li class="">
                        <a href="/about/our-philosophy.html" title="OUR PHILOSOPHY">
                          Our philosophy
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/about/our-history.html" title="OUR HISTORY">
                          Our history
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="sub">
                        <a href="/about/our-organization.html" title="OUR ORGANISATION">
                          Our organisation
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/about/our-locations.html" title="OUR LOCATIONS">
                          Our locations
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="sub">
                        <a href="/about/our-sponsorships.html" title="OUR SPONSORSHIPS">
                          Our sponsorships
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/about/careers.html" title="CAREERS">
                          Careers
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/about/sustainability.html" title="SUSTAINABILITY">
                          Sustainability
                        </a>
                        <span class="d-none"></span>
                      </li>
                    </ul>
                    <div>
                      <ul>
                        <li class="">
                          <a href="/about/our-organization/board-of-directors.html" title="BOARD OF DIRECTORS ">Board of Directors </a>
                        </li>
                        <li class="">
                          <a href="/about/our-organization/executive-committee.html" title="EXECUTIVE COMMITTEE">Executive committee</a>
                        </li>
                        <li class="">
                          <a href="/about/our-organization/global-business-committee.html" title="GLOBAL BUSINESS COMMITTEE">Global business committee</a>
                        </li>
                        <li class="">
                          <a href="/about/our-organization/auditor.html" title="AUDITOR">Auditor</a>
                        </li>
                        <li class="">
                          <a href="/about/our-organization/regulations.html" title="REGULATIONS">Regulations</a>
                        </li>
                      </ul>
                      <ul>
                        <li class="">
                          <a href="/about/our-sponsorships/sailing.html" title="SAILING">Sailing</a>
                        </li>
                        <li class="">
                          <a href="/about/our-sponsorships/jazz.html" title="JAZZ">Jazz</a>
                        </li>
                        <li class="">
                          <a href="/about/our-sponsorships/arts-and-lifestyle.html" title="ARTS & LIFESTYLE">Arts & Lifestyle</a>
                        </li>
                        <li class="">
                          <a href="/about/our-sponsorships/talent-development.html" title="TALENT DEVELOPMENT">Talent Development</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="/media.html" title="MEDIA">Media</a>
                </li>
                <li>
                  <a href="/investors.html" title="INVESTORS">Investors</a>
                  <a class="icon-efg-triangle-down d-none"></a>
                  <div class="submenu">
                    <ul>
                      <li class="">
                        <a href="/investors/financial-results.html" title="FINANCIAL RESULTS">
                          Financial results
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/financial-calendar-and-events.html" title="FINANCIAL CALENDAR AND EVENTS">
                          Financial calendar and events
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/presentations.html" title="PRESENTATIONS">
                          Presentations
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/share-information.html" title="SHARE INFORMATION">
                          Share Information
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/annual-general-meeting.html" title="ANNUAL GENERAL MEETING">
                          Annual General Meeting
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/rating-and-instruments.html" title="RATINGS AND INSTRUMENTS">
                          Ratings and instruments
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/analyst-coverage.html" title="ANALYST COVERAGE">
                          Analyst coverage
                        </a>
                        <span class="d-none"></span>
                      </li>
                      <li class="">
                        <a href="/investors/share-repurchase.html" title="SHARE REPURCHASE">
                          Share repurchase
                        </a>
                        <span class="d-none"></span>
                      </li>
                    </ul>
                    <div>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="/contact.html" title="CONTACT">Contact</a>
                </li>
                <li>
                  <a href="/errors.html" title=""></a>
                </li>
              </ul>
            </nav>
            <div class="header-meta">
              <div class="header-search">
                <a href="/search.html" class="search-btn"><i class="icon-efg-search"></i>Search</a>
              </div>
              <a href="#" class="group-btn d-none d-xl-block">
                <ul>
                  <li>
                    Global
                  </li>
                  <li class="text-uppercase">en</li>
                </ul>
              </a>
              <a href="https://ebanking.efginternational.com/" target="_blank" class="btn d-none d-xl-block" title="eBanking"><i class="icon-efg-bank"></i>eBanking</a>
            </div>
          </div>
        </div>
      </div>
      <div class="group-layer d-none d-xl-block">
        <div class="container">
          <div class="row">
            <a href="#" class="btn group-layer-close">Close</a>
            <div class="col-7">
              <div class="group-customization">
                <div>
                  <h3>Personalise your content</h3>
                  <p>Let us know where you’re located so we can tailor our information to make your experience more relevant.</p>
                </div>
                <form class="form-change-site">
                  <fieldset>
                    <div>
                      <div class="form-field select site-country">
                        <select name="content_experience_country" id="content_experience_country">
                          <optgroup label="Countries">
                            <option value="" selected>Global</option>
                            <option value="CH">Switzerland</option>
                            <option value="GB">United Kingdom</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MC">Monaco</option>
                            <option value="US">United States</option>
                            <option value="BS">Bahamas</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="LI">Liechtenstein</option>
                            <option value="CY">Cyprus</option>
                            <option value="HK">Hong Kong</option>
                            <option value="SG">Singapore</option>
                          </optgroup>
                          <optgroup label="Group">
                            <option value="https://www.efgha.com ">Harris Allday</option>
                            <option value="https://www.newcapitalfunds.com">New Capital Funds</option>
                            <option value="https://www.shawandpartners.com.au">Shaw and Partners </option>
                          </optgroup>
                        </select>
                      </div>
                      <div class="form-field select site-language">
                        <select name="content_experience_lang" id="content_experience_lang">
                          <option value="/private-banking.html" selected> English </option><option value="/it/private-banking.html"> Italiano </option><option value="/de/private-banking.html"> Deutsch </option><option value="/fr/private-banking.html"> Français </option> </select>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-square">Submit<i class="icon-efg-line-arrow-right"></i></button>
                    </fieldset>
                  </form>
                </div>
              </div>
              <div class="col-5">
                <div class="group-contant">
                  <h6>Your regional contact:</h6>
                  <div class="address">
                    <ul>
                      <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
                      <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content">
        <section class="hero-main">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <nav class="breadcrumb">
                  <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><span>Private Banking</span></li>
                  </ul>
                </nav>
                <nav class="breadcrumb-mobile">
                  <a href="#"><i class="icon-efg-breadcrumb"></i><span>Private Banking</span><i class="icon-efg-arrow-down"></i></a>
                  <div>
                    <ul>
                      <li><a href="/">Homepage</a></li>
                      <li><span>Private Banking</span></li>
                    </ul>
                    <a href="#" class="btn close">Close</a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="hero-content lazyload" data-sizes="auto"
                data-bgset="/doc/jcr:9e437590-9548-410f-8cbe-16de27ead6e3/wealth-1920x680.jpg/lang:en/wealth-1920x680.jpg [(max-width: 991px)] | /doc/jcr:9e437590-9548-410f-8cbe-16de27ead6e3/wealth-1920x680.jpg/lang:en/wealth-1920x680.jpg [(max-width: 1599px)] | /doc/jcr:9e437590-9548-410f-8cbe-16de27ead6e3/wealth-1920x680.jpg/lang:en/wealth-1920x680.jpg"
                >
                <div>
                  <h1>Private Banking</h1>
                  <p>Comprehensive investment, wealth and credit solutions for private and institutional clients</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="">
        <div class="container">
          <div class="row section-headline">
            <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
              <h2>Your goals, our priorities</h2>
              <p class="indent">Our clients always come first at EFG. Your personal Client Relationship Officer is with you every step of the way – when it comes to analysing specific questions, seeing the bigger picture or considering financial opportunities and risks. Our objective is always to obtain a clear understanding of your needs and to work with you to define long-term perspectives so that we can offer you optimal advice and respond rapidly and effectively, even if circumstances were to change suddenly.</p>
            </div>
          </div>
        </div>
      </section><section>
        <div class="container">
          <div class="row section-headline mb-med">
            <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
              <h2>Your needs, our services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-xl-10 mx-auto">
              <div class="teaser-wrapper-block teaser3">
                <article class="teaser above">
                  <a href="/private-banking/investment-solutions.html" title="Investment Solutions">
                    <picture class="image">
                      <source data-srcset="" media="(max-width: 575px)">
                        <source data-srcset="" media="(max-width: 768px)">
                          <source data-srcset="" media="(max-width: 1439px)">
                            <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Investment Solutions" />
                            </picture>
                            <div class="content">
                              <h3>Investment Solutions</h3>
                              <p>Discretionary and advisory services to find the right combination of investments to help protect and grow your wealth.</p>
                              <span class="link-btn">Learn more</span>
                            </div>
                          </a>
                        </article>
                        <article class="teaser above">
                          <a href="/private-banking/wealth-services.html" title="Wealth Services">
                            <picture class="image">
                              <source data-srcset="" media="(max-width: 575px)">
                                <source data-srcset="" media="(max-width: 768px)">
                                  <source data-srcset="" media="(max-width: 1439px)">
                                    <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="452" height="335" class="lazyload" alt="Wealth Services" />
                                    </picture>
                                    <div class="content">
                                      <h3>Wealth Services</h3>
                                      <p>Specialist services that can support you in the structuring, protection and transferral of wealth for the long term.</p>
                                      <span class="link-btn">Learn more</span>
                                    </div>
                                  </a>
                                </article>
                                <article class="teaser above">
                                  <a href="/private-banking/credit-and-financing.html" title="Credit &amp; Financing">
                                    <picture class="image">
                                      <source data-srcset="" media="(max-width: 575px)">
                                        <source data-srcset="" media="(max-width: 768px)">
                                          <source data-srcset="" media="(max-width: 1439px)">
                                            <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg">
                                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg" width="452" height="335" class="lazyload" alt="Credit &amp; Financing" />
                                            </picture>
                                            <div class="content">
                                              <h3>Credit &amp; Financing</h3>
                                              <p>Specialist advice and financial solutions to support property and investment, both home and abroad.</p>
                                              <span class="link-btn">Learn more</span>
                                            </div>
                                          </a>
                                        </article>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section><section>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-12 col-xl-10 mx-auto">
                                      <div class="teaser-wrapper-block teaser3">
                                        <article class="teaser above">
                                          <a href="/private-banking/banking-services.html" title="Banking services">
                                            <picture class="image">
                                              <source data-srcset="" media="(max-width: 575px)">
                                                <source data-srcset="" media="(max-width: 768px)">
                                                  <source data-srcset="" media="(max-width: 1439px)">
                                                    <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/wealth-1920x680.jpg/jcr:content/wealth-1920x680.jpg">
                                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/wealth-1920x680.jpg/jcr:content/wealth-1920x680.jpg" width="452" height="335" class="lazyload" alt="Banking services" />
                                                    </picture>
                                                    <div class="content">
                                                      <h3>Banking services</h3>
                                                      <p>Accounts and savings, foreign exchange and treasury, valuation and custody.</p>
                                                      <span class="link-btn">Learn more</span>
                                                    </div>
                                                  </a>
                                                </article>
                                                <article class="teaser above">
                                                  <a href="/private-banking/independent-asset-managers.html" title="Services for Independent Asset Managers">
                                                    <picture class="image">
                                                      <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/IAM_Web_HeaderA_1920x680px.jpg/jcr:content/IAM_Web_HeaderA_1920x680px.jpg" media="(max-width: 575px)">
                                                        <source data-srcset="/.imaging/mte/efg-revamp/1376x800/dam/efg/private-banking/IAM_Web_HeaderA_1920x680px.jpg/jcr:content/IAM_Web_HeaderA_1920x680px.jpg" media="(max-width: 768px)">
                                                          <source data-srcset="/.imaging/mte/efg-revamp/352x355/dam/efg/private-banking/IAM_Web_HeaderA_1920x680px.jpg/jcr:content/IAM_Web_HeaderA_1920x680px.jpg" media="(max-width: 1439px)">
                                                            <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/IAM_Web_HeaderA_1920x680px.jpg/jcr:content/IAM_Web_HeaderA_1920x680px.jpg">
                                                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/IAM_Web_HeaderA_1920x680px.jpg/jcr:content/IAM_Web_HeaderA_1920x680px.jpg" width="452" height="335" class="lazyload" alt="Services for Independent Asset Managers" />
                                                            </picture>
                                                            <div class="content">
                                                              <h3>Services for Independent Asset Managers</h3>
                                                              <p>If you&#039;re looking for agility, practicality and flexibility, we&#039;re the right partner for you. </p>
                                                              <span class="link-btn">Learn more</span>
                                                            </div>
                                                          </a>
                                                        </article>
                                                        <article class="teaser above">
                                                          <a href="/private-banking/ebanking.html" title="eBanking ">
                                                            <picture class="image">
                                                              <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/private-banking/Ebanking/ebanking-818x620.jpg/jcr:content/ebanking-818x620.jpg" media="(max-width: 575px)">
                                                                <source data-srcset="/.imaging/mte/efg-revamp/1376x800/dam/efg/private-banking/Ebanking/ebanking-818x620.jpg/jcr:content/ebanking-818x620.jpg" media="(max-width: 768px)">
                                                                  <source data-srcset="/.imaging/mte/efg-revamp/352x355/dam/efg/private-banking/Ebanking/ebanking-818x620.jpg/jcr:content/ebanking-818x620.jpg" media="(max-width: 1439px)">
                                                                    <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/Ebanking/ebanking-818x620.jpg/jcr:content/ebanking-818x620.jpg">
                                                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/private-banking/Ebanking/ebanking-818x620.jpg/jcr:content/ebanking-818x620.jpg" width="452" height="335" class="lazyload" alt="eBanking " />
                                                                    </picture>
                                                                    <div class="content">
                                                                      <h3>eBanking </h3>
                                                                      <p>Quick and secure access to your finances whenever and wherever.</p>
                                                                      <span class="link-btn">Learn more</span>
                                                                    </div>
                                                                  </a>
                                                                </article>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </section>
                                                      <section class="bkg-light-grey overflow-hidden">
                                                        <div class="container">
                                                          <div class="row">
                                                            <div class="col-12">
                                                              <div class="side-component full align-top">
                                                                <div class="bkg-light-grey side-content">
                                                                  <h3>Solutions tailored to your needs</h3>
                                                                  <div class="text-article mt-base"><p>It starts with deep understanding and ends with a recommendation that is as individual as you are. Comprehensive, first class investment, wealth, and credit solutions delivered by a team empowered to make better decisions for their clients.</p>
                                                                  </div>
                                                                  <a href="/about/our-philosophy/our-approach.html" class="btn mt-20">Discover more</a>
                                                                </div>
                                                                <div class="side-image">
                                                                  <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/batch4/Organisation/Our_Approach/Our_Approach_Bar_Image_1680x541_72dpi.png/jcr:content/Our_Approach_Bar_Image_1680x541_72dpi.png"></div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </section>
                                                      <section class="overlying">
                                                        <div class="container">
                                                          <div class="row">
                                                            <div class="col-12">
                                                              <div class="contact-box">
                                                                <div class="content">
                                                                  <h3>It all starts with a conversation</h3>
                                                                  <p>Let&#039;s start ours and build something valuable today.</p>
                                                                  <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
                                                                  <ul>
                                                                    <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
                                                                    <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
                                                                  </ul>
                                                                </div>
                                                                <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Private_Banking/Private_Banking_Lets_Build_688x515_72dpi.png/jcr:content/Private_Banking_Lets_Build_688x515_72dpi.png"></div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </section>
                                                      <section class="bkg-dark mt-0 pt-more">
                                                        <div class="container">
                                                          <div class="row section-headline">
                                                            <div class="col-12 col-lg-10 mx-auto text-md-center">
                                                              <h2>Discover more</h2>
                                                              <p>From investment insights to expertly taillored services, find out how EFG can help you achieve your financial goals today.</p>
                                                            </div>
                                                          </div>
                                                          <div class="row teaser-wrapper">
                                                            <div class="col-12 col-lg-4">
                                                              <article class="teaser bottom">
                                                                <a href="/insights.html" title="Global trends, analysis and insights, brought to you by our expert team">
                                                                  <span class="label">Expert Market Insights</span>
                                                                  <picture class="image">
                                                                    <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg">
                                                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/homepage/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg/jcr:content/Home_HEADER_2_Getty-910739402_Desktop_1190x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Global trends, analysis and insights, brought to you by our expert team" />
                                                                    </picture>
                                                                    <div class="content">
                                                                      <h4>Global trends, analysis and insights, brought to you by our expert team</h4>
                                                                      <span class="link-btn">Sign up today</span>
                                                                    </div>
                                                                  </a>
                                                                </article>
                                                              </div>
                                                              <div class="col-12 col-lg-4">
                                                                <article class="teaser bottom">
                                                                  <a href="/about/careers.html" title="A culture that rewards individual talent and entrepreneurial spirit">
                                                                    <span class="label">Careers</span>
                                                                    <picture class="image">
                                                                      <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg">
                                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/about/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg/jcr:content/Careers_HEADER_GettyImages-1131724309_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="A culture that rewards individual talent and entrepreneurial spirit" />
                                                                      </picture>
                                                                      <div class="content">
                                                                        <h4>A culture that rewards individual talent and entrepreneurial spirit</h4>
                                                                        <span class="link-btn">Explore opportunities</span>
                                                                      </div>
                                                                    </a>
                                                                  </article>
                                                                </div>
                                                                <div class="col-12 col-lg-4">
                                                                  <article class="teaser bottom">
                                                                    <a href="/asset-management.html" title="Flexible solutions for Institutional investors and Intermediaries">
                                                                      <span class="label">Asset Management</span>
                                                                      <picture class="image">
                                                                        <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/asset-management/Asset_Management_Bar_Image_1680x541px_72dpi.png/jcr:content/Asset_Management_Bar_Image_1680x541px_72dpi.png">
                                                                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/asset-management/Asset_Management_Bar_Image_1680x541px_72dpi.png/jcr:content/Asset_Management_Bar_Image_1680x541px_72dpi.png" width="548" height="280" class="lazyload" alt="Flexible solutions for Institutional investors and Intermediaries" />
                                                                        </picture>
                                                                        <div class="content">
                                                                          <h4>Flexible solutions for Institutional investors and Intermediaries</h4>
                                                                          <span class="link-btn">Learn more</span>
                                                                        </div>
                                                                      </a>
                                                                    </article>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </section>
                                                          </div>
                                                          {% endblock %}
