{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/asset-management.html">Asset Management</a></li>
              <li><span>Investment process</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Investment process</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/asset-management.html">Asset Management</a></li>
                <li><span>Investment process</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/assetmanagement/process.jpg' %}"
          >
          <div>
            <h1>Our investment process</h1>
            <p>Learn about our investment strategy and process</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Thinking differently to stay ahead</h2>
        <p class="indent">Anticipating shifts in the economic cycle is crucial to investment strategy and asset allocation. </p>
      </div>
    </div>
  </div>
</section><section>
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-10 mx-auto">
        <h3>Our investment process</h3>
        <div class="text-article"><p><br />
          We closely monitor economic and policy developments in all the major developed and emerging economies in order to assess prospects for economic growth, inflation, interest rates, exchange rates, trade and capital flows, and sector balance sheets.</p>
          <p>We examine the major themes driving the global economy and asset classes, including equities, bonds, commodities and currencies assets and how they fit into our overall global asset allocation strategy.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto info-accordion-wrapper">
        <div class="row">
          <div class="col-12">
            <div class="info-accordion">
              <a href="#">
                1. Look for direction in macro-economic cycles
              </a>
              <div class="text-article">
                <p>We develop macro views across long, medium and short-term time horizons. Anticipating shifts in the economic cycle is crucial to our investment strategy and asset allocation.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                2. Evaluate market movement
              </a>
              <div class="text-article">
                <p>We look at behavioural biases, marginal investor movements and technical indicators in the market and identify inconsistencies between market consensus and our own views, based on proprietary research. &nbsp;We then test our hypothesis using forecasting models and the expertise of our senior portfolio managers. We have daily, weekly and monthly reviews of economic factors and look at how they are affecting movement in the markets.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                3. Set asset allocation
              </a>
              <div class="text-article">
                <p>We construct our asset allocation recommendations through a combination of strategic, thematic and tactical views based on our understanding of macro economic factors and, of course, the needs of our clients.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                4. Security selection
              </a>
              <div class="text-article">
                <p>We select the type and the actual investment which exploits the investment idea most efficiently. Our security selection includes mutual and hedge funds, bonds, equities, structured products and other alternative investments.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                5. Implementation and execution
              </a>
              <div class="text-article">
                <p>Portfolio managers implement research and security selection recommendations which best meet the needs of their client mandates. As multi-asset specialists we are able to find suitable investments that might be overlooked if we were restricted to one asset class or style. The firm has a strong sell discipline based upon market movement and valuation&nbsp;so the due diligence and evaluation process is on-going.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                6. Managing risk
              </a>
              <div class="text-article">
                <p>As active managers, although we cannot know the future, we can make informed estimates about every portfolio. The many dimensions of risk we monitor carefully, from liquidity to all metrics of variance, factor exposure and security contribution, allow us to share a deep understanding across teams. Along with industry tools, we continually innovate and improve our in-house risk models to ensure our portfolios are optimally positioned.</p>
              </div>
            </div>
          </div>
        </div> </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row teaser-wrapper">
        <div class="col-12 col-xl-10 mx-auto">
          <article class="teaser highlight ">
            <a href="/private-banking/investment-solutions.html" title="Future leading investment methodologies ">
              <div class="image position-relative">
                <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/assetmanagement/future.jpg' %}"></div>
              </div>
              <div class="content">
                <span class="label">
                </span>
                <div>
                  <h4>Future leading investment methodologies </h4>
                  <p>Entrepreneurial thinkers are behind the successful companies of tomorrow. Our Future Leaders methodology identifies visionary corporate leaders as a predictor of opportunity. Delivering smarter decisions and better outcomes.</p>
                  <span class="link-btn">Learn more</span>
                </div>
              </div>
            </a>
          </article>
        </div> </div>
      </div>
    </section>
    {% include 'itstart.html' %} {% endblock %}
