{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/asset-management.html">Asset Management</a></li>
              <li><span>Responsible investing</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Responsible investing</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/asset-management.html">Asset Management</a></li>
                <li><span>Responsible investing</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/assetmanagement/responsibleinvesting.jpg' %}"
          >
          <div>
            <h1>Responsible investing</h1>
            <p>Delivering the right returns, the right way</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>An integrated approach for responsible investing</h2>
        <p class="indent">Investing in a sustainable and responsible manner has rapidly become a much more important consideration for banks, asset managers, their clients, shareholders and society at large. At EFG we believe when selecting and managing investments we must take ESG criteria into account. Despite its many challenges we see integration as the most sensible approach to meet the requirements of our investors and the broader aims of the economy, the environment and society. Although this will be an evolving journey, it is our intention to clarify our approach to this significant topic through the selection of the below explanatory pieces.</p>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Our commitment </h2>
        <p class="indent">Our commitment is demonstrated through being a signatory to the Principles for Responsible Investment (PRI) and the Swiss Sustainable Finance (SSF) association (through EFG Switzerland). These mutually enriching partnerships collectively define, assess and face the challenges and opportunities linked to the wide range of issues covered by ESG criteria.</p>
      </div>
    </div>
  </div>
</section><section>
  <div class="container">
    <div class="row section-headline mb-med">
      <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
        <h2>Our reports - Sustainability Related Disclosures</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="teaser-wrapper-block teaser3">
          <article class="teaser above">
            <a href="/asset-management/responsible-investing/efgam-policy.html" title="EFGAM’S Responsible Investing Policy">
              <picture class="image">
                <source data-srcset="" media="(max-width: 575px)">
                  <source data-srcset="" media="(max-width: 768px)">
                    <source data-srcset="" media="(max-width: 1439px)">
                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_EFGAM_Policy_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_EFGAM_Policy_Bar_Image_1680x541_72dpi.png">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_EFGAM_Policy_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_EFGAM_Policy_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="EFGAM’S Responsible Investing Policy" />
                      </picture>
                      <div class="content">
                        <h3>EFGAM’S Responsible Investing Policy</h3>
                        <p>Our investment approach is rooted in proprietary fundamental analysis. Environmental, social and governance factors can improve our understanding of the companies we invest in, and bring positive change for society. Read on to learn about the framework.</p>
                        <span class="link-btn">Learn more</span>
                      </div>
                    </a>
                  </article>
                  <article class="teaser above">
                    <a href="/asset-management/responsible-investing/Approach-to-ESG-Positioning-and-Sustainable-Investing.html" title="Approach to ESG Promotion &amp; Sustainable Investing">
                      <picture class="image">
                        <source data-srcset="" media="(max-width: 575px)">
                          <source data-srcset="" media="(max-width: 768px)">
                            <source data-srcset="" media="(max-width: 1439px)">
                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Approach to ESG Promotion &amp; Sustainable Investing" />
                              </picture>
                              <div class="content">
                                <h3>Approach to ESG Promotion &amp; Sustainable Investing</h3>
                                <p>We believe that ESG data can provide valuable insights to stakeholders especially in the long run, and that having our proprietary platform is a major advantage since we can rapidly and independently triangulate data by leveraging EFGAM know-how.</p>
                                <span class="link-btn">Learn more</span>
                              </div>
                            </a>
                          </article>
                          <article class="teaser above">
                            <a href="/asset-management/responsible-investing/greener-economy-tcfd-reporting.html" title="TCFD reporting">
                              <picture class="image">
                                <source data-srcset="" media="(max-width: 575px)">
                                  <source data-srcset="" media="(max-width: 768px)">
                                    <source data-srcset="" media="(max-width: 1439px)">
                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Greener_Economy_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="TCFD reporting" />
                                      </picture>
                                      <div class="content">
                                        <h3>TCFD reporting</h3>
                                        <p>This report covers each of the TCFD core elements in turn, setting out how EFGAM considers climate-related risks across its governance, strategy, risk management and the metrics used to monitor and manage those risks.</p>
                                        <span class="link-btn">Learn more</span>
                                      </div>
                                    </a>
                                  </article>
                                  <article class="teaser above">
                                    <a href="/asset-management/responsible-investing/engagement.html" title="Engagement report ">
                                      <picture class="image">
                                        <source data-srcset="" media="(max-width: 575px)">
                                          <source data-srcset="" media="(max-width: 768px)">
                                            <source data-srcset="" media="(max-width: 1439px)">
                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Engagement_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Engagement_Bar_Image_1680x541_72dpi.png">
                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Engagement_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Engagement_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Engagement report " />
                                              </picture>
                                              <div class="content">
                                                <h3>Engagement report </h3>
                                                <p>Now more than ever, engagement is a compelling way to create dialogue between stakeholders to achieve a common goal, our survival. This report presents our objectives and engagement activities to prevent risks that could jeopardise financial stability.</p>
                                                <span class="link-btn">Learn more</span>
                                              </div>
                                            </a>
                                          </article>
                                          <article class="teaser above">
                                            <a href="/asset-management/responsible-investing/efgam-s-esg-integration-approach.html" title="Integration approach">
                                              <picture class="image">
                                                <source data-srcset="" media="(max-width: 575px)">
                                                  <source data-srcset="" media="(max-width: 768px)">
                                                    <source data-srcset="" media="(max-width: 1439px)">
                                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_ESG_Integration_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_ESG_Integration_Bar_Image_1680x541_72dpi.png">
                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_ESG_Integration_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_ESG_Integration_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Integration approach" />
                                                      </picture>
                                                      <div class="content">
                                                        <h3>Integration approach</h3>
                                                        <p>We believe the integration of ESG factors can improve our understanding of the companies in which we invest. More broadly, paying regard to ESG issues can bring positive change for society and the environment. We recognise, however, that ESG ratings are not perfect and have room to improve.</p>
                                                        <span class="link-btn">Learn more</span>
                                                      </div>
                                                    </a>
                                                  </article>
                                                  <article class="teaser above">
                                                    <a href="/asset-management/responsible-investing/overcoming-hurdles.html" title="Overcoming hurdles">
                                                      <picture class="image">
                                                        <source data-srcset="" media="(max-width: 575px)">
                                                          <source data-srcset="" media="(max-width: 768px)">
                                                            <source data-srcset="" media="(max-width: 1439px)">
                                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Overcoming_Hurdles_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Overcoming_Hurdles_Bar_Image_1680x541_72dpi.png">
                                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Overcoming_Hurdles_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Overcoming_Hurdles_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Overcoming hurdles" />
                                                              </picture>
                                                              <div class="content">
                                                                <h3>Overcoming hurdles</h3>
                                                                <p>Jason Jay, Director of the Sustainability Initiative at MIT Sloan and one of EFGAM’s Future Leaders panellists, discusses the three biggest hurdles to achieving a more widespread adoption of sustainable and responsible investing, and our approach to overcoming them.</p>
                                                                <span class="link-btn">Learn more</span>
                                                              </div>
                                                            </a>
                                                          </article>
                                                          <article class="teaser above">
                                                            <a href="/asset-management/responsible-investing/efgam-voting-guidelines.html" title="Voting guidelines">
                                                              <picture class="image">
                                                                <source data-srcset="" media="(max-width: 575px)">
                                                                  <source data-srcset="" media="(max-width: 768px)">
                                                                    <source data-srcset="" media="(max-width: 1439px)">
                                                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_EFGAM_Voting_Guidelines_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_EFGAM_Voting_Guidelines_Bar_Image_1680x541_72dpi.png">
                                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_EFGAM_Voting_Guidelines_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_EFGAM_Voting_Guidelines_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Voting guidelines" />
                                                                      </picture>
                                                                      <div class="content">
                                                                        <h3>Voting guidelines</h3>
                                                                        <p>EFGAM has an important role to play in improving shareholder value and corporate governance through our proxy voting policies. We developed these guidelines to summarise our positions on various issues of concern and indicate how we generally vote shares. </p>
                                                                        <span class="link-btn">Read guidelines</span>
                                                                      </div>
                                                                    </a>
                                                                  </article>
                                                                  <article class="teaser above">
                                                                    <a href="/asset-management/responsible-investing/esg-rating-methodology.html" title="ESG rating methodology">
                                                                      <picture class="image">
                                                                        <source data-srcset="" media="(max-width: 575px)">
                                                                          <source data-srcset="" media="(max-width: 768px)">
                                                                            <source data-srcset="" media="(max-width: 1439px)">
                                                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_ESG_Rating_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_ESG_Rating_Bar_Image_1680x541_72dpi.png">
                                                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_ESG_Rating_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_ESG_Rating_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="ESG rating methodology" />
                                                                              </picture>
                                                                              <div class="content">
                                                                                <h3>ESG rating methodology</h3>
                                                                                <p>ESG data integration is designed to improve our understanding of the companies we invest in and have a positive impact on the environment we live in. Here, we define our guidelines, approach to researching data, the framework, KPIs, and how we produce a rating. </p>
                                                                                <span class="link-btn">Read guidelines</span>
                                                                              </div>
                                                                            </a>
                                                                          </article>
                                                                          <article class="teaser above">
                                                                            <a href="/asset-management/responsible-investing/sovereign-rating-methodology.html" title="Sovereign rating methodology">
                                                                              <picture class="image">
                                                                                <source data-srcset="" media="(max-width: 575px)">
                                                                                  <source data-srcset="" media="(max-width: 768px)">
                                                                                    <source data-srcset="" media="(max-width: 1439px)">
                                                                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Sovereign_Rating_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Sovereign_Rating_Bar_Image_1680x541_72dpi.png">
                                                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_Sovereign_Rating_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_Sovereign_Rating_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Sovereign rating methodology" />
                                                                                      </picture>
                                                                                      <div class="content">
                                                                                        <h3>Sovereign rating methodology</h3>
                                                                                        <p>Discover our approach to analysing ESG risks usually overlooked by normal sovereign ratings. Here, we explain our research methodology, outline the framework we use to build an ESG rating model, how we selected relevant data and more. </p>
                                                                                        <span class="link-btn">Read guidelines</span>
                                                                                      </div>
                                                                                    </a>
                                                                                  </article>
                                                                                  <article class="teaser above">
                                                                                    <a href="/asset-management/responsible-investing/frequently-asked-questions.html" title="Frequently asked questions">
                                                                                      <picture class="image">
                                                                                        <source data-srcset="" media="(max-width: 575px)">
                                                                                          <source data-srcset="" media="(max-width: 768px)">
                                                                                            <source data-srcset="" media="(max-width: 1439px)">
                                                                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_FAQs_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_FAQs_Bar_Image_1680x541_72dpi.png">
                                                                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Asset_Management_Bar_Headers/Asset_Management_Responsible_Investing_FAQs_Bar_Image_1680x541_72dpi.png/jcr:content/Asset_Management_Responsible_Investing_FAQs_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Frequently asked questions" />
                                                                                              </picture>
                                                                                              <div class="content">
                                                                                                <h3>Frequently asked questions</h3>
                                                                                                <p>Get answers to questions you have on our approach and philosophy, analysis, regulation and financial standards. If you can&#039;t find answers to your queries here, please don&#039;t hesitate to get in touch.</p>
                                                                                                <span class="link-btn">Read guidelines</span>
                                                                                              </div>
                                                                                            </a>
                                                                                          </article>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </section><section>
                                                                                  <div class="container">
                                                                                    <div class="row section-headline mb-small">
                                                                                      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
                                                                                        <h2>Important documents</h2>
                                                                                      </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                      <div class="col-12 col-xl-10 mx-auto">
                                                                                        <article class="table-download-wrapper">
                                                                                          <table class="table-download-desktop">
                                                                                            <tbody>
                                                                                              <tr>
                                                                                                <th>Documents</th>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                  <p>&nbsp;</p>
                                                                                                  <p><a href="/doc/jcr:a6601b55-4165-4337-986e-c1acea26d209/lang:en/EFGAM%20engagement%20policy%202021_final.pdfEFGAM%20engagement%20policy%202021_final.pdfEFGAM engagement policy 2021_final.pdfEFGAM engagement policy 2021_final.pdf" target="_blank">Engagement Policy</a></p>
                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                  <p>&nbsp;</p>
                                                                                                  <p><a href="/doc/jcr:b6faf9cd-c85a-4ed0-a4a2-babb624ccd2b/lang:en/Sustainability%20Risk%20Integration%20Policy.pdfSustainability%20Risk%20Integration%20Policy.pdfSustainability Risk Integration Policy.pdfSustainability Risk Integration Policy.pdf">Sustainability risk Integration Policy (art.3 SFDR)</a></p>
                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                  <p>&nbsp;</p>
                                                                                                  <p><a href="/doc/jcr:93803745-6982-435d-961d-1306867a7958/lang:en/Sustainable%20Remuneration%20Policy.pdfSustainable%20Remuneration%20Policy.pdfSustainable Remuneration Policy.pdfSustainable Remuneration Policy.pdf">Sustainable Remuneration Policy (art. 5 SFDR)</a></p>
                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                  <p>&nbsp;</p>
                                                                                                  <p><a href="/doc/jcr:164f8a55-2200-45c7-b895-40c098e77344/lang:en/EFGAM%20Art.10%20-%20ESG%20Promotion%20Policy.pdfEFGAM%20Art.10%20-%20ESG%20Promotion%20Policy.pdfEFGAM Art.10 - ESG Promotion Policy.pdfEFGAM Art.10 - ESG Promotion Policy.pdf">ESG Promotion Policy (art. 10 SFDR)</a></p>
                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                  <p>&nbsp;</p>
                                                                                                  <p><a href="/doc/jcr:4d40387d-2048-48e0-9d18-7bdc24462309/lang:en/PaI%20Statement%20OPT%20-%20OUT%20-%20Website%20disclosure%20entity%20level%20art%204%20SFDR%20document.pdfPaI Statement OPT - OUT - Website disclosure entity level art 4 SFDR document.pdf">PAI Opt Out</a></p>
                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <td>
                                                                                                  <p>&nbsp;</p>
                                                                                                  <p><a href="https://www.newcapital.com/responsible-investing.html">Article 8 Disclosures</a></p>
                                                                                                </td>
                                                                                              </tr> </tbody>
                                                                                            </table>
                                                                                            <div class="table-download-mobile">
                                                                                              <div>Important documents</div>
                                                                                              <div class="table-download-component">
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span></a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span>
                                                                                                    <a href="/doc/jcr:a6601b55-4165-4337-986e-c1acea26d209/lang:en/EFGAM%20engagement%20policy%202021_final.pdfEFGAM%20engagement%20policy%202021_final.pdfEFGAM engagement policy 2021_final.pdfEFGAM engagement policy 2021_final.pdf" target="_blank">Engagement Policy</a>
                                                                                                  </a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span>
                                                                                                    <a href="/doc/jcr:b6faf9cd-c85a-4ed0-a4a2-babb624ccd2b/lang:en/Sustainability%20Risk%20Integration%20Policy.pdfSustainability%20Risk%20Integration%20Policy.pdfSustainability Risk Integration Policy.pdfSustainability Risk Integration Policy.pdf">Sustainability risk Integration Policy (art.3 SFDR)</a>
                                                                                                  </a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span>
                                                                                                    <a href="/doc/jcr:93803745-6982-435d-961d-1306867a7958/lang:en/Sustainable%20Remuneration%20Policy.pdfSustainable%20Remuneration%20Policy.pdfSustainable Remuneration Policy.pdfSustainable Remuneration Policy.pdf">Sustainable Remuneration Policy (art. 5 SFDR)</a>
                                                                                                  </a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span>
                                                                                                    <a href="/doc/jcr:164f8a55-2200-45c7-b895-40c098e77344/lang:en/EFGAM%20Art.10%20-%20ESG%20Promotion%20Policy.pdfEFGAM%20Art.10%20-%20ESG%20Promotion%20Policy.pdfEFGAM Art.10 - ESG Promotion Policy.pdfEFGAM Art.10 - ESG Promotion Policy.pdf">ESG Promotion Policy (art. 10 SFDR)</a>
                                                                                                  </a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span>
                                                                                                    <a href="/doc/jcr:4d40387d-2048-48e0-9d18-7bdc24462309/lang:en/PaI%20Statement%20OPT%20-%20OUT%20-%20Website%20disclosure%20entity%20level%20art%204%20SFDR%20document.pdfPaI Statement OPT - OUT - Website disclosure entity level art 4 SFDR document.pdf">PAI Opt Out</a>
                                                                                                  </a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                  <a href="#" class="table-download-head"><span>Documents</span>
                                                                                                    <a href="https://www.newcapital.com/responsible-investing.html">Article 8 Disclosures</a>
                                                                                                  </a>
                                                                                                  <div class="table-download-content">
                                                                                                    <ul>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                      <li>
                                                                                                        <p></p>
                                                                                                      </li>
                                                                                                    </ul>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </article>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </section><section>
                                                                                    <div class="container">
                                                                                      <div class="row">
                                                                                        <div class="col-12 col-xl-10 mx-auto">
                                                                                          <div class="teaser-wrapper-block teaser1">
                                                                                            <article class="teaser above">
                                                                                              <a href="/about/sustainability.html" title="Our Approach to Sustainability">
                                                                                                
                                                                                                        <div class="content">
                                                                                                          <h3>Our Approach to Sustainability</h3>
                                                                                                          <p>Our primary goal at EFG is to create profitable and sustainable growth for the benefit of our clients, shareholders, employees and society as a whole. We strive to be a reliable and professional financial partner and an attractive employer. We also take account of social and environmental aspects when conducting our business to ensure the prosperity of future generations.</p>
                                                                                                          <span class="link-btn">Learn more</span>
                                                                                                        </div>
                                                                                                      </a>
                                                                                                    </article>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </section>
                                                                                          <section>
                                                                                            <div class="container">
                                                                                              <div class="row">
                                                                                                <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
                                                                                                  <article class="text-article">
                                                                                                    <h3>ESG in investing</h3>
                                                                                                    <p>Listen to our Chief Investment Officer, Moz Afzal and Jason Jay from MIT Sloane in conversation discussing the importance of and future for ESG in investing.</p>
                                                                                                  </article>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </section>

                                                                                          <section>
                                                                                            <div class="container">
                                                                                              <div class="row">
                                                                                                <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
                                                                                                  <article class="text-article">
                                                                                                    <p>&quot;EFG Beyond The Benchmark Podcast: Jason Jay on ESG In Investing&rsquo;&quot;.</p>
                                                                                                    <p>&nbsp;</p>
                                                                                                  </article>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </section>
                                                                                          ><section>
                                                                                            <div class="container">
                                                                                              <div class="row">
                                                                                                <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
                                                                                                  <div class="quote-component">
                                                                                                    <h4>“ EFG has a thoughtful and sensible approach to ESG scoring and integration in the investment process. ”</h4>
                                                                                                    <p>Jason Jay, Director of the Sustainability Initiative at MIT, EFG Future Leader panelist</p>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </section>
                                                                                          <section>
                                                                                            <div class="container">
                                                                                              <div class="row">
                                                                                                <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
                                                                                                  <article class="text-article">
                                                                                                    <h3>The sustainability journey</h3>
                                                                                                    <p>Senior Lecturer at MIT Sloan School of Management and EFG Future panellist, Jason Jay discusses The journey of integrating sustainability and ESG into the business world began a decade or so ago but there are still important hurdles to overcome.</p>
                                                                                                    <p>To find out more about our EFG Future Leaders panel please visit our dedicated website <a href="http://efgfutureleaderspanel.com" target="_blank">efgfutureleaderspanel.com</a>.<br />
                                                                                                      &nbsp;</p>
                                                                                                    </article>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </section>
                                                                                            <s
                                                                                            {% include 'itstart.html' %}{% endblock %}
