{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/ebanking.html">eBanking</a></li>
              <li><span>Documentation</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Documentation</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/ebanking.html">eBanking</a></li>
                <li><span>Documentation</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:41f16fb2-096b-46fa-9f3b-c75cb7ea6b10/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png/lang:en/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png [(max-width: 991px)] | /doc/jcr:41f16fb2-096b-46fa-9f3b-c75cb7ea6b10/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png/lang:en/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png [(max-width: 1599px)] | /doc/jcr:41f16fb2-096b-46fa-9f3b-c75cb7ea6b10/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png/lang:en/eBanking_Documentation_Bar_Image_1680x541px_72dpi.png"
          >
          <div>
            <h1>eBanking documentation</h1>
            <p>Always available eBanking support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Everything you need to know about EFG eBanking</h2>
        <p class="indent">Learn how to take advantage of quick and secure access to your finances, wherever you are, track accounts, make payments and analyse a wide range of information on your assets.</p>
      </div>
    </div>
  </div>
</section><section>
  <div class="container">
    <div class="row section-headline mb-med">
      <div class="col-12 col-lg-8 col-xl-11 offset-xl-1">
        <h2>Helpful guides</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <div class="teaser-wrapper-block teaser3">
          <article class="teaser above">
            <a href="/private-banking/ebanking/documentation/user-guide-for-clients.html" title="EFG eBanking user guides">
              <picture class="image">
                <source data-srcset="" media="(max-width: 575px)">
                  <source data-srcset="" media="(max-width: 768px)">
                    <source data-srcset="" media="(max-width: 1439px)">
                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/eBanking/EFG_Mobile_Banking_Guide/EFG_Mobile_Banking_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Mobile_Banking_Guide_Bar_Image_1680x541px_72dpi.png">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/eBanking/EFG_Mobile_Banking_Guide/EFG_Mobile_Banking_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Mobile_Banking_Guide_Bar_Image_1680x541px_72dpi.png" width="452" height="335" class="lazyload" alt="EFG eBanking user guides" />
                      </picture>
                      <div class="content">
                        <h3>EFG eBanking user guides</h3>
                        <p>Get set up, set preferences and access support and make the most of your online account. </p>
                        <span class="link-btn">View now</span>
                      </div>
                    </a>
                  </article>
                  <article class="teaser above">
                    <a href="/private-banking/ebanking/documentation/soft-token-activation.html" title="Soft token activation quick guide">
                      <picture class="image">
                        <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png/jcr:content/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png" media="(max-width: 575px)">
                          <source data-srcset="/.imaging/mte/efg-revamp/1376x800/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png/jcr:content/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png" media="(max-width: 768px)">
                            <source data-srcset="/.imaging/mte/efg-revamp/352x355/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png/jcr:content/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png" media="(max-width: 1439px)">
                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png/jcr:content/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png">
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png/jcr:content/Soft_Token_Activation_Bar_Image_1680x541_72dpi.png" width="452" height="335" class="lazyload" alt="Soft token activation quick guide" />
                              </picture>
                              <div class="content">
                                <h3>Soft token activation quick guide</h3>
                                <p>View a step-by-step process to install soft token on your smartphone. </p>
                                <span class="link-btn">View now</span>
                              </div>
                            </a>
                          </article>
                          <article class="teaser above">
                            <a href="/private-banking/ebanking/documentation/how-to-change-your-ebanking-password.html" title="How to change your eBanking password ">
                              <picture class="image">
                                <source data-srcset="" media="(max-width: 575px)">
                                  <source data-srcset="" media="(max-width: 768px)">
                                    <source data-srcset="" media="(max-width: 1439px)">
                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/eBanking/How_To_Change/How_To_Change_Bar_Image_1680x541px_72dpi.png/jcr:content/How_To_Change_Bar_Image_1680x541px_72dpi.png">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/eBanking/How_To_Change/How_To_Change_Bar_Image_1680x541px_72dpi.png/jcr:content/How_To_Change_Bar_Image_1680x541px_72dpi.png" width="452" height="335" class="lazyload" alt="How to change your eBanking password " />
                                      </picture>
                                      <div class="content">
                                        <h3>How to change your eBanking password </h3>
                                        <p>If you&#039;ve forgotten your password or want to change it, here&#039;s how... </p>
                                        <span class="link-btn">View now</span>
                                      </div>
                                    </a>
                                  </article>
                                  <article class="teaser above">
                                    <a href="/private-banking/ebanking/documentation/efg-mobile-banking-guide.html" title="EFG Mobile Banking">
                                      <picture class="image">
                                        <source data-srcset="" media="(max-width: 575px)">
                                          <source data-srcset="" media="(max-width: 768px)">
                                            <source data-srcset="" media="(max-width: 1439px)">
                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Batch-3/Our_Executive_Committee/Our_Executive_Committee_Lets_Build_688x515_72dpi.png/jcr:content/Our_Executive_Committee_Lets_Build_688x515_72dpi.png">
                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Batch-3/Our_Executive_Committee/Our_Executive_Committee_Lets_Build_688x515_72dpi.png/jcr:content/Our_Executive_Committee_Lets_Build_688x515_72dpi.png" width="452" height="335" class="lazyload" alt="EFG Mobile Banking" />
                                              </picture>
                                              <div class="content">
                                                <h3>EFG Mobile Banking</h3>
                                                <p>Learn how to take advantage of quick and secure access to your finances, track accounts, make payments and analyse information on your assets.<br/></p>
                                                <span class="link-btn">View now</span>
                                              </div>
                                            </a>
                                          </article>
                                          <article class="teaser above">
                                            <a href="/private-banking/ebanking/documentation/efg-access-guide.html" title="EFG Access">
                                              <picture class="image">
                                                <source data-srcset="" media="(max-width: 575px)">
                                                  <source data-srcset="" media="(max-width: 768px)">
                                                    <source data-srcset="" media="(max-width: 1439px)">
                                                      <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png">
                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png" width="452" height="335" class="lazyload" alt="EFG Access" />
                                                      </picture>
                                                      <div class="content">
                                                        <h3>EFG Access</h3>
                                                        <p>Understand the benefits of our secure verification tool, designed to help you authenticate requests easily, while offering the highest protection.<br/></p>
                                                        <span class="link-btn">Learn more</span>
                                                      </div>
                                                    </a>
                                                  </article>
                                                  <article class="teaser above">
                                                    <a href="/private-banking/ebanking/documentation/user-guide-for-independent-asset-managers.html" title="eBanking for Independent Asset Managers">
                                                      <picture class="image">
                                                        <source data-srcset="/.imaging/mte/efg-revamp/670x600/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Independent_Asset_Managers_950x464_72dpi.png/jcr:content/eBanking_Independent_Asset_Managers_950x464_72dpi.png" media="(max-width: 575px)">
                                                          <source data-srcset="/.imaging/mte/efg-revamp/1376x800/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Independent_Asset_Managers_950x464_72dpi.png/jcr:content/eBanking_Independent_Asset_Managers_950x464_72dpi.png" media="(max-width: 768px)">
                                                            <source data-srcset="/.imaging/mte/efg-revamp/352x355/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Independent_Asset_Managers_950x464_72dpi.png/jcr:content/eBanking_Independent_Asset_Managers_950x464_72dpi.png" media="(max-width: 1439px)">
                                                              <source data-srcset="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Independent_Asset_Managers_950x464_72dpi.png/jcr:content/eBanking_Independent_Asset_Managers_950x464_72dpi.png">
                                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/452x355/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/eBanking_Independent_Asset_Managers_950x464_72dpi.png/jcr:content/eBanking_Independent_Asset_Managers_950x464_72dpi.png" width="452" height="335" class="lazyload" alt="eBanking for Independent Asset Managers" />
                                                              </picture>
                                                              <div class="content">
                                                                <h3>eBanking for Independent Asset Managers</h3>
                                                                <p>Discover the benefits of our reliable platform for client portfolio management. Get guidance on its wide range of functions, from executing stock market transactions to consolidating reports.<br/></p>
                                                                <span class="link-btn">Learn more</span>
                                                              </div>
                                                            </a>
                                                          </article>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </section><section>
                                                  <div class="container">
                                                    <div class="row">
                                                      <div class="col-12 col-xl-10 mx-auto">
                                                        <div class="teaser-wrapper-block teaser2">
                                                          <article class="teaser above">
                                                            <a href="/private-banking/ebanking/documentation/efg-mobile-security.html" title="EFG Mobile Security">
                                                              <picture class="image">
                                                                <source data-srcset="" media="(max-width: 575px)">
                                                                  <source data-srcset="" media="(max-width: 768px)">
                                                                    <source data-srcset="" media="(max-width: 1439px)">
                                                                      <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/eBanking/EFG_Mobile_Security/EFG_Mobile_Security_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Mobile_Security_Bar_Image_1680x541px_72dpi.png">
                                                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/eBanking/EFG_Mobile_Security/EFG_Mobile_Security_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Mobile_Security_Bar_Image_1680x541px_72dpi.png" width="688" height="400" class="lazyload" alt="EFG Mobile Security" />
                                                                      </picture>
                                                                      <div class="content">
                                                                        <h3>EFG Mobile Security</h3>
                                                                        <p>Learn how we ensure the privacy of our clients’ data by securing all the different means of communication we offer.</p>
                                                                        <span class="link-btn">Learn more</span>
                                                                      </div>
                                                                    </a>
                                                                  </article>
                                                                  <article class="teaser above">
                                                                    <a href="/private-banking/ebanking/documentation/install-efg-mobile-applications.html" title="Install EFG Mobile Applications">
                                                                      <picture class="image">
                                                                        <source data-srcset="" media="(max-width: 575px)">
                                                                          <source data-srcset="" media="(max-width: 768px)">
                                                                            <source data-srcset="" media="(max-width: 1439px)">
                                                                              <source data-srcset="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/eBanking/Install_EFG_Mobile_Apps/Install_EFG_Mobile_Apps_Bar_Image_1680x541px_72dpi.png/jcr:content/Install_EFG_Mobile_Apps_Bar_Image_1680x541px_72dpi.png">
                                                                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/688x400/dam/efg/EFG_2021/batch4/eBanking/Install_EFG_Mobile_Apps/Install_EFG_Mobile_Apps_Bar_Image_1680x541px_72dpi.png/jcr:content/Install_EFG_Mobile_Apps_Bar_Image_1680x541px_72dpi.png" width="688" height="400" class="lazyload" alt="Install EFG Mobile Applications" />
                                                                              </picture>
                                                                              <div class="content">
                                                                                <h3>Install EFG Mobile Applications</h3>
                                                                                <p>All our mobile applications are available in Google Play for Android and Apple Store for iOS. View instructions on how to install and set up the EFG mobile applications.</p>
                                                                                <span class="link-btn">Learn more</span>
                                                                              </div>
                                                                            </a>
                                                                          </article>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </section>
                                                                <section class="overlying">
                                                                  <div class="container">
                                                                    <div class="row">
                                                                      <div class="col-12">
                                                                        <div class="contact-box">
                                                                          <div class="content">
                                                                            <h3>Need help with eBanking? Get in touch</h3>
                                                                            <p>Having problems with our eBanking service? Get in touch with our technical team.</p>
                                                                            <div class="text-article mt-base"><p><strong>eBanking for clients:</strong>&nbsp;<br />
                                                                              Monday-Friday 8:00 - 18:00 CET<br />
                                                                              Phone: +41 800 334 334</p>
                                                                              <p>To find a local free phone number for your country please view our <a href="/contact/international-directory.html">international directory</a></p>
                                                                              <p><strong>eBanking for Independent Asset Managers</strong>:&nbsp;<br />
                                                                                Monday-Friday 8:00 - 18:30 CET<br />
                                                                                Phone:&nbsp;+41 58 809 3999</p>
                                                                              </div>
                                                                            </div>
                                                                            <div class="image lazyload" data-sizes="auto" data-bgset="/doc/jcr:b2187847-ff3d-4152-b61f-43a15ee9fa61/need_help_690x640.jpg/lang:en/need_help_690x640.jpg [(max-width: 1599px)] | /doc/jcr:b2187847-ff3d-4152-b61f-43a15ee9fa61/need_help_690x640.jpg/lang:en/need_help_690x640.jpg"></div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </section>
                                                                  <section class="bkg-dark mt-0 pt-more">
                                                                    <div class="container">
                                                                      <div class="row section-headline">
                                                                        <div class="col-12 col-lg-10 mx-auto text-md-center">
                                                                          <h2>Discover more</h2>
                                                                          <p>From mobile banking to secure live chat, find out how EFG can help you achieve your financial goals today. </p>
                                                                        </div>
                                                                      </div>
                                                                      <div class="row teaser-wrapper">
                                                                        <div class="col-12 col-lg-4">
                                                                          <article class="teaser bottom">
                                                                            <a href="/private-banking/ebanking/efg-mobile-banking.html" title="Discover the easy way to access your accounts with the EFG Banking app">
                                                                              <span class="label">EFG Mobile Banking</span>
                                                                              <picture class="image">
                                                                                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/Batch-3/EFG_Mobile_Banking/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png/jcr:content/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png">
                                                                                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/Batch-3/EFG_Mobile_Banking/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png/jcr:content/EFG_Mobile_Banking_EFG_Mobile_Banking_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discover the easy way to access your accounts with the EFG Banking app" />
                                                                                </picture>
                                                                                <div class="content">
                                                                                  <h4>Discover the easy way to access your accounts with the EFG Banking app</h4>
                                                                                  <span class="link-btn">Learn more</span>
                                                                                </div>
                                                                              </a>
                                                                            </article>
                                                                          </div>
                                                                          <div class="col-12 col-lg-4">
                                                                            <article class="teaser bottom">
                                                                              <a href="/private-banking/ebanking/efg-access.html" title="Confirm external payments, provide double signatures and more, quickly and securely">
                                                                                <span class="label">The EGF Access App</span>
                                                                                <picture class="image">
                                                                                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png">
                                                                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/eBanking/EFG_Access_Guide/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png" width="548" height="280" class="lazyload" alt="Confirm external payments, provide double signatures and more, quickly and securely" />
                                                                                  </picture>
                                                                                  <div class="content">
                                                                                    <h4>Confirm external payments, provide double signatures and more, quickly and securely</h4>
                                                                                    <span class="link-btn">Learn more</span>
                                                                                  </div>
                                                                                </a>
                                                                              </article>
                                                                            </div>
                                                                            <div class="col-12 col-lg-4">
                                                                              <article class="teaser bottom">
                                                                                <a href="/private-banking/ebanking/documentation/efg-chat-guide.html" title="Take advantage of secure, real-time communication with your advisors">
                                                                                  <span class="label">Live Chat</span>
                                                                                  <picture class="image">
                                                                                    <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/eBanking/EFG_Chat_Guide/EFG_Chat_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Chat_Guide_Bar_Image_1680x541px_72dpi.png">
                                                                                      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/EFG_2021/batch4/eBanking/EFG_Chat_Guide/EFG_Chat_Guide_Bar_Image_1680x541px_72dpi.png/jcr:content/EFG_Chat_Guide_Bar_Image_1680x541px_72dpi.png" width="548" height="280" class="lazyload" alt="Take advantage of secure, real-time communication with your advisors" />
                                                                                    </picture>
                                                                                    <div class="content">
                                                                                      <h4>Take advantage of secure, real-time communication with your advisors</h4>
                                                                                      <span class="link-btn">Learn more</span>
                                                                                    </div>
                                                                                  </a>
                                                                                </article>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </section>
                                                                      </div>    {% endblock %}
