{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/ebanking.html">eBanking</a></li>
              <li><span>EFG access</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>EFG access</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/ebanking.html">eBanking</a></li>
                <li><span>EFG access</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:f0850508-7b1f-47d8-bf70-6353c12f4275/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/lang:en/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png [(max-width: 991px)] | /doc/jcr:f0850508-7b1f-47d8-bf70-6353c12f4275/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/lang:en/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png [(max-width: 1599px)] | /doc/jcr:f0850508-7b1f-47d8-bf70-6353c12f4275/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png/lang:en/EFG_Access_Guide_Bar_Image_1680x541px_72dpi.png"
          >
          <div>
            <h1>EFG access</h1>
            <p>Your quick and secure validation process</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Prioritising speed and security</h2>
        <p class="indent">The ability to access and move money is important to you. But that flexibility should never come at the cost of security. Which is why EFG Access is a vital step in our process of protecting your wealth. And why you can be confident that keeping your money safe is our priority, while you take control. </p>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Empowering fast executions </h3>
            <div class="text-article mt-base"><p>EFG Access allows you to quickly and securely validate payments from your eBanking. You can enter payments in your eBanking accounts as usual and then validate them for execution using the EFG Access app. The validation and authentication are thereby in line with state-of-the-art security requirements and allow you to securely validate external payments via the app or using double signature authentication, if required. EFG Access is aimed at EFG clients with European accounts. The application is in line with the European Payment Service Directive (PSD2), meeting the strong client authentication requirements that take effective as of 14 September 2019.</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Batch-3/EFG_Access/EFG_Access_Empowering_950x464.png/jcr:content/EFG_Access_Empowering_950x464.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>Download now</h3>
          <p>Simply scan the relevant QR Code using your smart phone camera or tablet camera, and follow the instructions to download your EFG Mobile Banking application to your device.</p>
          <picture class="image position-relative">
            <source data-srcset="/.imaging/mte/efg-revamp/670x500/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/qr-new3.jpg/jcr:content/qr-new3.jpg" media="(max-width: 575px)">
              <source data-srcset="/.imaging/mte/efg-revamp/1376x776/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/qr-new3.jpg/jcr:content/qr-new3.jpg" media="(max-width: 991px)">
                <source data-srcset="/.imaging/mte/efg-revamp/1096x520/dam/efg/EFG_2021/Private_Banking_Pages/eBanking/qr-new3.jpg/jcr:content/qr-new3.jpg" media="(max-width: 1599px)">
                  <source data-srcset="/doc/jcr:01bf8400-860c-4d66-a683-0cd4bbf1ee65/qr-new3.jpg/lang:en/qr-new3.jpg">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/doc/jcr:01bf8400-860c-4d66-a683-0cd4bbf1ee65/qr-new3.jpg/lang:en/qr-new3.jpg" width="1392" height="617" class="lazyload" alt="Download now" />
                  </picture>
                </article>
              </div>
            </div>
          </div>
        </section>
        <section class="overlying">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="contact-box">
                  <div class="content">
                    <h3>Need help with eBanking? Get in touch</h3>
                    <p>Having problems with our eBanking service? Get in touch with our technical team.</p>
                    <div class="text-article mt-base"><p><strong>eBanking for clients:</strong>&nbsp;<br />
                      Monday-Friday 8:00 - 18:00 CET<br />
                      Phone: +41 800 334 334</p>
                      <p>To find a local free phone number for your country please view our <a href="/contact/international-directory.html">international directory</a></p>
                      <p><strong>eBanking for Independent Asset Managers</strong>:&nbsp;<br />
                        Monday-Friday 8:00 - 18:30 CET<br />
                        Phone:&nbsp;+41 58 809 3999</p>
                      </div>
                    </div>
                    <div class="image lazyload" data-sizes="auto" data-bgset="/doc/jcr:b2187847-ff3d-4152-b61f-43a15ee9fa61/need_help_690x640.jpg/lang:en/need_help_690x640.jpg [(max-width: 1599px)] | /doc/jcr:b2187847-ff3d-4152-b61f-43a15ee9fa61/need_help_690x640.jpg/lang:en/need_help_690x640.jpg"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="bkg-dark mt-0 pt-more">
            <div class="container">
              <div class="row section-headline">
                <div class="col-12 col-lg-10 mx-auto text-md-center">
                  <h2>Discover more</h2>
                  <p>From investing to finance find out how our services can help you protect and grow your wealth today. </p>
                </div>
              </div>
              <div class="row teaser-wrapper">
                <div class="col-12 col-lg-4">
                  <article class="teaser bottom">
                    <a href="/private-banking/investment-solutions.html" title="Discretionary and advisory services that help you to find the right combination of investments for you">
                      <span class="label">Investment Solutions</span>
                      <picture class="image">
                        <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discretionary and advisory services that help you to find the right combination of investments for you" />
                        </picture>
                        <div class="content">
                          <h4>Discretionary and advisory services that help you to find the right combination of investments for you</h4>
                          <span class="link-btn">Learn more </span>
                        </div>
                      </a>
                    </article>
                  </div>
                  <div class="col-12 col-lg-4">
                    <article class="teaser bottom">
                      <a href="/private-banking/wealth-services.html" title="Solutions to help you protect, structure and plan your wealth for the long term">
                        <span class="label">Wealth Services </span>
                        <picture class="image">
                          <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Solutions to help you protect, structure and plan your wealth for the long term" />
                          </picture>
                          <div class="content">
                            <h4>Solutions to help you protect, structure and plan your wealth for the long term</h4>
                            <span class="link-btn">Learn more </span>
                          </div>
                        </a>
                      </article>
                    </div>
                    <div class="col-12 col-lg-4">
                      <article class="teaser bottom">
                        <a href="/private-banking/credit-and-financing.html" title="Flexible financing solutions to support investment, both home and abroad">
                          <span class="label">Credit and Financing</span>
                          <picture class="image">
                            <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg">
                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg" width="548" height="280" class="lazyload" alt="Flexible financing solutions to support investment, both home and abroad" />
                            </picture>
                            <div class="content">
                              <h4>Flexible financing solutions to support investment, both home and abroad</h4>
                              <span class="link-btn">Learn more </span>
                            </div>
                          </a>
                        </article>
                      </div>
                    </div>
                  </div>
                </section>
              </div>    {% endblock %}
