{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
              <li><span>Fund Services</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Fund Services</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
                <li><span>Fund Services</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/privatebanking/fund.jpg' %}"
          >
          <div>
            <h1>Fund Services </h1>
            <p>Working across the world’s leading financial centres<br/></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Administration and support solutions for investment managers</h2>
        <p class="indent">EFG Funds Services is a division of EFG Wealth Solutions.<br/><br/>EFG Fund Services provides administration, custody and exchange listing services to a wide range of closed-ended and open-ended funds.<br/><br/>Our main offices are in Jersey and Luxembourg, and we also have a presence in Cyprus, Cayman Islands and Singapore. This means we can be truly jurisdiction-agnostic in devising solutions for our clients.<br/><br/>Our aim is to deliver a high level of client service to both the fund and its investors, underpinned by technology and a pragmatic, proactive approach. </p>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>What we offer</h3>
            <div class="text-article mt-base"><p>At EFG Fund Services, we recognise the individuality of each fund and our teams work closely with each client to build a detailed understanding of the needs of their fund and investors.</p>
              <p>We pride ourselves in providing a client focused service offering solutions to cater for their needs.</p>
              <ul>
                <li><strong>In-house Banking Solution:</strong> Our in-house banking and payments ensure faster turnaround times, joined up processes and ability to unlock challenges and issues easily.</li>
                <li><strong>Bespoke Service:</strong> We aim to provide a flexible and tailored service to our clients to fit their needs</li>
                <li><strong>Experienced and Stable Team:</strong> Our Directors have extensive board and Fund Administration experience and are supported by our team of experienced colleagues and team members</li>
                <li><strong>World Class Technology:</strong> We use a leading fund administration platform, allowing high rates of Straight Through Processing (STP) and great client service.</li>
              </ul>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/offer.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Complete Service Across All Asset Classes </h3>
            <div class="text-article mt-base"><p><strong>Fund Administration</strong></p>
              <ul>
                <li>Fund set-up and launch</li>
                <li>Day to day administration</li>
                <li>Director services</li>
              </ul>
              <p><strong>Fund Accounting</strong></p>
              <ul>
                <li>Bookkeeping</li>
                <li>Financial reporting</li>
                <li>Capital accounts and other investor communications</li>
              </ul>
              <p><strong>Custodian Services</strong></p>
              <ul>
                <li>Oversight and monitoring.</li>
                <li>Safekeeping of fund financial assets</li>
                <li>Bank and fund asset reconciliations</li>
              </ul>
            </div>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/service.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Our Team of Fund Specialist</h3>
            <div class="text-article mt-base"><ul>
              <li>Understand the pressures confronting investment managers. They strive to work in partnership with you to ensure smooth, efficient and effective fund administration.</li>
              <li>Are highly qualified. Each jurisdicational team is specialised in specific fields and offers on-the-ground expertise combined with practical know-how. The majority of our employees are professionally-qualified funds&rsquo; practitioners, and a number are multi-lingual.</li>
              <li>Are highly experienced. EFG Fund Services has been providing support services to funds in major international jurisdictions for over 25 years.</li>
              <li>Deliver their services in the same time zone as the fund&rsquo;s investment manager, ensuring they are responsive and readily accessible.</li>
            </ul>
          </div>
        </div>
        <div class="side-image">
          <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/team.jpg' %}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="bkg-light-grey ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>EFG Fund Administration Limited</h4>
              <p>44 Esplanade St. Helier - JE1 3FG Jersey</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+44 1534 605 600" class="phone">+44 1534 605 600</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>EFG Bank (Luxembourg) S.A.</h4>
              <p>56, Grand-Rue<br/>P.O. Box 385 - 2013 Luxembourg<br/></p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+352 26 454 1" class="phone">+352 26 454 1</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>EFG Bank (Luxembourg) S.A.</h4>
              <p>Cyprus Branch<br/>Kitallides Building, 7th Floor, <br/>3 Georgiou Katsounotou Street<br/>3036 Limassol, CYPRUS</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+357 22 025903" class="phone">+357 22 025903</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>EFG Wealth Solutions (Singapore) Limited</h4>
              <p>79 Robinson Road #18-03 - 068897 Singapore</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+65 6595 4998" class="phone">+65 6595 4998</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>EFG Bank AG Cayman Branch</h4>
              <p>Suite 3208<br/>9 Forum Lane, Camana Bay<br/>P.O. Box 10360 - KY1 - 1003 Grand Cayman</p>
              <ul>
                <li><i class="icon-efg-mail"></i><a href="/cdn-cgi/l/email-protection#f5dec4d5c6c1c0d5ccc1c6d5c6c6d5c0c5">+1 345 943 33 50</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'itstart.html' %}{% endblock %}
