{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
              <li><span>Wealth Solutions</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Wealth Solutions</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
                <li><span>Wealth Solutions</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="/doc/jcr:de53ab98-d937-4abf-87a3-be52878e1efb/ExpertiseOV_HEADER_v2_offset_comp_862811_Desktop_1920x680px_72dpi.jpg/lang:en/ExpertiseOV_HEADER_v2_offset_comp_862811_Desktop_1920x680px_72dpi.jpg [(max-width: 991px)] | /doc/jcr:de53ab98-d937-4abf-87a3-be52878e1efb/ExpertiseOV_HEADER_v2_offset_comp_862811_Desktop_1920x680px_72dpi.jpg/lang:en/ExpertiseOV_HEADER_v2_offset_comp_862811_Desktop_1920x680px_72dpi.jpg [(max-width: 1599px)] | /doc/jcr:de53ab98-d937-4abf-87a3-be52878e1efb/ExpertiseOV_HEADER_v2_offset_comp_862811_Desktop_1920x680px_72dpi.jpg/lang:en/ExpertiseOV_HEADER_v2_offset_comp_862811_Desktop_1920x680px_72dpi.jpg"
          >
          <div>
            <h1>EFG Wealth Solutions</h1>
            <p>Specialist wealth structuring, protection and transferral</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>EFG Wealth Solutions: Putting your hard work to work</h2>
        <p class="indent">We specialise in the efficient structuring, protection and transferral of wealth.<br/>Our teams of experienced professionals operate in various locations, including Jersey, Luxembourg, the Bahamas and Singapore. Working alongside you, your Client Relationship Officer and any tax or legal professionals, we craft bespoke solutions to protect your assets and facilitate the efficient transfer of wealth between generations.</p>
        <a href="/contact.html" title="Get in touch" class="btn">Get in touch<i class="icon-efg-line-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Trust services </h3>
            <div class="text-article mt-base"><p>Our fiduciary specialists use a wide range of wealth planning tools to structure assets including trusts, companies and foundations.</p>
            </div>
            <a href="/private-banking/wealth-services/trust-services.html" class="btn mt-20">Find out more </a>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Batch-3/Wealth_Solutions/Wealth_Solutions/Wealth_Solutions_Trust_Services_950x464.png/jcr:content/Wealth_Solutions_Trust_Services_950x464.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Fund services </h3>
            <div class="text-article mt-base"><p>An extensive range of truly jurisdiction-neutral administration and support solutions for investment funds.</p>
            </div>
            <a href="/private-banking/wealth-services/fund-services.html" class="btn mt-20">Find out more </a>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/private-banking/Fund-services/fundservice-1920x680.jpg/jcr:content/fundservice-1920x680.jpg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Our people</h3>
            <div class="text-article mt-base"><p>Our wealth structuring specialists are highly experienced, technically proficient professionals. They also have strong relationship skills and always seek to be pragmatic and solution-driven. They operate from various locations, including Jersey, Luxembourg, the Bahamas and Singapore. While used to dealing with complex, cross-border considerations, they strive to keep things simple for you. Working in partnership with your Client Relationship Officers, they make sure the finances fit the life.<br />
              We would be delighted to discuss your wealth structuring requirements with you. To find out more, talk to your Client Relationship Officer or see our contact details below.</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/950x463/dam/efg/EFG_2021/Batch-3/Wealth_Solutions/Wealth_Solutions/Wealth_Solutions_Our_People_1396x600_72dpi.png/jcr:content/Wealth_Solutions_Our_People_1396x600_72dpi.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Jersey</h4>
              <p>44 Esplanade<br/>St Helier - JE1 3FG Jersey<br/></p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+44 1534 605 600" class="phone">+44 1534 605 600</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Singapore</h4>
              <p>79 Robinson Road<br/>#18-03 - 068897 Singapore</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+65 6595 4998" class="phone">+65 6595 4998</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Bahamas</h4>
              <p>Offices at Old Fort, Building One Lyford Cay - Nassau</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+1 242 502 5400" class="phone">+1 242 502 5400</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Luxembourg</h4>
              <p>56, Grand-Rue<br/>P.O. Box 385 - 2013 Luxembourg</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+352 26 454 1" class="phone">+352 26 454 1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-small">
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
        <h2>EFG Wealth Solutions publications</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <style>
        .table-download-wrapper .table-download-desktop.language-document-container1 tbody tr th:last-child {
          width: 50%;
        }
      </style>
      <article class="table-download-wrapper">
        <table class="table-download-desktop language-document-container1">
          <tr>
            <th>Name</th>
            <th>Language</th>
          </tr>
          <tr>
            <td>
              Terms and conditions EFG Wealth Solutions (Jersey)
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:fe5a2fe2-91fb-471a-a6e2-a88353af910a/Terms%20and%20Conditions%20-%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Terms and Conditions - EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Terms and conditions EFG Wealth Solutions (Singapore)
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Singapore)', 'download', this.href);" href="/doc/jcr:8f6f147c-94e6-4c27-8bb0-8cec3613a314/EFG%20Wealth%20Solutions%20(Singapore)%20Limited%20Terms%20and%20Conditions.pdf/lang:en/EFG Wealth Solutions (Singapore) Limited Terms and Conditions.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Trust and companies fee scales
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Trust and companies fee scales', 'download', this.href);" href="/doc/jcr:bd6d6574-5871-46a4-acdc-1e7f53ce7c69/Fee%20Tariff%20-%20March%202022.pdf/lang:en/Fee Tariff - March 2022.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Privacy Policy EFG Wealth Solutions (Jersey)
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:2524abf3-075f-40de-9ccd-05f9be8262b6/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Privacy Policy EFG Wealth Solutions (Singapore) Limited
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Singapore) Limited', 'download', this.href);" href="/doc/jcr:c56e9502-3ed6-4fe0-adf5-bd6db38ac977/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Singapore)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Singapore) Limited.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr> </table>
          <div class="table-download-mobile">
            <div>Documents</div>
            <div class="table-download-component">
              <div>
                <a href="#" class="table-download-head">Terms and conditions EFG Wealth Solutions (Jersey)<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:fe5a2fe2-91fb-471a-a6e2-a88353af910a/Terms%20and%20Conditions%20-%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Terms and Conditions - EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Terms and conditions EFG Wealth Solutions (Singapore)<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Singapore)', 'download', this.href);" href="/doc/jcr:8f6f147c-94e6-4c27-8bb0-8cec3613a314/EFG%20Wealth%20Solutions%20(Singapore)%20Limited%20Terms%20and%20Conditions.pdf/lang:en/EFG Wealth Solutions (Singapore) Limited Terms and Conditions.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Trust and companies fee scales<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Trust and companies fee scales', 'download', this.href);" href="/doc/jcr:bd6d6574-5871-46a4-acdc-1e7f53ce7c69/Fee%20Tariff%20-%20March%202022.pdf/lang:en/Fee Tariff - March 2022.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Privacy Policy EFG Wealth Solutions (Jersey)<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:2524abf3-075f-40de-9ccd-05f9be8262b6/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Privacy Policy EFG Wealth Solutions (Singapore) Limited<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Singapore) Limited', 'download', this.href);" href="/doc/jcr:c56e9502-3ed6-4fe0-adf5-bd6db38ac977/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Singapore)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Singapore) Limited.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="mt-small">
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
        <h2>EFG Fund Services publications</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <style>
        .table-download-wrapper .table-download-desktop.language-document-container2 tbody tr th:last-child {
          width: 50%;
        }
      </style>
      <article class="table-download-wrapper">
        <table class="table-download-desktop language-document-container2">
          <tr>
            <th>Name</th>
            <th>Language</th>
          </tr>
          <tr>
            <td>
              Terms and Conditions - EFG Fund Services, Channel Islands
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Terms and Conditions - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8884cb53-3ef9-4779-9b51-f71c879aa893/Terms%20and%20Conditions%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Terms and Conditions EFG Fund Services Channel Islands.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Fee tariff - EFG Fund Services, Channel Islands
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Fee tariff - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8a6ccfa2-1379-4711-929c-5f92d2b39b79/Fee%20Tariff%20-%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Fee Tariff - EFG Fund Services Channel Islands.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr> </table>
          <div class="table-download-mobile">
            <div>Documents</div>
            <div class="table-download-component">
              <div>
                <a href="#" class="table-download-head">Terms and Conditions - EFG Fund Services, Channel Islands<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Terms and Conditions - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8884cb53-3ef9-4779-9b51-f71c879aa893/Terms%20and%20Conditions%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Terms and Conditions EFG Fund Services Channel Islands.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Fee tariff - EFG Fund Services, Channel Islands<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Fee tariff - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8a6ccfa2-1379-4711-929c-5f92d2b39b79/Fee%20Tariff%20-%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Fee Tariff - EFG Fund Services Channel Islands.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="content">
            <h3>It all starts with a conversation</h3>
            <p>Let&#039;s start ours and build something valuable today.</p>
            <a href="/modal-form.html" title="" class="btn form-panel-open">Contact us</a>
            <ul>
              <li><i class="icon-efg-pin"></i>EFG Bank AG<br>Bleicherweg 8<br>P.O. Box 6012 - 8022 Zurich</li>
              <li><i class="icon-efg-phone"></i>+41 44 226 17 17 </li>
            </ul>
          </div>
          <div class="image lazyload" data-sizes="auto" data-bgset="/.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Advisory_Services/Advisory_Services_Time_To_Build_688x515_72dpi.png/jcr:content/Advisory_Services_Time_To_Build_688x515_72dpi.png [(max-width: 1599px)] | /.imaging/mte/efg-revamp/688x372/dam/efg/EFG_2021/Private_Banking_Pages/Advisory_Services/Advisory_Services_Time_To_Build_688x515_72dpi.png/jcr:content/Advisory_Services_Time_To_Build_688x515_72dpi.png"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class=" bkg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <article class="text-article">
          <h3>EFG Wealth Solutions Important Legal &amp; Regulatory Information</h3>
          <p>EFG Wealth Solutions&nbsp;believe that the information on these webpages or in the publications contained herein is accurate. However, they are unavoidably general in content and should not be relied upon in making a specific decision.&nbsp;EFG and its affiliates do not provide advice, recommendations or opinions regarding legal and/or tax matters under any circumstances. To the extent that these webpages or the marketing publications , anything referenced herein, or any items attached hereto may concern tax matters, they are not intended to be used, and cannot be used, for the purpose of avoiding tax liabilities or penalties that may be imposed by law, foreign and domestic. Clients should take relevant professional legal and tax advice (including in their country of residence) before making a decision to create a structure, and engage our services.</p>
          <p>EFG Wealth Solutions is part of EFG International and includes the following: EFG Wealth Solutions (Jersey) Limited and its Jersey subsidiaries that are regulated by the Jersey Financial Services Commission; EFG Fund Services, which is a trading name of EFG Fund Administration Limited which is a subsidiary of EFG Wealth Solutions (Jersey) Limited; EFG Wealth Solutions (Singapore) Limited is regulated by the Monetary Authority of Singapore; EFG Bank &amp; Trust (Bahamas) Ltd is regulated by the Central Bank of The Bahamas; EFG Bank (Luxembourg) S.A. is regulated by the Commission de Surveillance du Secteur Financier.</p>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="bkg-dark mt-0 pt-more">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 mx-auto text-md-center">
        <h2>Discover more</h2>
        <p>From investing to finance, find out how our services can help you protect and grow your wealth today.</p>
      </div>
    </div>
    <div class="row teaser-wrapper">
      <div class="col-12 col-lg-4">
        <article class="teaser bottom">
          <a href="/private-banking/investment-solutions.html" title="Discretionary and advisory services that help you to find the right combination of investments for you">
            <span class="label">Investment Solutions</span>
            <picture class="image">
              <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/investment-solutions/Investment_Solutions_Bar_Image_1680x541_72dpi.png/jcr:content/Investment_Solutions_Bar_Image_1680x541_72dpi.png" width="548" height="280" class="lazyload" alt="Discretionary and advisory services that help you to find the right combination of investments for you" />
              </picture>
              <div class="content">
                <h4>Discretionary and advisory services that help you to find the right combination of investments for you</h4>
                <span class="link-btn">Learn more </span>
              </div>
            </a>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="teaser bottom">
            <a href="/private-banking/wealth-services.html" title="Solutions to help you protect, structure and plan your wealth for the long term.">
              <span class="label">Wealth Services </span>
              <picture class="image">
                <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg">
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg/jcr:content/PrivateClients_HEADER_GettyImages-1210790993_Desktop_1920x680px_72dpi.jpg" width="548" height="280" class="lazyload" alt="Solutions to help you protect, structure and plan your wealth for the long term." />
                </picture>
                <div class="content">
                  <h4>Solutions to help you protect, structure and plan your wealth for the long term.</h4>
                  <span class="link-btn">Learn more</span>
                </div>
              </a>
            </article>
          </div>
          <div class="col-12 col-lg-4">
            <article class="teaser bottom">
              <a href="/private-banking/credit-and-financing.html" title=" Flexible financing solutions to support investment, both home and abroad.">
                <span class="label">Credit and Financing</span>
                <picture class="image">
                  <source data-srcset="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/.imaging/mte/efg-revamp/548x280/dam/efg/private-banking/crediti-financing-chosen1920x680.jpg/jcr:content/crediti-financing-chosen1920x680.jpg" width="548" height="280" class="lazyload" alt=" Flexible financing solutions to support investment, both home and abroad." />
                  </picture>
                  <div class="content">
                    <h4> Flexible financing solutions to support investment, both home and abroad.</h4>
                    <span class="link-btn">Learn more</span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>{% endblock %}
