{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
              <li><span>Wealth Solutions</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Wealth Solutions</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
                <li><span>Wealth Solutions</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/privatebanking/introducing.jpg' %}"
          >
          <div>
            <h1>EFG Wealth Solutions</h1>
            <p>Specialist wealth structuring, protection and transferral</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>EFG Wealth Solutions: Putting your hard work to work</h2>
        <p class="indent">We specialise in the efficient structuring, protection and transferral of wealth.<br/>Our teams of experienced professionals operate in various locations, including Jersey, Luxembourg, the Bahamas and Singapore. Working alongside you, your Client Relationship Officer and any tax or legal professionals, we craft bespoke solutions to protect your assets and facilitate the efficient transfer of wealth between generations.</p>
        <a href="/contact.html" title="Get in touch" class="btn">Get in touch<i class="icon-efg-line-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Trust services </h3>
            <div class="text-article mt-base"><p>Our fiduciary specialists use a wide range of wealth planning tools to structure assets including trusts, companies and foundations.</p>
            </div>
            <a href="/private-banking/wealth-services/trust-services.html" class="btn mt-20">Find out more </a>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/trust.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content order-lg-2">
            <h3>Fund services </h3>
            <div class="text-article mt-base"><p>An extensive range of truly jurisdiction-neutral administration and support solutions for investment funds.</p>
            </div>
            <a href="/private-banking/wealth-services/fund-services.html" class="btn mt-20">Find out more </a>
          </div>
          <div class="side-image order-lg-1">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/fund.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey overflow-hidden m-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="side-component full align-top">
          <div class="bkg-light-grey side-content">
            <h3>Our people</h3>
            <div class="text-article mt-base"><p>Our wealth structuring specialists are highly experienced, technically proficient professionals. They also have strong relationship skills and always seek to be pragmatic and solution-driven. They operate from various locations, including Jersey, Luxembourg, the Bahamas and Singapore. While used to dealing with complex, cross-border considerations, they strive to keep things simple for you. Working in partnership with your Client Relationship Officers, they make sure the finances fit the life.<br />
              We would be delighted to discuss your wealth structuring requirements with you. To find out more, talk to your Client Relationship Officer or see our contact details below.</p>
            </div>
          </div>
          <div class="side-image">
            <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/people.jpg' %}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bkg-light-grey ">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Jersey</h4>
              <p>44 Esplanade<br/>St Helier - JE1 3FG Jersey<br/></p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+44 1534 605 600" class="phone">+44 1534 605 600</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Singapore</h4>
              <p>79 Robinson Road<br/>#18-03 - 068897 Singapore</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+65 6595 4998" class="phone">+65 6595 4998</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Bahamas</h4>
              <p>Offices at Old Fort, Building One Lyford Cay - Nassau</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+1 242 502 5400" class="phone">+1 242 502 5400</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="contact-block">
              <h4>Luxembourg</h4>
              <p>56, Grand-Rue<br/>P.O. Box 385 - 2013 Luxembourg</p>
              <ul>
                <li><i class="icon-efg-phone"></i><a href="tel:+352 26 454 1" class="phone">+352 26 454 1</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-small">
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
        <h2>EFG Wealth Solutions publications</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <style>
        .table-download-wrapper .table-download-desktop.language-document-container1 tbody tr th:last-child {
          width: 50%;
        }
      </style>
      <article class="table-download-wrapper">
        <table class="table-download-desktop language-document-container1">
          <tr>
            <th>Name</th>
            <th>Language</th>
          </tr>
          <tr>
            <td>
              Terms and conditions EFG Wealth Solutions (Jersey)
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:fe5a2fe2-91fb-471a-a6e2-a88353af910a/Terms%20and%20Conditions%20-%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Terms and Conditions - EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Terms and conditions EFG Wealth Solutions (Singapore)
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Singapore)', 'download', this.href);" href="/doc/jcr:8f6f147c-94e6-4c27-8bb0-8cec3613a314/EFG%20Wealth%20Solutions%20(Singapore)%20Limited%20Terms%20and%20Conditions.pdf/lang:en/EFG Wealth Solutions (Singapore) Limited Terms and Conditions.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Trust and companies fee scales
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Trust and companies fee scales', 'download', this.href);" href="/doc/jcr:bd6d6574-5871-46a4-acdc-1e7f53ce7c69/Fee%20Tariff%20-%20March%202022.pdf/lang:en/Fee Tariff - March 2022.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Privacy Policy EFG Wealth Solutions (Jersey)
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:2524abf3-075f-40de-9ccd-05f9be8262b6/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Privacy Policy EFG Wealth Solutions (Singapore) Limited
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Singapore) Limited', 'download', this.href);" href="/doc/jcr:c56e9502-3ed6-4fe0-adf5-bd6db38ac977/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Singapore)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Singapore) Limited.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr> </table>
          <div class="table-download-mobile">
            <div>Documents</div>
            <div class="table-download-component">
              <div>
                <a href="#" class="table-download-head">Terms and conditions EFG Wealth Solutions (Jersey)<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:fe5a2fe2-91fb-471a-a6e2-a88353af910a/Terms%20and%20Conditions%20-%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Terms and Conditions - EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Terms and conditions EFG Wealth Solutions (Singapore)<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Terms and conditions EFG Wealth Solutions (Singapore)', 'download', this.href);" href="/doc/jcr:8f6f147c-94e6-4c27-8bb0-8cec3613a314/EFG%20Wealth%20Solutions%20(Singapore)%20Limited%20Terms%20and%20Conditions.pdf/lang:en/EFG Wealth Solutions (Singapore) Limited Terms and Conditions.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Trust and companies fee scales<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Trust and companies fee scales', 'download', this.href);" href="/doc/jcr:bd6d6574-5871-46a4-acdc-1e7f53ce7c69/Fee%20Tariff%20-%20March%202022.pdf/lang:en/Fee Tariff - March 2022.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Privacy Policy EFG Wealth Solutions (Jersey)<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Jersey)', 'download', this.href);" href="/doc/jcr:2524abf3-075f-40de-9ccd-05f9be8262b6/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Jersey)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Jersey) Limited.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Privacy Policy EFG Wealth Solutions (Singapore) Limited<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Privacy Policy EFG Wealth Solutions (Singapore) Limited', 'download', this.href);" href="/doc/jcr:c56e9502-3ed6-4fe0-adf5-bd6db38ac977/Privacy%20Policy%20EFG%20Wealth%20Solutions%20(Singapore)%20Limited.pdf/lang:en/Privacy Policy EFG Wealth Solutions (Singapore) Limited.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="mt-small">
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-8 col-xl-7 col-xxl-6 offset-xl-1">
        <h2>EFG Fund Services publications</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-xl-10 mx-auto">
        <style>
        .table-download-wrapper .table-download-desktop.language-document-container2 tbody tr th:last-child {
          width: 50%;
        }
      </style>
      <article class="table-download-wrapper">
        <table class="table-download-desktop language-document-container2">
          <tr>
            <th>Name</th>
            <th>Language</th>
          </tr>
          <tr>
            <td>
              Terms and Conditions - EFG Fund Services, Channel Islands
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Terms and Conditions - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8884cb53-3ef9-4779-9b51-f71c879aa893/Terms%20and%20Conditions%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Terms and Conditions EFG Fund Services Channel Islands.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Fee tariff - EFG Fund Services, Channel Islands
            </td>
            <td>
              <ul>
                <li><a onclick="ga('send', 'event', 'Fee tariff - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8a6ccfa2-1379-4711-929c-5f92d2b39b79/Fee%20Tariff%20-%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Fee Tariff - EFG Fund Services Channel Islands.pdf" target="_blank"><i class="icon-efg-pdf"></i>EN</a></li>
              </ul>
            </td>
          </tr> </table>
          <div class="table-download-mobile">
            <div>Documents</div>
            <div class="table-download-component">
              <div>
                <a href="#" class="table-download-head">Terms and Conditions - EFG Fund Services, Channel Islands<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Terms and Conditions - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8884cb53-3ef9-4779-9b51-f71c879aa893/Terms%20and%20Conditions%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Terms and Conditions EFG Fund Services Channel Islands.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
              <div>
                <a href="#" class="table-download-head">Fee tariff - EFG Fund Services, Channel Islands<span>1 available download</span></a>
                <div class="table-download-content">
                  <ul>
                    <li><a onclick="ga('send', 'event', 'Fee tariff - EFG Fund Services, Channel Islands', 'download', this.href);" href="/doc/jcr:8a6ccfa2-1379-4711-929c-5f92d2b39b79/Fee%20Tariff%20-%20EFG%20Fund%20Services%20Channel%20Islands.pdf/lang:en/Fee Tariff - EFG Fund Services Channel Islands.pdf" target="_blank">
                      <span>
                        <i class="icon-efg-pdf"></i>
                      </span>
                      <p>Download</p>
                      <p class="note">PDF - English</p>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
{% include 'itstart.html' %}{% endblock %}
