{% extends "base.html" %}
{% load static %}

{% block title %}
RFB|
{% endblock %}

{% block content %}
<div class="main-content">
  <section class="hero-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/private-banking.html">Private Banking</a></li>
              <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
              <li><span>Wealth Planning</span></li>
            </ul>
          </nav>
          <nav class="breadcrumb-mobile">
            <a href="#"><i class="icon-efg-breadcrumb"></i><span>Wealth Planning</span><i class="icon-efg-arrow-down"></i></a>
            <div>
              <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/private-banking.html">Private Banking</a></li>
                <li><a href="/private-banking/wealth-services.html">Wealth Services</a></li>
                <li><span>Wealth Planning</span></li>
              </ul>
              <a href="#" class="btn close">Close</a>
            </div>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="hero-content lazyload" data-sizes="auto"
          data-bgset="{% static 'images/privatebanking/planning.jpg' %}"
          >
          <div>
            <h1>Wealth Planning </h1>
            <p>Structuring and protecting your wealth</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <div class="row section-headline">
      <div class="col-12 col-lg-10 col-xxl-8 mx-auto">
        <h2>Always at your side to help protect your future</h2>
        <p class="indent">Rapidly changing market conditions and trends, as well as evolving regulatory developments, require long-term strategies and solutions. At EFG, we have a dedicated team of Wealth Planners who can help you to stay on track in a changing world.</p>
        <a href="/contact.html" title="Get in touch " class="btn">Get in touch <i class="icon-efg-line-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section><section>
  <div class="container">
    <div class="row section-headline mb-small">
      <div class="col-12 col-lg-10 mx-auto">
        <h3>Our expertise <br/><br/></h3>
        <div class="text-article"><p>Our Wealth Planners work with you and your trusted advisors to understand your wealth and family structure, risk appetite and objectives in order to define appropriate solutions to achieve your long-term wealth planning goals. Thanks to our open architecture approach, our Wealth Planners have access to both internal and external offerings and the freedom to create the best solution for you. They provide holistic advice on your entire wealth lifecycle, including:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto info-accordion-wrapper">
        <div class="row">
          <div class="col-12">
            <div class="info-accordion">
              <a href="#">
                Asset protection
              </a>
              <div class="text-article">
                <p>Multi-jurisdictional solutions, used in compliance with applicable local regulations, can give help to give you peace of mind by protecting your assets.</p>
                <p><strong>Example</strong></p>
                <p>The client, a prominent entrepreneur, works in a high-risk industry and wishes to put in place additional measures to protect the wealth he has built up through his business from any potential creditor claims in the future. He is concerned that his business could one day be subject to action by creditors, which would impact on the assets held in his EFG bank account. After discussing his objectives with his Wealth Planner, the client decides to create a discretionary trust to separate the legal and beneficial ownership of the underlying business and assets.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                Succession planning
              </a>
              <div class="text-article">
                <p>Solutions to facilitate the transfer of wealth to the next generation in compliance with the relevant regulations (e.g. local forced heirship rules).</p>
                <p><strong>Example</strong></p>
                <p>An entrepreneur with two children would like his daughter, who is already working in the family business, to eventually take over the company.</p>
                <p>The client is concerned that following his death, his son (who has no interest in the family business) could challenge the transfer of the company (i.e. the client&rsquo;s main asset) to his sister, invoking the forced heirship rules applicable in his home jurisdiction.</p>
                <p>After discussing solutions with his Wealth Planner, the client decides on an inheritance agreement under which the company will be transferred to his daughter, while the son will receive a sum of money that is in line with the forced heirship quota.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                Wealth restructuring
              </a>
              <div class="text-article">
                <p>Analysis of complex transactions, structures and risks when managing personal, family and philanthropic wealth.</p>
                <p><strong>Example</strong></p>
                <p>The client&rsquo;s family-owned company has grown in an unstructured way over the years. It now comprises the client&rsquo;s business, the industrial site where the business activities are conducted, and some of his private assets (e.g. a holiday home and boat). In the event of the client&rsquo;s death, his heirs would inherit an equal share of the company, thus putting its governance at risk.</p>
                <p>Secondly, the current structure of the company means that it could not easily be sold to potential buyers, who would probably only be interested in its business activities.</p>
                <p>Thirdly, the client would want to avoid potential creditors to his business making claims on his private assets.</p>
                <p>With the involvement of Wealth Planning and an external advisor, the client is able to create two separate companies &ndash; one that owns the business itself and the other that owns the industrial site &ndash; and the client&rsquo;s private assets are placed into a family trust.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                Multi-jurisdictional families
              </a>
              <div class="text-article">
                <p>It is increasingly common today for families to be spread across several countries. This means that different legal and tax aspects need to be carefully considered to ensure effective wealth planning that is compliant with all relevant regulations.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                Relocation
              </a>
              <div class="text-article">
                <p>Before moving to a new country, numerous factors need to be properly addressed to avoid the problems that could arise if the relocation process is not carefully planned. For instance, all the procedures related to a change of residence should be evaluated to avoid the client being considered as a double tax resident in both countries. A different set of rules could apply to your succession as a result of the move and you will need to review your testamentary will or other forms of succession planning (succession agreements, trust, etc.). Further, when you leave a country, you may be subject to restrictions on the use of real estate in that country in the future. These are just a few examples of the many topics that need to be reviewed in the case of any relocation in order for it to be properly planned and executed.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                Marital planning
              </a>
              <div class="text-article">
                <p>A variety of factors need to be considered to protect your loved ones whenever there is a significant change in the structure of a family.</p>
              </div>
            </div>
            <div class="info-accordion">
              <a href="#">
                Protection of the vulnerable
              </a>
              <div class="text-article">
                <p>What will happen to your loved ones &ndash; including vulnerable family members &ndash; if you are no longer there to protect them financially and in other ways? We help you evaluate the range of options available to ensure your peace of mind.</p>
              </div>
            </div>
          </div>
        </div> </div>
      </div>
    </div>
  </section>
  <section class="bkg-light-grey overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="side-component full align-top">
            <div class="bkg-light-grey side-content">
              <h3>Bespoke solutions for complex requirements</h3>
              <div class="text-article mt-base"><p>In addition to sharing our expertise in the areas outlined above, EFG Wealth Planners can provide you with customised wealth planning services in selected jurisdictions to help you realise your objectives in the most complex areas &ndash; also taking account of multi-jurisdictional and open-architecture approaches. This may encompass a wide range of solutions for estate planning, inheritance and succession planning, wealth structuring, or relocation. With our tailor-made wealth planning services, we offer holistic solutions following a one-stop-shop approach, to meet all your individual needs.</p>
              </div>
            </div>
            <div class="side-image">
              <div class="lazyload" data-sizes="auto" data-bgset="{% static 'images/privatebanking/solution.jpg' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'itstart.html' %}{% endblock %}
